body {
	background: #fff repeat-x top;
	margin: 0 auto;
	padding: 0;
	font-family: Verdana, Arial, Geneva, San-Serif;
}

#login {
	background: url(../images/login_background.png) no-repeat top center;
	border: 0;
	margin: 154px auto;
	padding: 0;
	height: 396px;
	width: 396px;
}

#login #logincontent {
	height: 130px;
	font-size: 9pt;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	margin: 9px;
	overflow-x: hidden;
	overflow-y: auto;
}

#login .logoninstance {
	margin: 0 auto 0 auto;
	padding: 10px 5px;
	font-size: 10px;
	font-weight: 100;
	text-align: center;
	color: #fff;
}

#login .logoninstance #prd {
	color: #af0000;
}

#login .logintext {
	margin: 10px auto;
	font-size: 9pt;
	text-align: center;
	width: 300px;
	color: #fff;
}

#login .login_failed {
	margin: auto;
	width: 300px;
	font-size: 9pt;
	display: inline block;
	text-align: center;
	color: #fff;
	background-color: #2d2f45;
	border: 1px solid #b4b5ca;
	padding: 3px;
	filter: alpha(opacity = 75);
	-moz-opacity: .75;
	opacity: .75;
}

#login .loginnewpassword_failed {
	margin: auto;
	width: 304px;
	font-size: 10pt;
	display: inline block;
	text-align: center;
	color: #fff;
	background-color: #2d2f45;
	border: 1px solid #b4b5ca;
	padding: 3px;
	filter: alpha(opacity = 75);
	-moz-opacity: .75;
	opacity: .75;
}

#login .loginform {
	margin: 0 50px;
	padding: 0;
	width: 275px;
	color: #fff;
	position: absolute;
	top: 380px;
}

#login .loginformreset {
	margin: 0 50px;
	padding: 0;
	width: 275px;
	color: #fff;
	position: absolute;;
	top: 425px;
}

#login .loginlabel {
	text-transform: uppercase;
	font-size: 7pt;
	color: #ededed;
	white-space: nowrap;
}

#login table.loginnewpassword {
	border-collaspe: collaspe;
	border: 0;
	margin: 0;
	padding: 0;
	width: 50%;
}

#login .logincopyright {
	margin: auto;
	padding: 0;
	font-size: 8pt;
	text-align: center;
	width: 390px;
	color: #efefef;
	position: absolute;
	top: 530px;
}

#login .loginpasswordrequirements {
	margin: 5px auto;
	font-size: 8pt;
	text-align: left;
	width: 330px;
	color: #fff;
}

#login .loginpasswordrequirements ul {
	margin: 0;
	padding: 0;
}

#login .loginpasswordrequirements ul li {
	margin: 0 0 0 20px;
	padding: 0;
}

input [type="text"]:focus,input [type="password"]:focus {
	background-color: #cce !important;
	border: 1px solid #000;
	margin: 0;
	padding: 1px;
}

input [type="submit"]:hover {
	border-color: #999 #dfdfdf #dfdfdf #999;
}

input.button {
	font-size: 10px;
	text-align: center;
	color: #333;
	background: #ddd url('../images/button_background.gif') repeat-x top;
	border: 1px solid #dadada;
	cursor: hand;
	padding: 1px 2px;
}

input.login_input {
	border: 1px solid #000;
	padding: 1px;
	width: 290px;
}

input.login_input_new {
	border: 1px solid #000;
	padding: 1px;
	width: 142px;
}