#AIRDownloadMessageTable {
	width: 217px;
	height: 180px;
	border: 1px solid #999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
#AIRDownloadMessageRuntime {
	font-size: 12px;
	color: #333;
}