.header .country-select .form-row:first-child {
    .selectboxit-container {
    	width: 40px;
    	.selectboxit-options {
	    	width: 191px;
	    	right: 0;
	    }
	    .selectboxit-option-icon.selectboxit-container {
		    width: 0;
		}
		.selectboxit-text {
		    text-indent: -999px;
		}
    } 
	li a:before {
	    content: '';
	    margin: 0 5px -1px 0;
	    width: 16px;
	    height: 11px;
	    display: inline-block;
	    background: url("../images/gb-country-sprite.png") 100px 100px no-repeat;
	}
	li {
		&[data-val="UK"] a:before {
		    background-position: 0 0;
		}
		&[data-val="FR"] a:before {
		    background-position: 0 -12px;
		}
		&[data-val="NL"] a:before {
		    background-position: 0 -24px;
		}
		&[data-val="DE"] a:before {
		    background-position: 0 -36px;
		}
		&[data-val="US"] a:before {
		    background-position: 0 -48px;
		}
		&[data-val="CA"] a:before {
		    background-position: 0 -60px;
		}
		&[data-val="AU"] a:before {
		    background-position: 0 -72px;
		}
		&[data-val="ROW"] a:before {
		    background-position: 0 -84px;
		    height:18px;
		}
		&[data-val="NZ"] a:before {
		    background-position: 0 -103px;
		}
	}
}

.country-select form {
	color: $bombay;
    position: absolute;
    z-index: 99;
    right: 30px;
    top: -27px;
	.form-row {
    	display: inline-block;
	    margin: 2px 0 0 0;
	    vertical-align: bottom;
    	label {
		    display:none;
		}
		.field-wrapper {
			width: auto;
		    margin: 0;
		    float: left;
		}
		&:first-child a.sbSelector {
		    color: transparent;
		}
    }
	.selectboxit-container {
		height: 15px;
	    width: 99px;
		background: $maire;
		border: none;
		.selectboxit {
		    height: 15px;
		    border: 0;
		}
		ul#dwfrm_launchwindow_languageSelectBoxItOptions {
		    right: 0;
		}
	}
	.selectboxit .selectboxit-arrow-container {
	    top: 2px;
	    right: 5px;
	    &:before {
	    	content: "\f107";
			color: $bombay;
			font-size: 22px;
			text-align: center;
			line-height: 9px;
		    font-family: FontAwesome;
		    position: absolute;
		    right: 0;
		    top: 1px;
	    }
	}
	.selectboxit-text {
		color: $bombay;
		font-size: 11px;
	    line-height: 15px;
        padding: 0;
	}
	.selectboxit-default-arrow, .selectboxit-option-icon-container {
		display: none;
	}
	span.currency {
	    padding: 0 13px 0 0;
	    font-size: 11px;
	}
	span.shipmentnotification {
	    display: none;
	}
}

span.selectedCountry {
	width: 16px;
    height: 11px;
    display: inline-block;
	position: absolute;
    left: 0;
    top: 3px;
    background: url("../images/gb-country-sprite.png") 0 0 no-repeat;
    &.GB {
	    background-position: 0 0;
	}
	&.FR {
	    background-position: 0 -12px;
	}
	&.NL {
	    background-position: 0 -24px;
	}
	&.DE {
	    background-position: 0 -36px;
	}
	&.US {
	    background-position: 0 -48px;
	}
	&.CA {
	    background-position: 0 -60px;
	}
	&.AU {
	    background-position: 0 -72px;
	}
	&.ROW {
	    background-position: 0 -84px;
	    height:18px;
	}
	&.NZ {
	    background-position: 0 -103px;
	}
}

#wrapper {
	&.pt_checkoutnew {
		.header {
			display: none;
		}
	}
}