@import "nav";
@import "menu_utility";
@import "country_selector";


.primary-logo {
	display: inline-block;
    margin: 0;
    padding: 21px 0 0 33px;
    width: auto;
    img {
    	width: 100%;
    	min-height: 40px;
    }
}
.header {
	background-color: $header-bg;
	width: 100%;
	.header-banner {
		width: 100%;
	    min-height: 29px;
	    margin: 0 auto;
	    padding: 0 35px;
		display:block;
	    position: relative;
    	box-sizing: border-box;
		.header-promotion {
			display: none;
			color: $white;
			padding: 3px 0 11px;
			text-align: center;
			font-family:$pluto-sans-regular;
		}
	}
	.top-banner {
		width: 100%;
	    margin: 0 auto;
	    position: relative;
	    display: table;
	    background-color: $header-bg;
	    box-sizing: border-box;
	    z-index: 5;
	    .menu-toggle, .search-toggle {
	    	display: none;
	    }
	}
	.slot-below-usermenu {
		display: none;
	}
}
.slot-below-usermenu {
	width: 100%;
	display: table;
    position: relative;
	background-color:$top-promo-bg;
    z-index: 3;
	.html-slot-container {
	    margin: 9px auto 7px;
	    display: table;
    	width: 100%;
	    .top-promo {
		    width: 33%;
		    display: table;
    		float: left;
		    text-align: center;
	    	span, a {
	    		color: $maire;
	    		font-size: 12px;
	    		font-family:$pluto-sans-regular;
	    		height: 35px;
			    position: relative;
			    display: table-cell;
			    vertical-align: middle;
			    text-indent: 40px;
	    	}
	    	img {
			    width: 35px;
			    padding-right: 5px;
			    position: relative;
			    top: 11px;
			    margin-top: -21px;
			}
		}
	}
}
.header-search {
	width: 257px;
	height: 40px;
	margin: -45px 167px 0 0;
	float: right;
	form {
		height: 40px;
		color: $black;
		input[type="text"] {
			width: 100%;
			height: 40px;
		    padding: 0 35px 0 20px;
		    float: left;
		    font-size: 15px;
		    font-family:$pluto-sans-bold;
    		line-height: 40px;
			background-color: $white;
		    border: none;
			border-radius: 50px;
		}
		
		button {
		    width: 23px;
		    height: 23px;
		    margin: 7px 11px 0 0;
		    position: absolute;
		    right: 167px;
		    float: right;
		    border: none;
		    background: url("../images/gb-sprite-image.png") -123px -240px no-repeat;
		    -webkit-transition: none;
    		transition: none;
		}
	}
}

.pt_content.living-rooms {
	#header {
		.social-links-share {
			display: none;
			@media screen and (max-width: 1023px) { 
				position: absolute;
				right: 30px;
				top: 30px;
				display: block;
			}
		}
		.social-links {
			@media screen and (max-width: 1023px) {
				display: none; 
				position: absolute;
	    		top: 78px;
	    		right: 0;
	    		background: #1c1c1b;
	    		padding: 5px 10px;
			}
		}
		.copyright-text {
			clear: left;
			.copyright {
				color: $white;
			}
		}
	}
}
@media screen and (min-width: 1024px) {

	.pt_content.living-rooms {
		.social-links-living-rooms {
			position: absolute;
			top: 25%;
			right: 0;
		}
		#header { 
			position: fixed;
			top: 0px;
			z-index: 55;
			.header-banner {
				display: block;
				min-height: auto;
			}
			.top-banner {
				text-align: center;
				max-width: 980px;
    			position: relative;
				.primary-logo {
					padding: 12px 0;
					//width: 184px;
					a { 
						img {
							display: block;
						}
					}
				}
				
			}
		}
		&.fix-head {
			#header {
				.top-banner {
					.primary-logo {
						float: none;
						a {
							width: auto;
							height: auto;
							background : none;
						}
					}
				}
			}
		}
	}
	.fix-head {
		&#wrapper {
		    top: 153px;
		}
		&.pt_checkoutnew#wrapper {
			top: 0;
		}
		#header {
			position: fixed;
			top: 0px;
			z-index: 55;
			.header-banner {
				display: none;
			}
			.top-banner .primary-logo  {
				float: left;
				a {
					width: 57px;
				    height: 45px;
				    display: inline-block;
				    background: url("../images/gb-sprite-image.png") -174px -139px no-repeat;
				    img {
				    	display: none;
				    }
				}
			}
			#navigation {
			    margin: 12px 0 0 0;
			    padding: 0 215px 0 90px;
			    .search-toggle {
			    	width: 43px;
				    height: 48px;
				    margin: 0;
				    position: absolute;
				    right: 0px;
				    top: 0px;
				    display: block;
				    cursor: pointer;
				    border: none;
			        z-index: 9;
				    background: url("../images/gb-sprite-image.png") -117px -193px no-repeat;
			    }
				.header-search {
					width: 100%;
				    height: auto;
				    position: absolute;
				    top: 19px;
				    right: 0;
				    margin: 0;
				    padding: 0 167px 0 107px;
				    box-sizing: border-box;
					#search-suggestions {
						top: 61px;
					}
					form {
						height: auto;
					}
					form input[type="text"] {
					    width: 0;
						padding: 0;
						height: 0;
						+ button[type='submit'] {
							width: 40px;
							height: 40px;
							background-position: -117px -193px;
							margin: 0;
							right: 167px;
						}
						&:focus {
							width: 100%;
							height: 40px;
							margin-bottom: 23px;
						    padding: 0 35px 0 20px;
						    float: right;
							+ button[type='submit'] {
								width: 25px;
								height: 33px;
								background-position: -125px -242px;
								margin: 7px 11px 0 0;
							}
						}
					}
				}
				.menu-category {
					position: static;
					&.level-1 > li {
    					padding: 0 1.5% 32px;
					}
					.level-2 {
						margin-top: 27px;
					}
				}
				.country-select {
					display: none;
				}
			}
			.slot-below-usermenu {
				display: table;
				.html-slot-container .top-promo {
					span, a {
						height: auto;
					}
					img {
						display: none;
					}
				}
			}
		}
	}
	.banner1 {
	    display: block;
	    width: 100%;
	    overflow: hidden;
	    span.show-only-desktop img {
		    width: 100%;
		    height: auto;
		}
		.banner1-text {
		    position: absolute;
		    min-width: 625px;
		    width: 50%;
		    right: 0;
		    z-index: 1;
		    padding: 3% 0 3% 10%;
		    box-sizing: border-box;
		}
	}
}