.menu-utility-user {
	margin: 0;
    padding: 0;
    position: absolute;
    right: 106px;
    top: 13px;
    .user-info {
    	list-style-type: none;
		a.user-account {
			width: 43px;
		    height: 52px;
		    display: block;
			background: url("../images/gb-sprite-image.png") 0px -131px no-repeat;
			&:hover, &.user-logged-in {
				background-position: 0px -177px;
			}
			span {
			    display: none;
			}
		}
		&.active {
			a.user-account {
				background-position: 0px -177px;
			}
			.user-panel {
			    opacity: 1;
			    visibility: visible;
			}
		}
		.user-panel {
			width: 390px;
			padding: 21px 50px 42px;
			position: absolute;
			right: -20px;
    		top: 79px;
			box-sizing: border-box;
			background-color: $white;
			opacity: 0;
			visibility: hidden;
			z-index: 20;
			-webkit-box-shadow: 0px 0px 3px rgb(187, 185, 185);
		    -moz-box-shadow: 0px 0px 3px rgb(187, 185, 185);
		    box-shadow: 0px 0px 3px rgb(187, 185, 185);
			h3 {
				font-size: 15px;
				color: #1c1c1b;
				line-height: 30px;
				font-weight: normal;
				text-transform: uppercase;
				letter-spacing: -0.25px;
			}
			.user-links {
				margin-bottom: 20px;
				padding-bottom: 21px;
				border-bottom: 1px solid #7f7f7f;
				a {
					display: block;
					font-size: 13px;
					font-family:$pluto-sans-bold;
					color: #63b0bb;
					line-height: 30px;
					&.user-logout.sec-btn {
						min-width: 140px;
						margin: 15px 0 10px;
						color: $white;
						line-height: 35px;
					}
				}
			}
			.social-links ul {
				margin: 9px 0 0 0;
			}
			form {
				p {
					font-size: 13px;
					font-family:$pluto-sans-regular;
					line-height: 20px;
				    margin: 34px 0 16px 0;
				}
				input[type="text"] {
					width: 71%;
					height: 35px;
					float: left;
				}
				button.sec-btn {
				    width: 29%;
				    height: 35px;
				    padding: 0;
				    float: left;
				}
			}
		}
	}
}