.menu-category {
	margin: 0;
	padding: 0;
	position: relative;
	text-transform: uppercase;
	list-style: none;
	li {
		list-style: none;
	}
	a {
		color: $white;
		font-size: 14px;
		font-family:$pluto-sans-regular;
		display: inline-block;
		letter-spacing: 0.7px;
	}
}

.level-1 > li {
	padding: 20px 2% 18px;
	float: left;
	background-color: transparent;
	&.shopbyroom {
		padding-left: 33px;
		.level-2 > ul > li {
		    min-width: 85px;
		    padding: 20px 15px 0 0;
		    display: inline-block;
		    text-align: center;
		    a {
		    	font-size: 13px;
		    	line-height: normal;
		    	text-transform: none;
		    	letter-spacing: -0.1px;
		    }
		    .category-img {
			    margin-bottom: 17px;
			}
		}
	}
	&:last-child > a {
	    color: $red;
	    &:hover {
			color: $red;
		}
	}
	.menu-item-toggle {
		display: none
	}
	a {
		padding: 0;
		color: $nav-a;
		&:hover, &:focus {
			color: $nav-a-hover;
		}
		&.has-sub-menu {
			width: 100%;
		}
	}
}

.level-2 {
	clear: left;
    width: 100%;
    max-height: 333px;
    overflow: hidden;
    padding: 24px 33px 33px;
    display: none;
    position: absolute;
    margin-top: 13px;
    left: 0;
    background-color: $white;
    box-sizing: border-box;
    z-index: 9;
	.level-1 > .active & {
		display: block;
	}
	> ul.menu-vertical {
		float: left;
		padding-left: 0;
		> li {
			> a {
				color: $nav-sec-link;
				font-size: 15px;
			    line-height: 30px;
				text-transform: uppercase;
				&:hover, &:focus {
					color: $nav-a-hover;
				}
			}
		}
	}
	> ul.menu-horizontal {
		float: left;
    	width: 83%;
		> li {
			width: 20%;
	        display: inline-block;
		    box-sizing: border-box;
		    &.wide-menu {
			    //width: 40%;
			}
			> a {
				color: $sub-nav-link; 
				font-size: 18px;
				font-family:$pluto-sans-regular;
				text-transform: uppercase;
				width: 90%;
				&:hover, &:focus {
					color: $black; 
				}
			}
		}
	}
	.level-3 {
		display: block;
		padding: 0;
		a {
			color: $nav-sec-link;
			text-transform: none;
			&:hover, &:focus {
				color: $nav-a-hover;
			}
		}
		.view-all-second {
			display: none;
		}
	}
	.wide-menu .level-3 li {
	    float: left;
	    width: 50%;
	    clear: left;
	    &.rightside-menu {
		    float: none;
		    display: inline-block;
		}
	}
	.banner {
		display: block;
		width: 17%;
		text-align: right;
		float: right;
		img {
			vertical-align: top;
		}
	}
}

nav .mob-nav-image {
    padding: 33px 0 0 37px;
    border-top: 1px solid $bombay;
}

