h1 .account-logout {
	font-size: 0.6em;
	float: none;
}

.registration-selection {
	input, label {
		display: inline;
		float: none;
	}
}

.address-list {
	padding: 0;
	li {
		list-style: none outside none;
		margin: 0;
		min-height: 135px;
		padding: 1em 0;
		width: 33%;
		&.default {
			float: none;
			width: auto;
		}
	}
	.mini-address-title {
		font-family: $pluto-sans-bold;
		margin-bottom: 5px;
	}
	.mini-address-name, .mini-address-location {
		line-height: 20px;
	}
}
.payment-list {
	overflow: hidden;
	padding: 0;
	li {
		float: left;
		list-style: none outside none;
		margin: 0;
		min-height: 110px;
		width: 33%;
	}
}


.order-history-header {
	background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top $white-smoke;
	overflow: hidden;
	padding: 10px;
	.label {
		font-weight: 700;
	}
	button {
		float: right;
	}
	.order-status, .order-number {
		float: left;
		margin: 2px 0;
		width: 100%;
	}
}

.order-history-items {
	margin: 11px 0 60px 0px;
}

.order-history-table {
	th, td {
		padding: 5px 10px;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none outside none;
	}
	.order-shipped-to,
	.order-items,
	.order-total-price {
		width: 33%;
	}
	.toggle {
		cursor: pointer;
		display: block;
	}
}

.js .order-history-table .hidden {
	display: none;
}

#wrapper.pt_account #main #primary.primary_address {
	.col-1 {
	   width: 100%;
	    padding-top: 20px;
	    float: left;
	    max-width: 740px;
	    margin-bottom: 20px;
	   .password-data{
	    	display:block;
	    	margin:-15px 0 15px 0;
	    }
	}
	a.why-need.tooltip {
		display: none;
	}
}
#wrapper.pt_account #main #primary.primary_address .col-1 {
	legend {
		margin: 20px 0;
	}
}
#wrapper.pt_account #main {
    max-width: 100%;
}
#wrapper.pt_account.account_addr_personaldetails #main {
    max-width: 1280px;
    #primary .acc_inner {
	    margin: 0;
    }
}
#wrapper.pt_account #main #primary {
	width: 100%;
	float: left;
	margin-bottom: 129px;
	.personal-details{
		padding:10px 0;
		.trade-inner{
		    max-width: 870px;
		    margin: 35px auto;
		    padding: 0 15px;
		    box-sizing: border-box;
		    .footer-note {
		    	text-align: justify;
			    line-height: 20px;
			    float: left;
		    }
		}
	}
	.acc_inner {
		max-width: 840px;
    	margin: 50px auto 0;
	}
	.col-1 {
	        width: 430px;
		    padding-top: 20px;
		    float: left;
		    h1 {
		        font-size: 30px;
    			margin-top: 15px;
		    }
	    p {
		    margin: 20px 0;
		    font-size: 15px;
		    line-height: 20px;
		}
		.login-box.login-order-track {
			padding-top: 36px;
		}
	}
	.col-2 {
	    width: 327px;
	    padding: 19px;
	    border: 1px solid $acc-border;
	    box-sizing: border-box;
	    float: right;
	    legend .dialog-required {
	    	display: none;
	    }
	}
	.login-box a.guest-checkout, .login-box p.for-checkout {
	    display: none;
	}
	form {
	    width: 100%;
	    .form-row {
	    	max-width: 327px;
	    }
		.form-row-button .sec-btn {
			min-width: 140px;
		    margin: 10px 17px 0 0;
			float: left;
		}
		a#password-reset {
		    padding: 2px 0 14px 0;
			display: block;
			font-size: 13px;
		}
	}
	h1.acc-title {
		color:$myacc-title;
		font-size: 30px;
		font-family:$pluto-bold;
		line-height: 30px;
	    margin: 45px 0 40px;
		span.account-logoutconfirmation {
		    float: right;
		    font-size: 15px;
		    font-family:$pluto-sans-bold;
		}
	}
	.account-options {
		margin: 0;
		padding: 0;
		list-style-type: none;
        float: left;
		li {
			width: 410px;
			margin-right: 20px;
		    padding: 20px 0 20px 50px;
		    position: relative;
		    box-sizing: border-box;
		    border-bottom: 1px solid $myacc-border;
		    &:before {
		    	content: '';
			    width: 40px;
			    height: 35px;
			    position: absolute;
			    left: 0;
			    top: 30px;
			    background: url("../images/gb-sprite-image.png") 0px 0px no-repeat;
			    opacity: 1;
			    -webkit-transition: all 0.3s ease;
    			transition: all 0.3s ease;
		    }
		    &:hover:before {
		    	opacity: 0.3;
		    }
			h2 {
			    font-size: 15px;
			    line-height: 30px;
			    text-transform: uppercase;
			    margin-left: 5px;
			    a {
					color:$myacc-a;
					font-family:$pluto-sans-bold;
					display: block;
				}
			}
			p {
			    font-size: 13px;
			    line-height: 30px;
			    a {
					color:$myacc-a;
					font-family:$pluto-sans-regular;
					display: block;
				}
			}
			&.acc-user-detail {
				border-top: 1px solid $myacc-border;
				&:before {
				    background-position: 0 0;
				}
			}
			&.acc-orders:before {
				background-position: -45px 0;
			}
			&.acc-address {
				margin: 0;
				border-top: 1px solid $myacc-border;
				&:before {
					background-position: -95px 0;
				}
			}
			&.acc-saved-items {
				margin: 0;
				&:before {
				    background-position: -151px 0;
				}
			}
			&.acc-newsletter {
				margin: 0;
				&:before {
				    background-position: -199px 0;
				}
			}
		}
	}
}

/* start of ui for order page */
.pt_order {
	.order-history-table th, .order-history-table td {
		 padding: 0px 0px 0px 20px !important;
		 line-height: 19px;
	}
	.order-history-table .order-shipped-to, .order-history-table .order-items, .order-history-table .order-total-price {
		    width: 10%;
	}
	.no_orders {
	    width: 100%;
	    float: left;
	}
}

#wrapper.pt_order #main {
	.breadcrumb {
	    margin-left: 35px;
	}
	#primary {
	    width: 57.7%;
	    float: right;
	    margin-right: 9%;
	    h1 {
	        font-size: 30px;
		    margin-top: 33px;
		    float: left;
		    margin-bottom: 20px;
	    }
	    .search-result-options {
	    	width:auto;
	    	min-width:auto;
	    }
	    .pagination {
	    	margin-top: 25px;
		    li {
			    display: block;
			    float: left;
			    list-style: none;
			    width: 35px;
			    padding: 0px;
			    height: 35px;
			    border: 1px solid $bombay;
			    box-sizing: border-box;
			    text-align: center;
			   	margin: 0px 2.7px;
			    line-height: 33px;
			    &:last-child {
				    margin-right: 0;
				}
			    &.current-page {
			        background-color: $bombay;
		    		color: $white;
			    }
			    a {
			    	color: $maire;
			    	font-family:$pluto-sans-regular;
			    	display: block;
			    }
		    }
		}
	    .search-result-items {
	    	float: left;
	    	width: 100%;
		    .order-history-header {
		    	width:100%;
		    	background: #efefef;
		    	height: 90px;
		    	box-sizing: border-box;
		    	padding: 15px 20px;
		    	button {
				    width: 175px;
				    margin-top: -42px;
				    margin-right: 17px;
		    	}
		    }
	    }
	}
}

#wrapper.pt_order #main, #wrapper.pt_account #main, #wrapper.pt_wish-list #main, #wrapper.pt_newsletter #main {
	#secondary {
	    width: 100%;
	    max-width: 290px;
	    border: none;
	    margin: 12px 0px 129px 18px;
	    display: table;
	    background: none;
	    box-sizing: border-box;
	    margin-left: 34px;
		h1.acc-title {
			color:$myacc-title;
			font-size: 30px;
			font-family:$pluto-bold;
			line-height: 30px;
		    margin: 45px 0 40px;
			span.account-logoutconfirmation {
			    float: right;
			    font-size: 15px;
			    font-family:$pluto-sans-bold;
			}
		}
		.account-options {
			margin: 0;
	        float: left;
	        width: 100%;
    		max-width: 290px;
			li {
				margin-right: 20px;
			    padding: 13px 0 19px 50px;
			    position: relative;
			    box-sizing: border-box;
			    border-bottom: 1px solid $myacc-border;
			    margin: 0 !important;
			    &:before {
			    	content: '';
				    width: 42px;
				    height: 42px;
				    position: absolute;
				    left: 0;
				    top: 19px;
				    background: url("../images/account_image.png") 0px 0px no-repeat;
			    }
				h2 {
				    font-size: 15px;
				    line-height: 26px;
				    text-transform: uppercase;
				    margin-left: 10px;
				    a {
						color:$myacc-a;
						font-family:$pluto-sans-bold;
					}
				}
				p {
				    font-size: 13px;
	    			line-height: 16px;
	    			margin-left: 10px;
	    			margin-top: 10px;
				    a {
						color:$myacc-a;
						font-family:$pluto-sans-regular;
					}
				}
				&.acc-user-detail {
					border-top: 1px solid $myacc-border;
					background: $white;
					&:before {
					    background-position: -35px -28px;
					}
				}
				&.acc-orders:before {
					background-position: -121px -31px;
				}
				&.acc-address:before {
					background-position: -200px -23px;
				}
				&.acc-saved-items {
					margin: 0;
					&:before {
					    background-position: -279px -25px;
					}
				}
				&.acc-newsletter {
					margin: 0;
					&:before {
					    background-position: -364px -28px;
					}
				}
			}
		}
	}
}
#wrapper.pt_account #main {
	#primary.primary_addresslist, #primary.primary_address{
		float:right;
		width: 67%;
		max-width: 100%;
		margin:0;
	}
}
#wrapper.pt_account #main {
	#primary {
		#addresses {
			.section-header {
			    font-size: 17px;
			    font-family: $pluto-sans-bold;
			    margin-top: 10px;
			}
			h1 {
			    margin-top: 35px;
		    	font-size: 30px;
			}
		}
		.address-list li {
			padding: 15px 0 30px 15px;
			line-height: 17px;
		    font-family: $pluto-sans-regular;
		    font-size: 13px;
		    vertical-align: top;
	    	display: inline-block;
	    	box-sizing: border-box;
	   		word-wrap: break-word;
	    	&.first.default {
	    		width:100%;
	    	}
			&.last {
				border-bottom:none;
			}
			address {
				font-style: normal;
			}
			h3 {
				font-size: 15px;
	    		text-transform: uppercase;
	    		margin-top: 14px;
	    		letter-spacing: 0.1px;
	    		margin-bottom: 16px;
			}
		}
	}
}

/* Start of ui for account-address page */
#wrapper.pt_account #main {
.breadcrumb {
    color: #1c1c1b;
    display: block;
    margin-bottom: 16px;
    margin-left: 32px;
    margin-top: 19px;
    a {
        color: $black;
    }
}
#primary {

.pt_address #addresses {
	.section-header {
	    width: 740px;
	    padding: 0;
	    margin: 0;
	    box-sizing: border-box;
	    a {
	        font-size: 15px;
		    margin-top: -20px;
		    float:right;
		    margin-right: 6px;
	    }
	}
	}
}
}

.order-number span {
    font-family: $pluto-sans-bold;
}
.make-as-default {
    margin: 5px 0px 3px 0px;
}
.td_heading {
    width: 100%;
    float: left;
    font-family:$pluto-sans-bold;
}

.accbanner {
	width: 57.7%;
    float: right;
    margin-right: 9%;
}

.reset_pwsd {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 15px;
    box-sizing: border-box;
    .para-align {
    	padding: 15px 0;
    	line-height: 20px;
    }
}
// news letter
#wrapper.pt_newsletter {
	 #main{
		.primary-content.newsletter{
			float: right;
		    width: 74%;
		    max-width: 100%;
		    margin: 0;
		    iframe{
		    	border: none;
		    }
		}
	}
}
#RegistrationForm .autooptionregistration{
	max-width: 330px;
	width: 100%;
    float: left;
    text-align: justify;
}