.tooltip {
	cursor: help;
	position: relative;
	&.product-tile {
		cursor: pointer;
	}
}

.tooltip-content {
	display: none;
}

a.why-need.tooltip {
    margin-bottom: 18px;
    display: block;
}

.ui-tooltip.ui-widget-content {
	background: $white-lilac;
	color: $maire;
	width:auto;
	font-size:13px;
	font-family:$pluto-sans-regular;
	height:auto;
	border:1px solid $bombay;
	padding: 15px 15px 15px 10px;
	box-sizing:border-box;
	box-shadow: none;
	h3{
	font-family:$pluto-sans-bold;
	font-size:18px;
	margin:0px 0px 20px 0px;
	}
	.close-error-msg {
		display: none;
		background-image: url("../images/interface/icon-ui-close.png");
	    background-position: center;
	    position: absolute;
	    z-index: 11;
	    display: block;
	    cursor: pointer;
	    height: 12px;
	    width: 12px;
	    right: 20px;
	    top: 27px;
	}
}
.ui-tooltip.ui-widget-content:before{
    content:"";
    border-color: transparent $bombay transparent transparent;
    border-style:solid;
    border-width:15px 15px;
    width:0;
    height:0;
    position:absolute;
    top: 50%;
    margin-top: -15px;
    left:-30px;
}
.ui-tooltip.ui-widget-content:after {
    content:"";
    border-color: transparent $white-lilac transparent transparent;
    border-style:solid;
    border-width:16px 16px;
    width:0;
    height:0;
    position:absolute;
    top: 50%;
    margin-top: -16px;
    left:-29px;
}

.ui-tooltip-content {
	padding: 0.3em;
	.recommendation-tooltip-header {
		font-size: 1.2em;
		font-weight: bold;
		padding: 0.5em;
		.product-price {
			font-weight: 400;
		
			.price-standard {
				color: $light-black;
				text-decoration: line-through;
			}
		}
	}
	.recommendation-tooltip-description,
	.recommendation-tooltip-attributes {
		padding: 0.8em;
	}
	.shipping-method-cost,
	.surcharge-product,
	.promo {
		text-align: right;
		padding-bottom: .3rem;
	}
	.shippingtotal {
		clear: right;
		text-align: right;
		margin-top: .3rem;
		.value {
			border-top: 1px solid $charcoal;
			padding-top: .3rem;
		}
	}
}
