body {
	background: none repeat scroll 0 0 $white-lilac;
	color: $maire;
	font-family: $sans-serif;
	font-size: 13px;
}

a {
	color: $a-link;
	outline: medium none;
	overflow: hidden;
	text-decoration: none;
	font-family:$pluto-sans-bold;
	letter-spacing: -0.25px;
}

fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
}

th {
	text-align: left;
}

td {
	padding: 1em;
	vertical-align: top;
}

button,
.button,
.buttonstyle,
input[type="button"] {
	background-color: $bombay;
    color: #fff;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
	&[disabled],
	&.disabled {
		background-color: $btn-bg-disable;
		color: $btn-disable;
	}
	a {
		color: $white;
	}
}



.button-text {
	background-color: transparent;
	border-width: 0;
	color: $fountain-blue;
	padding: 0;
	&:hover {
		background-color: transparent;
		text-decoration: underline;
	}
}


*:focus {
    outline: none;
}

.prm-btn, button.prm-btn, a.prm-btn {
	background-color: $prm-btn-bg-col;
    color: $white;
    padding: 15px;
    cursor: pointer;
    font-size: 15px;
    font-family:$pluto-sans-bold;
    border: none;
    border-radius: 0;
	min-height: 50px;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
	&:hover {
		background-color: $prm-btn-bg-col-active;
	}
	&[disabled] {
		background-color: $btn-bg-disable;
		color: $btn-disable;
		cursor: default;
		opacity: 1;
	}
}

.sec-btn, button.sec-btn, a.sec-btn {
	background-color: $sec-btn-bg;
    color: $white;
    padding: 0 15px;
    cursor: pointer;
    font-size: 13px;
    font-family:$pluto-sans-bold;
    display: inline-block;
    border: none;
    border-radius: 0;
	line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
	&:hover {
		background-color: $sec-btn-bg-active;
	}
	&[disabled] {
		background-color: $btn-bg-disable;
		color: $btn-disable;
		cursor: default;
		opacity: 1;
	}
}
.spl-mb-btn, .dummy-btn {
    min-width: 85px;
    padding: 0 30px;
    font-size: 13px;
    font-family:$pluto-sans-bold;
    color: $white;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}

.normal-btn-big {
    min-width: 185px;
    padding: 0 30px;
    font-size: 13px;
    font-family:$pluto-sans-bold;
    color: $white;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}

.product-name a {
	font-family:$pluto-sans-bold;
	color: $maire;
    font-size: 15px;
}
.product-pricing {
	font-family:$pluto-sans-regular;
}
.banner2 {
	.product-name a, .product-pricing {
		color: $maire;
		font-size: 15px;
		line-height: 20px;
	}
}

