.backInStockNotification {
  clear: both;
  width: 100%;
  position: relative;
  .emailNotificationUI {
    width: 71%;
  }
  .bisnemail {
    width: 100%;
    height: 35px;
    float: left;
    padding-left: 9px;
    font-family: "Pluto Sans W01 Regular";
    box-sizing: border-box;
  }
  label {
    display: none;
  }
}

.pdp-main .backInStockNotification .bisnButton {
	width: 29%;
    height: 35px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.backInStockNotification {
	.error {
  		display: inline;
	}
	span.error {
		width: 290px;
	    display: inline-block;
	}
}

.backInStockNotification .bisnemailnstatus {
	font-size: 13px;
	font-family:$pluto-sans-regular;
 	display: inline-block;
    width: 100%;
    margin: 5px 0 0 0;
    &:empty {
    	display: none;
    }
}