.breadcrumb {
	color: $maire;
	margin: 15px;
	li {
		display: inline;
		list-style: none outside none;
	}
	a {
		color: $maire;
		font-family: $pluto-sans-regular;
		&.breadcrumb-element:last-child {
			font-family: $pluto-sans-bold;
		}
	}
	.breadcrumb-element:last-child {
		font-family: $pluto-sans-bold;
	}
	.breadcrumb-element.breadcrumb-result-text {
		font-family: $pluto-sans-regular;
		a {
			font-family: $pluto-sans-bold;
		}
		&:after {
			display: none;
		}
	}
}

.paging-current-page {
	left: -999em;
	position: absolute;
}
.breadcrumb-element {
	&:after {
		color: $maire;
		content: '/';
		margin-left: 6px;
    	margin-right: 3px;
	}
	&:last-child {
		&:after {
			content: '';
		}
	}
}

.breadcrumb-refinement {
	&:after {
		content: attr(data-divider);
	}
	&:last-of-type {
		&:after {
			content: '';
		}
	}
}

.breadcrumb-refinement-value {
	background-color: rgba($citrus, 0.3);
	display: inline-block;
	border-radius: 3px;
}

.breadcrumb-relax {
	background: none;
	color: $sangria;
}

.breadcrumb-result-text a,
.breadcrumb .searchphraselink {
	color: $maire;
}
