.checkout-progress-indicator {
	font-size: 1em;
	overflow: hidden;
	padding-bottom: 1em;
	div {
		display: inline;
		padding: 0 .83em 0 0;
	}
	span {
		text-transform: uppercase;
	}
	.active span {
		font-weight: 700;
		color: $black;
	}
	a {
		color: $night-rider;
	}
	i {
		padding-left: .83em;
		color: $very-light-gray;
	}
	.step-3 {
		padding-right: 0;
	}
}

.shipping-method {
	margin-top: 1.83em;
	label {
		display: inline;
		float: none !important;
		padding-right: .42em !important;
	}
	.shipping-description {
		display: inline;
	}
}

.billing-coupon-code {
    display: none;
    margin-top: -14px;
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
    .form-row {
	    margin: 0;
	    &.label-above {
		    width: 100%;
		    box-sizing: border-box;
		    float: left;
		    height: 35px;
		    margin: 0;
		    input {
			    height: 35px;
			}
		}
		&.coupon-error.error {
			padding: 5px 0;
		}
	}
	td {
		padding: 0;
    	width: 100%;
	}
	button.sec-btn {
	    min-width: 85px;
	    margin-top: 2px;
	}
}

.gift-message-text {
	&.hidden {
		display: none;
	}
}

.max-qty-error {
	border: 1px solid $red;
	padding: 10px 10px 10px 30px;
	&:before {
	    content: "!";
	    width: 20px;
	    height: 20px;
	    margin: 2px 0 0 -25px;
	    float: left;
	    display: block;
	    color: $red;
	    text-align: center;
        line-height: 20px;
	    font-size: 13px;
	    border: 1px solid $red;
	    border-radius: 20px;
	}
}

.redemption {
	color:$red;
	padding:10px 0;
	.success {
		color: $islamic-green;
	}
	span.error {
		margin-left: 0;
	}
}

.payment-method-options {
	width: 327px;
    margin: 18px 0 3px;
    float: left;
	.form-row {
	    margin: 0;
	    float: left;
	    width: 50%;
	}
}
.payment-select-go, .address-select-go {
	margin: 0;
	display:none;
}
.select-address {
    margin: 15px 0 0 0;
}
.payment-method {
	clear: both;
	display: none;
}

.payment-method-expanded {
	display: block;
}

span.expiry-label {
    display: block;
}
.month label, .year label {
    display: none;
}
.form-row.month {
    margin: 0 2% 0 0;
    float: left;
    width: 49%;
}
.form-row.year {
    margin: 0;
    float: left;
    width: 49%;
}
.form-row.month .field-wrapper, .form-row.year .field-wrapper {
    margin: 5px 0 0 0;
}

.month .form-caption {
	margin-left: 0;
}

.cvn {
    clear: left;
    float: left;
    width: 50%;
    .field-wrapper {
        width: 100%;
        span.error {
		    white-space: nowrap;
		}
    }
}
.cvv {
    float: left;
    margin: 19px 0 0 30px;
}

.ssn {
	clear: left;
}

.bml-terms-and-conditions {
	border: 1px solid $dark-gray;
	font-size: 0.8em;
	height: 400px;
	overflow: auto;
	padding: 1em;
}

.bml-table-col-1 {
	width: 25%;
}

.pt_checkout h3 {
	padding-bottom: 1em;
}

.place-order-totals {
	clear: both;
	.order-totals-table {
		float: right;
		width: 50%;
	}
	.content-asset {}
}
.order-savedtotal td {
    padding: 25px 0 5px;
    color: $fountain-blue;
}
.order-component-block {
	margin: 30px 0 0 0;
	.section-header a {
		float: right;
	}
	.details {
	    padding: 17px 0 0 0;
	    line-height: 16px;
	    letter-spacing: -0.3px;
	}
}

.order-summary-footer {
	position: relative;
	h2 {
		font-size: 2em;
		font-style: italic;
		font-weight: normal;
	}
}

.summary-help {
	float: right;
	font-size: 0.8em;
	margin: 1em 0;
}

.submit-order {
	clear: both;
	display: block;
	padding: 1.67em 0 0;
	text-align: right;
	.back-to-cart {
		font-size: 1.1em;
		&:hover {
			text-decoration: underline;
		}
	}
	button {
		margin-left: 1.5em;
	}
}

.pt_order-confirmation #main {
	h1 {
		font-size: 30px;
	    line-height: 30px;
	    letter-spacing: -1px;
	    padding: 15px 0 15px 0;
	    margin: 0 0 0 -2px;
	}
	h3 {
		font-size: 15px;
		font-family:$pluto-sans-bold;
		padding: 15px 0 16px;
    	letter-spacing: -0.3px;
	}
	.order-shipment-table {
		margin: 0 0 1.67em;
		.order-shipment-details {
			border-right: 1px solid $gainsboro;
			min-width: 200px;
		}
	}
	.print-page {
		float: right;
	}
}

.confirmation-message {
	font-size: 15px;
    letter-spacing: -0.35px;
    line-height: 24px;
}

.actions a.continue {
	font-size: 15px;
    margin: 24px 0 26px 0;
    display: inline-block;
    letter-spacing: -0.5px;
}

.order-discount {
	color: $sangria;
}

.gift-cert-used {
	padding: .83em 0;
}

.order-detail-options {
	text-align: right;
	a {
		margin: 0 .83em;
	}
}

.summary .edit {
	position: absolute;
	text-transform: uppercase;
	right: 10px;
	font-size: 0.9em;
	line-height: 1.5em;
}

.pt_cart .breadcrumb {
	padding-left: 0;
}

.pt_order-confirmation .order-confirmation-details .content-header {
	margin: .6em 0 !important;
}

.order-shipment-details {
	.label,
	.firstname,
	.lastname {
		font-weight: bold;
	}
}

.item-shipping-address {
	min-width: 120px;
}

.order-shipment-gift-message-header {
	font-weight: bold;
	font-size: 1.2em;
	padding-bottom: 0px;
}

.order-shipment-gift-message {
	font-size: 1.1em;
}

.billing-error {
	color: red;
	margin: 0 0 .83em 24%;
}

.cvn-tooltip {
	font-weight: bold;
	margin: 5px;
	text-align: center;

	img {
		height: 150px;
		width: 110px;
	}
}
.pt_checkoutnew .summary legend {
	padding: 0 12px;
	h2 {
	    font-size: 15px;
	}
}
.pt_checkoutnew {
	.field-wrapper {
		position: relative;
		.selectboxit-container {
			.selectboxit-options {
				max-height: 250px !important;
				width: 100%;
			}
		} 
	}
	select ~ span.error {
		position: absolute;
		left: 0;
		bottom: 0;
		height: 14px;
    	line-height: normal;
	}
	select.error + span.error + span.selectboxit-container {
	    padding-bottom: 15px;
	}
	select.error + span.selectboxit-container {
	    padding-bottom: 15px;
	}
	ul.suggestions {
	    min-width: 100%;
	    position: absolute;
	    z-index: 9;
	    background-color: $white;
	    border: 1px solid $bombay;
	    box-shadow: 0 5px 10px rgba(0,0,0,.2);
		a {
			padding: 10px 5px;
			display: block;
			white-space: nowrap;
			color: $maire;
			cursor: pointer;
			font-family: $pluto-sans-regular;
			&:hover{
				background-color: $white-lilac;
			}
		}
	}
}
.checkout-header {
    margin: 0 0 59px 0;
}
.checkout-footer {
    text-align: center;
    .checkout-banner {
        margin: 0 0 65px 0;
    }
    ul li {
	    display: inline-block;
	    a {
		    color: $maire;
		}
		&:first-child a {
			padding: 0 45px 0 10px;
		}		
	}
}
#wrapper.pt_order-confirmation {
	#main {
	    max-width: 840px;
    	margin: 50px auto;
	}
	.primary-content {
		width: 100%;
	 	max-width: 430px;
	 	float: left;
	 	.hide-button-news {
	 		display:none;
	 	}
	}
	.order-confirmation-details {
		.item-list {
			width: 100%;
    		max-width: 327px;
			margin-top: 2px;
			> tbody > tr > td {
			    width: 100%;
			    padding: 15px 0 16px;
			    box-sizing: border-box;
			    display: block;
			    font-size: 15px;
			    line-height: 20px;
			    letter-spacing: -0.5px;
			    border-bottom: 1px solid $white-lilac;
			    address {
		    	    font-style: normal;
			    }
			    &.order-payment-summary {
				    border-bottom: none;
				    margin-top: -1px;
				    border-top: 1px solid $bombay;
				}
			}
		}
	}
	#secondary.summary {
	    float: right;
	    width: 327px;
	    padding: 22px 18px 29px 17px;
	    border: 1px solid $bombay;
	    box-sizing: border-box;
	}
	.next-steps {
	    font-size: 18px;
	    font-family: $pluto-sans-bold;
	}
	#confsubscribe-div {
		.confsubscribe {
			padding: 10px 25px;
    		min-height: auto;
    		@media screen and (max-width: 767px) { 
    			padding:10px 16px;
    		}
		}
	}
	
	.delivery-method {
	    font-size: 15px;
	    margin-bottom: 15px;
		p {
			line-height: 20px;
			padding: 10px 0;
			span {
				font-family: $pluto-sans-bold;
			}
		}
	}
}

.form-row.form-indent {
	input[type="radio"] {
		opacity: 0;
		position: absolute;
		z-index: 11;
		left: 0;
    	top: 3px;
    	cursor: pointer;
		+ label:before {
			content: '';
			background: #fff;
			background-clip: content-box;
			display: inline-block;width: 20px;
			height: 20px;
			border-radius: 50px;
			border: 1px solid #b2b2b1;
			padding: 2px;
			position: absolute;
			left: 0;
			z-index: 1;
			box-sizing: border-box;
		}
		&:checked + label:before {
			background-color: #b2b2b1;
		}
	}
}


.PCA-search-text {
	position: relative;
	button.pca-field-reset {
	    position: absolute;
	    right: 5px;
	    top: 26px;
	    z-index: 1;
	    background: none;
	    color: $black;
	    font-size: 25px;
	    border: none;
	}
}
.checkout-tab span.errorcheck {
    font-style: italic;
    color: $red;
    display: block;
    padding: 5px 0 0 0;
}
.pt_checkoutnew {
	.checkout-tab-content{
	.checkoutlogin {
		.checknewsletter.hide-checkbox-news{
			display: none;
		}
	}
	}
	.checkout-tab.firstTab{
		margin-top: 0;
	}
}

/* code for GB-705 ticket */
#wrapper {
	&.pt_checkoutnew {
		#main {
			max-width: 1000px;
			&.primary-check-section {
				max-width: 840px;
				#primary {
					max-width: 430px;
					@media screen and (max-width: 767px) { 
						width: 100%;
						max-width: 100%;
					}
				}
			}
			@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
				max-width: 920px;
			}
			#secondary {
				@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
					width: 300px;
				}
			}
			#primary {
				max-width: 620px;
				@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
					max-width: 590px;
				}
				@media screen and (max-width: 767px) { 
					width: 100%;
					max-width: 100%;
				}
				.spc-login, .spc-billing {
					.checkout-tab {
						max-width: 430px;
						@media screen and (max-width: 767px) { 
							width: 100%;
							max-width: 100%;
						}
					}
				}
				.spc-shipping {
					.checkout-tab {
						max-width: 430px;
						@media screen and (max-width: 767px) { 
							width: 100%;
							max-width: 100%;
						}
						&.checkout-tab-dd-ss {
							max-width: 100%;
							.checkout-tab-head {
								max-width: 430px;
								@media screen and (max-width: 767px) { 
									width: 100%;
									max-width: 100%;
								}
							}
						}
						.select-del-opt {
							margin-top: 20px;
    						font-size: 16px;
    						font-family: $pluto-sans-regular;
						}
						.delivery-tab-text ,.click-and-collect-tab-text {
							width: 50%;
							float: left;
							margin-bottom: 20px;
							.bb-js {
								width: 100%;
								min-height: 127px;
							    display: block;
							    padding: 20px 5px;
							    box-sizing: border-box;
							    font-size: 14px;
							    margin: 20px 0 0 0px;
							    text-align: center;
							    letter-spacing: 0.5px;
							    color: $maire;
						    	background-color: $white-lilac;
						    	border: $white-lilac;
							    .shipping-point, .deliveryaddress {
							    	font-size: 10px;
							    	margin-top:2px;
							    }
							    .delivery-image {
							    	background: url("../images/van.png") 0px 0px no-repeat;
							    	width: 71px;
								    height: 44px;
								    text-align: center;
								    margin: auto;
								    margin-bottom: 10px;
						    	}
						    	.shipping-image {
							    	background: url("../images/placeholder.png") 0px 0px no-repeat;
							    	width: 24px;
								    height: 42px;
								    text-align: center;
								    margin: auto;
								    margin-bottom: 10px;
						    	}
							    &.delivery-text {
							    	border-right: 0;
							    }
							    &.act {
							    	background-color: #5d5d5d;
								    color: $white;
								    border: 1px solid #919191;
							    }
							    @media only screen and(max-width: 767px) {
							    	padding: 17px;
							    	font-size: 13px;
							    	min-height: 150px; 
							    }
							    @media only screen and(max-device-width: 320px) {
							    	padding: 10px;
							    }
							}
						}
						.delivery-details {
							width: 100%;
							float: left;
    						box-sizing: border-box;
    						display: none;
							&.active1 {
								display: block;
							}
    						
    						@media only screen and(max-width: 767px) {
    							padding-left: 0;
    						}
							.tab-content-show {
								form {
									max-width: 350px;
									padding-left: 20px;
									box-sizing: border-box;
									@media only screen and(max-width: 767px) {
										max-width: 95%;
									}
								}
								h2.tab-delivery-head {
									top: -1px;
								    position: relative;
								    width: 100%;
								    font-size: 15px;
								    line-height: 30px;
								    margin: 0px 0 0 0;
								    padding: 20px 0 10px 20px;
								    box-sizing: border-box;
								    letter-spacing: -0.4px;
								    text-transform: none;
								    //border-image: linear-gradient(to bottom, #cacac9, rgba(202, 202, 201, 0)) 1 100%;
								}
							}
						}
						.clickandcollect {
							width: 100%; 
							float: left;
    						box-sizing: border-box;
    						display: none; 
							&.active1 {
								display: block;
							}
    						@media only screen and(max-width: 767px) {
    							padding-left: 0;
    						}
							.clickandcollect-content {
								.billing-head-click {
									padding-left: 0;
									border-left: 0;
									padding-top: 0;
								}
								h2 {
									top: -1px;
								    position: relative;
								    width: 100%;
								    font-size: 15px;
								    line-height: 30px;
								    margin: 0px 0 0 0;
								    padding: 20px 0 10px 20px;
								    box-sizing: border-box;
								    letter-spacing: -0.4px;
								    text-transform: none;
								    //border-left: 1px solid $click-left-gray;
								    border-right: 0px;
								    //border-image: linear-gradient(to bottom, #cacac9, rgba(202, 202, 201, 0)) 1 100%;
								}
								form {
									max-width: 630px;
									//position: relative;
									&.click-pos-form {
										margin-bottom: 0px;
									    box-sizing: border-box;
									    padding-left: 20px;
									    @media only screen and(max-width: 767px) {
									    	span.error {
												float: left;
											}
									    }
									    #dwfrm_shiptoshop_postal {
											width: 330px;
											+ .error {
												float: left;
												width: 100%;
											}
											@media only screen and(max-width: 767px) {
												width: 100%;
											}
										}
									}
									&.click-and-collect-form {
										max-width: 620px;
										padding-left: 20px;
										box-sizing: border-box;
										@media only screen and(max-width: 767px) {
											max-width: 95%;
											span.error {
												float: left;
											}
										}
									}
									.form-row  {
										width: 330px;
										@media only screen and(max-width: 767px) {
											width: 100%;
										}
									}
									.postal-data {
										max-width: 630px;
										display: flex;
										.form-row  {
											display: inline-block;
											@media only screen and(max-width: 767px) {
												width: 100%;
											}
										}
										.candc-find {
											float: right;
										}
									}
								}
								.map-content-section {
									max-width: 415px;
									float: left;
									font-size: 13px;
									font-family: $pluto-sans-regular;
									@media only screen and(max-width: 767px) {
										width: 100%;
										letter-spacing: 0.5px;
									}
								}
								.map-content-delivery {
									width: 100%;
									float: left;
									font-size: 13px;
									font-family: $pluto-sans-regular;
									color: $fountain-blue;
									margin-top: 15px;
								}
								.candc-find {
									width: 20%;
									height: 40px;
								    background-color: $black;
								    color: $white;
								    padding: 5px;
								    cursor: pointer;
								    font-size: 13px;
								    font-family: $pluto-sans-regular;
								    border: none;
								    border-radius: 0;
								    text-align: center;
								    text-transform: uppercase;
								    box-sizing: border-box;
								    transition: all 0.3s ease;
								    margin: 22px 0px;
								    letter-spacing: 0.5px;
								    //position: absolute;
								    //top: 289px;
								    left: 310px;
								    min-height: 0;
								    @media screen and (min-width: 768px) and (max-width: 1023px) {
										//top: 288px;
									}
									@media only screen and(max-width: 767px) { 
										top: 290px;
									}
								    &.spc-shipping-shiptoship-btn {
								    	margin: 20px 0px;
								    	&:hover {
								    		background-color: $black;
								    	}
								    }
								    @media only screen and(max-width: 767px) {
								    	width: 30%;
								    	left: 70%;
								    }
								}
								.spc-shipping-shiptoship-btn {
									margin: 0px 0px 10px;
									&:hover {
										background-color: $fountain-active-green;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

#wrapper {
	#main {
		#primary {
			.checkout-tabs.spc-shipping {
				.checkout-tab {
					.delivery-details {
						display: none;
						&.active {
							display: block;
						}
					}
					.clickandcollect {
						display: none;
						&.active {
							display: block;
						}
						.responce-data-isml {
							width: 100%;
							float: left;
							margin-top: 20px;
							&.empty-result {
								display: none;
							}
							#map {
								width: 50%;
								float: left;
								@media only screen and(max-width: 767px) {
									width: 100%;
									margin-bottom: 20px;
								}
							}
							.pickup-stores {
								width: 50%;
							    float: left;
							    padding-left: 20px;
							    box-sizing: border-box;
							    height: 400px;
							    overflow: auto;
							    margin-bottom: 25px;
							    position: relative;
							    @media only screen and(max-width: 767px) {
							    	width: 100%;
							    	padding-left: 0;
							    	margin-bottom: 0px;
							    }
							}
							.suggested-stores.custmradio {
								width: 100%;
								float: left;
								margin-bottom: 20px;
								position: relative;
								@media only screen and(max-width: 767px) {
									margin-bottom: 30px;
								}
								.store{ 
									&.active {
										.checkout-delivery-locations-list {
											display: block;
										}
									}
									.click-select {
										color: $grey-rider;
										font-size: 14px;
										font-family: $pluto-sans-regular;
									    vertical-align: top;
									    margin: 5px 0 0 6px;
									    display: inline-block;
									}
									.click-clounter {
										color: $grey-rider;
										font-size: 14px;
										font-family: $pluto-sans-regular;
									    vertical-align: top;
									    margin: 5px 8px 0px 0px;
									    display: inline-block;
									    float: right;
									}
								}
								.radio-label {
									width: 100%;
									float: left;
									input[type="radio"] {
										border-radius: 0px;
										margin-left: 0;
										&:checked {
											border: 1px solid $bombay;
										    background: url(../images/gb-sprite-image.png) -151px -243px no-repeat grey;
										}
									}
								}
								.checkout-delivery-locations-name-distance {
									width: 100%;
									float: left;
									margin: 10px 0;
									h3 {
										font-size: 15px;
										letter-spacing: 0;
									}
								}
								.checkout-delivery-locations-name {
									width: 75%;
									float: left;
								}
								.checkout-delivery-locations-distance {
									width: 25%;
									float: right;
									padding-right: 8px;
								    box-sizing: border-box;
								    text-align: right;
								}
								.checkout-delivery-locations-address {
									width: 100%;
									float: left;
									margin-bottom: 15px;
								}
								.checkout-delivery-locations-closing {
									width: 100%;
									float: left;
								}
								.js-collect-locations-open {
									width: 100%;
									float: left;
									font-family: $pluto-sans-regular;
									font-size: 13px;
									text-decoration: underline;
									color: $grey-rider;
								}
								.checkout-delivery-locations-list {
									width: 100%;
									float: left;
									display: none;
									background-color: $white;
								    position: absolute;
								    top: 0px;
								    padding: 15px;
								    box-sizing: border-box;
									@media screen and (min-width: 768px) and (max-width: 1023px) {
										left: -1px;
									}
									.checkout-delivery__locations-close {
										width: 100%;
										float: left;
										&:before {
											content: " ";
											display: inline-block;
											background: url('../images/gb-sprite-image.png') no-repeat -52px -247px;
											width: 18px;
											height: 18px;
											float: right;
										    position: relative;
										    right: 10px;
										}
									}
									ul {
										width: 100%;
										float: left;
										list-style-position: inside;
    									list-style: initial;
										li {
											width: 100%;
											float: left;
											margin-bottom: 5px;
										}
									}
								}
							}
							.checkout-delivery-lookup-link {
								width: 100%;
								float: left;
								color: $night-rider;
								font-family: $pluto-sans-regular;
								font-size: 13px;
								text-decoration: underline;
							}
						}
						.spcshipping {
							.spc-shipping-shiptoship-btn {
								width: 330px;
								background-color: $fountain-green;
							    color: $white;
							    padding: 15px;
							    cursor: pointer;
							    font-size: 15px;
							    font-family: $pluto-sans-bold;
							    border: none;
							    border-radius: 0;
							    min-height: 50px;
							    text-align: center;
							    text-transform: uppercase;
							    box-sizing: border-box;
							    transition: all 0.3s ease;
							    @media only screen and(max-width: 767px) {
							    	width: 100%;
							    } 
							}
						}
						.checkout-delivery-lookup-link {
						    color: $black;
						    text-decoration: underline;
						    font-family: $pluto-sans-regular;
							font-size: 13px;
							display: block;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}