/*Start JIRA PREV-59:Shipping Method Section: Price displaying one beside the other when Shipping level promotion is applied.  */
.standard-shipping {
	text-decoration: line-through;
}
/*END JIRA PREV-59 */

/*Start JIRA PREV-62 :In empty cart page blank space at the bottom does not display  */
.cart-empty {
	min-height: 280px;
}
/*End JIRA PREV-62  */

/* Start JIRA PREV-228 : Store locator: Map is  displaying below address column */
.storelocator_cont>.storelocator_table {
	height: 380px;
	float: left;
	width: 38%;
	overflow-y: scroll;
}

.storelocator_cont>#map_canvas {
	width: 61% !important;
	float: right;
}
/*END JIRA PREV-228 */

/*Start JIRA PREV-212:Checkout Billing page : In Billing page 'What is this?' tool tip not displaying properly aligned*/
.cvn-tip {
	width:100px;
	position: relative;
	top: 60px;
	right: 15px;
 }
 @media screen and (max-width: 480px) {
 	.cvn-tip {
    display: block;
    position: relative;
    top: 75px;
    left: 90px;
	right: 0px;
	}
 }
 @media screen and (max-width: 767px) {
 	a.tooltip {
 		overflow: inherit;
    	display: inline-block !important;
	}
	
	/* Start PREV-230 : Store Locator: Alt tags/Marks of searched address not displaying in the Map */
	&#map_canvas {
		max-width: none;
	
		img, div {
			max-width: none;
		}
	}
	/* End PREV-230 */
	#product-nav-container{
		position: relative;
	}
 }
 
 /*END JIRA PREV-212*/
 
 /* Start JIRA PREV-361 : On click of Remove link in Compare page no action seen */
 .product-tile .pr_stars {
   display: inline-block;
}


/*PREV-85 : Add a Credit Card overaly: "CANCEL" should be displayed as button.*/
.payment-card-cancel{
	display : initial;
}
/*End JIRA PREV-85*/
/* Start JIRA PREV-464 : Products added in the Compare section are removed from PLP along with many other products also. */
#compare-table {
	.remove-link {
		position: relative;
		z-index: 9;
	}
}
/*End JIRA PREV-464*/

.desktop-only {
	display: initial !important;
}
.iphone-only, .ipad-only {
	display: none !important;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.ipad-only{
		display: initial !important;
	}
	.desktop-only , .iphone-only {
		display: none !important;
	}
}
@media screen and (max-width: 767px) {
	.iphone-only{
		display: inline-block !important;
	}
	.desktop-only , .ipad-only {
		display: none !important;
	}	
}