.footer {
	padding-bottom: 20px;
	background-color: $white-lilac;
	clear: both;
	footer {
		width: 100%;
		margin: 0 auto;
		.footer-container {
			width: 100%;
			padding: 65px 9.21% 20px;
			display: table;
			box-sizing: border-box;
			.footer-right {
				width: 27.72%;
				float: right;
				.social-links ul {
				    margin-top: 11px;
				}
				#email-alert-signup {
					p {
					    margin: 31px 0 15px 0;
				        line-height: 20px;
					}
					input[type="text"] {
						width: 71%;
						height: 35px;
						float: left;
					}
					button {
					    width: 29%;
					    height: 35px;
					    padding: 0;
					    float: left;
					}
				}
			}
			.footer-left {
				width: 72.27%;
				float: left;
				.footer-item-1 {
					width: 29.6%;
					float: left;
				}
				.footer-item-2 {
					width: 33.77%;
					float: left;
				}
				.footer-item-3 {
					width: 36.42%;
					float: left;
					.coolbrands {
					    margin-top: 41px;
					    float: left;
					}
				}
				ul {
					margin: 0;
					padding: 0;
					li {
						width: 100%;
						a {
					    	color: #3e3e3e;
	    					font-family:$pluto-sans-regular;
					    	line-height: 30px;
					    	&:hover, &:focus {
								color: $nav-a-hover;
							}
	    				}
					}
				}
			}
			h3 {
				line-height: 30px;
				margin: 0;
				color: #3e3e3e;
			    font-size: 15px;
			    text-transform: uppercase;
		        letter-spacing: -0.3px;
			}
		}// footer-container
	}//footer tag
	.copyright {
		color: #3e3e3e;
		text-align: center;
		font-size: 12px;
		font-family:$pluto-sans-regular;
		line-height: 20px;
	}
}//.footer

.social-links ul li {
	display: inline;
	a {
	    width: 23px;
	    height: 23px;
	    margin-right: 1px;
	    color: #9e9e9e;
		font-size: 17px;
	    text-align: center;
	    line-height: 23px;
	    border: 2px solid #9e9e9e;
	    border-radius: 27px;
	    -webkit-transition: all .5s;
		transition: all .5s;
	    &:hover {
	    	color: $black;
	    	border: 2px solid $black;
	    }
	}
	a.polyvore {
	    display: inline-block;
	    &:before {
		    content: 'POLY VORE';
		    font-size: 7px;
		    padding: 4px 0 0 0;
		    line-height: 8px;
		    display: inline-block;
		}
	}
}
#wrapper{ 
	.copyright{
		text-align:center;
	}
}

.footer.living-rooms {
	display: inline-block;
	background-color: #1c1c1b;
	padding: 30px 0;
	color: $white;
	width: 100%;
	footer {
		max-width: 980px;
	}
	.footer-right-living-rooms,
	.footer-left-living-rooms {
		width: 50%;
		float: left;
		@media screen and (max-width: 1023px) { 
			width: 100%;
			float: none;
			text-align: center;
		}
	}
	.footer-right-living-rooms {
		.social-links {
			h3 {
				font-size: 16px;
    			text-transform: uppercase;
    			margin-bottom: 15px;
			}
			
		}
	}
	.footer-left-living-rooms {
		.footer-item-1 {
			h3 {
				font-size: 16px;
				@media screen and (max-width: 1023px) {  
					margin: 15px 0;
				}
				
			}
			.menu-footer {
				li {
					width: 100%;
					float: right;
    				text-align: right;
    				@media screen and (max-width: 1023px) { 
    					float: left;
    					text-align: center;
    					
    				}
				}
			}
		}
	}
}
