.js .simple-submit {
	display: none;
	color:$white;
}

legend {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: $legend-bg;
    color: $black;
    font-size: 18px;
    display: table;
    height: 50px;
    text-transform: uppercase;
	span {
		font-size: 12px;
		font-weight: 400;
		position: relative;
		text-transform: none;
		em {
			font-style: normal;
		}
	}
	h2 {
	    margin: 0;
	    display: table-cell;
	    width: 100%;
	    height: 50px;
	    vertical-align: middle;
	    font-size: 18px;
    	letter-spacing: -0.65px;
	}
	.dialog-required {
		display: table-cell;
	    vertical-align: middle;
	    text-align: right;
	    white-space: nowrap;
	}
}

.dialog-required {
	display: inline;
	font-size: 12px;
	font-family:$pluto-sans-bold;
	position: relative;
	text-transform: none;
	em {
		color: $night-rider;
		font-style: normal;
	}
}

.form-label-text {
}

.form-row {
	@extend %clearfix;
	margin: 0 0 18px 0;
}

.form-row-button {
	clear: left;
}

.field-wrapper {
	box-sizing: border-box;
    margin: 2px 0 0;
	width: 100%;
	.label-inline & {
		float: left;
		padding-left: 0;
		width: auto;
	}
	.label-above & {
		float: none;
		padding-left: 0;
		width: auto;
	}
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
textarea {
	border: 1px solid $acc-border;
	border-radius: 0;
	box-sizing: border-box;
	height: 40px;
	padding: 0 9px;
	text-indent: 0;
	width: 100%;
}

input.error[type="text"],
input.error[type="email"],
input.error[type="number"],
input.error[type="password"],
input.error[type="date"],
textarea.error {
	border-color: $error;
}
.error {
	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="date"],
	textarea {
		border-color: $error;
	}
}

input[type="text"],
input[type="email"] {
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
    border-radius: 0;
}

select {
	background-color: #fff; // set background color to make height work
	width: 100%;
	.search-result-options & {
		height: 33px;
	}
}

input[type="checkbox"],
input[type="radio"] {
	margin: 1em 1% 1em 2%;
	.label-inline & {
		margin: 0;
	}
}

.form-caption {
	clear: left;
	width: auto;
}

.error-message {
	color: $red;
	font-style: italic;
}

.error {
	border-color: $error;
	color: $error;
}

span.error,
div.error {
	background: none;
}

span.error {
	font-style: italic;
}

.error-form {
	color: $red;
	padding: 10px 0;
}

.form-inline {
	form {
		padding: 0 0 2em;
		width: 98%;
	}
	label {
		padding: 0 0 0.75em;
		text-transform: uppercase;
		width: auto;
	}
	input[type="text"], select {
		margin-left: 0;
		width: 95%;
	}
	button {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
}

.row-inline {
	display: inline;
	label {
		width: auto;
	}
}

.require-dialog {
	font-weight: 400;
	position: absolute;
	right: 1em;
	text-transform: none;
	top: 1em;
}

.required-indicator {
	color: $require-star;
}

.form-field-tooltip {
	float: left;
	margin-left: 3%;
	padding-top: .75em;
	width: 20%;
}




label {	
	width: 100%;
	display: inline;
	font-size: 13px;
    line-height: 20px;
    text-align: left;
}
.error .required-indicator {
	color: $red;
}
.form-horizontal {
	label {
		text-align: left;
		width: 100%;
	}
}



/* Base for label styling */
input[type="checkbox"] {
  position: absolute;
  width: 30px; 
  height: 20px;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

/* checkbox aspect */
input[type="checkbox"] + span.custom-checkbox {
  width: 20px; 
  height: 20px;
  margin-right: 10px;
  display: block;
  border: 1px solid $bombay;
  box-sizing: border-box;
  background: $white url("../images/gb-sprite-image.png") -151px -243px no-repeat;
  position: relative;
  z-index: 0;
  cursor: pointer;
} 

/* checkbox aspect */
input[type="checkbox"]:checked + span.custom-checkbox {
  background-color: $bombay;
}

/* disabled checkbox */
input[type="checkbox"]:disabled + span.custom-checkbox {
  border-color: $white-lilac;
  background-color: $white-lilac;
  background-image: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}
.header-search form input[type="text"]::-webkit-input-placeholder {
opacity:1;
   color: $maire;
}
.header-search form input[type="text"]:-moz-placeholder {
   color: $maire;
   opacity:1;
}
.header-search form input[type="text"]::-moz-placeholder {
   color: $maire;
   opacity:1;
}
.header-search form input[type="text"]:-ms-input-placeholder {  
   color: $maire;
   opacity:1;
}

.fix-head .header-search form input[type="text"]::-webkit-input-placeholder {
   color: $white;
}
.fix-head .header-search form input[type="text"]:-moz-placeholder {
   color: $white;
}
.fix-head .header-search form input[type="text"]::-moz-placeholder {
   color: $white;
}
.fix-head .header-search form input[type="text"]:-ms-input-placeholder {  
   color: $white;
}

input[type="radio"] {
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
    background: $white;
    background-clip: content-box;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid $bombay;
    padding: 2px;
    margin: 3px;
}
input[type="radio"]:checked {
    background-color: $bombay;
}