#wrapper.pt_storefront #main {
    width: 100%;
    max-width: 100%;
    position: relative;
    top: 0;
    display: block;
    .trade-sucess-message{
    	padding:30px 0 30px 70px
    }
}
#homepage-slider {
	position: relative;
	overflow: hidden;
	width: 100%;
}


/*Banner1 Start*/
.banner1 {
	img {
		float: left;
		width: 100%;
	}
	.banner1-text {
		.dummy-btn {
			background-color: #6ec3e5;
		}
		h1 {
			font-size: 73px;
			line-height: 73px;
			color: $maire;
			margin: 7px 0 21px;
		}
		a.normal-btn-big {
			color: $maire;
			background-color: $white;
		}
	}
}
/*Banner1 End*/

/*Banner2 Start*/
.banner2 {
	width: 100%;
    padding: 150px 0 121px;
    display: inline-block;
	.banner2-left {
		width: 50%;
		padding: 0 6% 0 9.15%;
		float: left;
		box-sizing: border-box;
		.dummy-btn {
			color: $white;
			background-color: #a26d19;
		}
		h2 {
			font-size: 56px;
		    line-height: 56px;
		    color: $maire;
		    margin: 8px 0 17px;
		    letter-spacing: -3px;
		    word-spacing: -2px;
	        max-width: 550px;
		}
		p {
		    margin: 15px 0 20px;
			font-size: 15px;
			color: $maire;
			line-height: 20px;
		    max-width: 550px;
		}
		a.normal-btn-big {
			color: $white;
			background-color: $black;
		}
	}
	.banner2-slide {
		width: 50%;
		float: right;
	    box-sizing: border-box;
		overflow: hidden;
		&.banner2-slider {
			.banner2-right {
				width: 69.3%;
			}
			.slick-slide {
				background: url("../images/gb-and-logo.png") 91.3% 90px no-repeat;
				padding: 0px 4.2% 0 35px;
				background-size: 17%;
			    opacity: 0.3;
			    -webkit-transition: opacity 1s;
          		transition: opacity 1s;
			    &.slick-active {
			    	opacity: 1;
			    }
			}
		}
	}
	.banner2-right {
		width: 100%;
		margin: 0;
		padding: 0;
		list-style-type: none;
		float: left;
		.slick-list {
		    overflow: visible;
		}
		button.slick-prev {
			width: 31px;
			height: 61px; 
		    left: 0;
		    top: 46.5%;
		    z-index: 5;
		    background-position: -295px -199px;
		}
		button.slick-next {
			width: 31px;
			height: 61px; 
		    left: 127.5%;
    		top: 46.5%;
		    z-index: 1;
			background-position: -235px -137px;
		}
		.product-tile {
			.product-review, .product-promo {
				display: none;
			}
		}
	}
}
/*Banner2 End*/

/*Banner3 Start*/
.banner3 {
	img {
	    float: left;
	    width: 100%;
	}
	.banner3-text {
		position: absolute;
		z-index: 10;
		max-width: 315px;
	    left: 58.5%;
	    top: 26.1%;
		.dummy-btn {
			color: $white;
			background-color: #e84e0a;
		}
		h2 {
			font-size: 56px;
			line-height: 56px;
			color: #292928;
		    margin: 13px 0 5px;
		}
		p {
			margin: 0 0 28px;
			font-size: 15px;
			line-height: 20px;
			color: $white;
		}
		a.normal-btn-big {
			color: #313131;
			background-color: $white;
		}
	}
}
/*Banner3 End*/

/*Banner4 Start*/
.banner4 {
	width: 100%;
	background-color: #faf3e8;
	float: left;
	.banner4-left {
	    width: 50%;
	    float: left;
	    padding: 8.9% 7.35% 6.1% 9%;
	    box-sizing: border-box;
		.dummy-btn {
			color: $white;
			background-color: #677c6e;
		}
		h2 {
		    margin: 12px 0 15px -6px;
		    font-size: 56px;
		    letter-spacing: -3px;
		    color: #222222;
		    line-height: 56px;
	        max-width: 540px;
		}
		p {
			margin: 16px 0 19px;
			font-size: 15px;
			line-height: 20px;
		    max-width: 540px;
		}
		a.normal-btn-big {
			color: #222222;
			background-color: $white;
		}
	}
	.banner4-right {
		width: 50%;
	    float: right;
	    text-align: center;
	    background-color: #e7d1ac;
	    margin-bottom: -999px;
    	padding-bottom: 999px;
	    img {
	    	max-width: 75%;
	    }
	    span {
	    	margin: 49px auto 40px;
	    	font-size: 15px;
	    	color: $white;
	    }
	}
}
/*Banner4 End*/

/*Banner5 Start*/
.banner5 {
	.banner5-one, .banner5-two, .banner5-three {
		width: 33.33%;
		float: left;
		.slick-slide {
			a {
			    position: relative;
			    display: block;
			    img {
					width: 100%;
					display: block;
				}
				span.center-text {
				    width: 107px;
				    height: 107px;
				    margin: -53px 0 0 -53px;
				    padding-top: 37px;
				    position: absolute;
				    top: 50%;
				    left: 50%;
				    border-radius: 50%;
				    font-size: 15px;
				    font-family:$pluto-sans-bold;
				    color: $maire;
				    background-color: $white;
				    box-sizing: border-box;
				    cursor: pointer;
				}
			}
			.text-tap {
				padding: 18px 0 35px 0;
				color: $white;
				position: relative;
				h4 {
				    font-size: 13px;
    				line-height: 12px;
    				letter-spacing: 0;
				}
				p {
			        font-size: 15px;
				    height: 27px;
				    display: inline-block;
				    vertical-align: -70%;
				    max-width: 80%;
				    line-height: 17px;
				}
			}
		}
	}
	.banner5-one {
		.slick-slide {
			.text-tap {
			    background-color: #e7d1ac;
			    &:after {
				    content: '';
				    width: 0;
				    height: 0;
				    margin-left: -19px;
				    position: absolute;
				    bottom: -13px;
				    left: 50%;
				    z-index: 5;
				    border-top: 15px solid #e7d1ac;
				    border-left: 19px solid transparent;
				    border-right: 19px solid transparent;
				}
		    }
		}
	}
	.banner5-two {
		.slick-slide {
			.text-tap {
			    background-color: #aac4b2;
			    &:after {
				    content: '';
				    width: 0;
				    height: 0;
				    margin-left: -19px;
				    position: absolute;
				    top: -13px;
				    left: 50%;
				    z-index: 5;
				    border-bottom: 15px solid #aac4b2;
				    border-left: 19px solid transparent;
				    border-right: 19px solid transparent;
				    @media screen and (max-width: 767px) {
					    top: auto;
					    bottom: -13px;
				    	border-top: 15px solid #aac4b2;
					    border-left: 19px solid transparent;
					    border-right: 19px solid transparent;
				        border-bottom: none;
				    }
				}
			}
		}
		&.slick-slider {
			@media screen and (min-width: 768px) {
				button.slick-prev {
					top: auto;
				    bottom: 35px;
				}
				button.slick-next {
					top: auto;
				    bottom: 35px;
				}
				ul.custom_paging {
					top: auto;
		    		bottom: 6px;
				}
			}
		}
	}
	.banner5-three {
		.slick-slide {
			.text-tap {
			    background-color: #af9296;
			    &:after {
				    content: '';
				    width: 0;
				    height: 0;
				    margin-left: -19px;
				    position: absolute;
				    bottom: -13px;
				    left: 50%;
				    z-index: 5;
				    border-top: 15px solid #af9296;
				    border-left: 19px solid transparent;
				    border-right: 19px solid transparent;
				}
			}
		}
	}
	.slick-slider {
		button.slick-prev {
			left: 5%;
		    top: 55px;
		    background: none;
		    &:before {
			    content: "\f104";
			    color: $white;
			    font-size: 33px;
			    text-align: center;
			    line-height: 15px;
			    font-family: FontAwesome;
			}
		}
		button.slick-next {
			right: 5%;
		    top: 55px;
		    background: none;
		    &:before {
			    content: "\f105";
			    color: $white;
			    font-size: 33px;
			    text-align: center;
			    line-height: 15px;
			    font-family: FontAwesome;
			}
		}
		ul.custom_paging {
			top: 56px;
		    left: 0;
		    width: 100%;
		    font-size: 13px;
		    background: none;
		}
	}
}
/*Banner5 End*/

/*Banner6 Start*/
.banner6  {
	position: relative;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 83px 0 107px 0;
	.banner6-text {
		max-width: 515px;
 		margin: 0 auto;
 		text-align: center;
 		h3 {
		    font-size: 34px;
		}
		p {
			margin: 11px 0 26px;
		    font-size: 15px;
		    line-height: 20px;
		}
	}
	#home-recommendations {
		width: 80.5%;
		margin: 0 auto;
		.slick-slide {
			margin: 0 5px;
		}
		button.slick-prev {
		    margin-top: -13px;
    		left: -10.5%;
		}
		button.slick-next {
			margin-top: -15px;
    		right: -10.4%;
		}
		&.slick-slider ul.custom_paging {
		    position: absolute;
		    right: -12.3%;
	    }
	}
}
/*Banner6 End*/