.ui-widget-overlay {
	background: url("../images/interface/ui-overlay-shadow.png") repeat scroll 50% 50% $night-rider;
	opacity: 0.4;
}

.ui-dialog {
	background-color: $white;
	padding: 0;
	.ui-widget-header {
		border: 0 none;
		border-radius: 0 0 0 0;
		height: 23px;
		text-transform: uppercase;
	}
	.ui-dialog-title {
		color: $night-rider;
		font-weight: bold;
	}
	.ui-icon-closethick {
		background-image: url("../images/interface/icon-ui-close.png");
		background-position: center;
		height: 32px;
		width: 32px;
		left: 0;
		top: 0;
		margin-left: 0;
		margin-top: 0;
	}
	.ui-dialog-titlebar-close {
		background-color: transparent;
		border: 0 none;
		border-radius: 0 0 0 0;
		height: 32px;
		margin: 0;
		opacity: .5;
		padding: 0;
		right: 0;
		top: 0;
		width: 32px;
		&:hover {
			opacity: 1;
		}
		span {
			margin: 0;
			padding: 0;
		}
	}
	h1,
	h2 {
		font-size: 18px;
	}
	p {
		font-size: 13px;
	}
	.dialog-required {
		font-weight: 400;
		position: relative;
		text-transform: none;
	}
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

.ui-accordion .ui-accordion-content {
	padding: 0;
}

.ui-tabs {
	.ui-tabs-nav {
		height: 2.45em;
		padding: 0;
		li {
			border-color: $white;
			border-style: solid;
			border-width: 0 0 3px 0;
			&.ui-state-active {
				border-bottom-color: $citrus;
				a {
					color: $black;
					font-weight: 700;
				}
			}
			a {
				color: $nobel;
			}
		}
	}
	.ui-tabs-panel {
		background-color: $white;
		line-height: 1.5em;
		margin: 0;
		padding: 20px 10px;
		h3 {
			@media screen and (min-width: 768px) {
			display: none;
			}
		}
	}
}

/* launch window start */
.ui-dialog.launch-window {
	width: 100% !important;
	max-width: 1280px !important;
	min-height: 1024px;
	.ui-dialog-titlebar {
		display: none;
	}
	.ui-dialog-content {
		padding: 0;
		min-height: auto !important;
	}
	#dialog-container .launchwindow {
		position: absolute;
	    top: 0;
	    left: 50%;
	    margin-left: -195px;
		margin-top: 10%;
		width: 100%;
		min-width: 320px;
		max-width: 390px;
		padding: 33px 0;
		box-sizing: border-box;
		background-color: #fff;
		h4 {
		  margin: 5px 0 23px 0;
		  font-size: 13px;
		  text-align: center;
		  letter-spacing: -0.25px;
		}
		img {
			margin: 0 auto;
			display: table;
			max-width: 100%;
		}
		p {
			width: 270px;
		    margin: 15px auto 27px;
			font-size: 13px;
			text-align: center;
			line-height: 20px;
		}
		.shipmentnotification {
			margin: -13px 0 13px 0;
		    padding-left: 30px;
		    float: left;
			font-size: 13px;
			line-height: 20px;
			letter-spacing: -0.25px;
			color: #5bb0bb;
			&:before {
				content: "!";
			    width: 20px;
			    height: 20px;
			    margin: 2px 0 0 -29px;
			    float: left;
	    		display: block;
			    color: #5bb0bb;
			    text-align: center;
			    font-size: 13px;
			    border: 1px solid #5bb0bb;
			    border-radius: 20px;
			}
			&:empty {
				display: none;
			}
		}
		form {
			width: 290px;
    		margin: 0 auto;
    		position: relative;
    		.form-row {
				label {
					width: 100%;
					text-align: left;
					margin: 14px 0 18px 0;
					letter-spacing: -0.25px;
					span.required-indicator {
						display: none;
					}
					span {
						font-size: 13px;
						line-height: 20px;
					}
				}
				.field-wrapper {
					width: 100%;
					padding: 0;
					.sbOptions {
						height: 115px;
					}
				}
				&.form-row-button {
					width: 100%;
					margin: 18px 0 0 0;
    				float: left;
					button {
						width: 100%;
						margin-top: -6px;
						letter-spacing: 1.4px;
					}
				}
			}
			select.input-select {
				position: relative;
				visibility: visible;
				left: 0;
			}
			.selectboxit-container {
				display: none;
			}
		}
    }
}
/* launch window end */

/* common popup design start */
.ui-dialog.custom-popup {
	background-color:$popup-bg;
	border: 1px solid $popup-border;
	max-width: 390px;
	&.info {
		top: 232px !important;
	}
	.ui-widget-header {
		position: absolute;
		top: 12px;
	    right: 12px;
		background:none;
	    z-index: 9;
	}
	#dialog-container {
		padding: 55px 50px 55px;
		text-align: center;
		height: auto !important;
		font-size: 13px;
    	font-family:$pluto-sans-regular;
		h1 {
			font-size: 18px;
			font-family:$pluto-bold;
			min-height: 25px;
		}
		p {
			font-size: 13px;
			font-family:$pluto-sans-regular;
			line-height: 23px;
			padding-bottom: 25px;
		}
		.payment-alert-us {
		    text-align: left;  
		    .stores-toggle {
			    padding-left: 5px;
			}
		}
		span {
			font-size: 13px;
			font-family:$pluto-sans-regular;
			padding: 13px 0;
			&.warning-headding {
				font-weight: bold;
				padding-left:30px;
				position:relative;
				&:before {
					content: '';
				    width: 30px;
				    height: 30px;
				    display: inline-block;
				    top: 4px;
				    left: 0;
				    float: left;
				    position: absolute;
				    background: url(../images/Warning.png) 0px 0px no-repeat; 
				    background-size: contain;  
				}
			}
		}
	}
	&.payment-alert-us {
		top: 50% !important;
    	transform: translate(-50%,-50%);
    	left: 50% !important;
   		z-index:9999 !important;
		#dialog-container {
			padding: 30px 20px 20px 20px;
		}
		+.ui-widget-overlay.ui-front {
		    background: url(../images/interface/ui-overlay-shadow.png) repeat scroll 50% 50% #333;
		    opacity: 0.4;
		} 	
	}
	&.change-delivery {
		span {
			display: block;
			text-align: left;
		}
		button.sec-btn {
		    margin: 0 10px 10px;
		     &#changeYes {
		    	min-width: 120px;
		    }
		     &#changeNo {
		    	min-width: 120px;
		    }
		}
	}
}
/* common popup design end */

/* password-reset & account-logout start */
.ui-dialog.password-reset-popup #dialog-container {
	.form-row {
		width: 67%;
	    margin: 0;
	    height: 35px;
	    float: left;
	    label {
		    display: none;
		}
		input[type="text"] {
			height: 35px;
		}
		.field-wrapper {
		    margin: 0;
		}
	}
	button {
		width: 33%;
	    height: 35px;
	    padding: 0;
	    float: left;
	}
}
/* password-reset end */

.ui-dialog.payment-fail .ui-widget-header {
	display: none;	
}

/* roll calculator pdp page */
.ui-dialog.roll-Calculator {
    width: 100% !important;
    max-width: 390px;
	background-color: #63666a;
	.calculator{
		width:100%;
	}
	p {
		 margin-bottom: 10px;
		 line-height: 18px;
	}
	.ui-widget-header {
		position: absolute;
		top: 12px;
	    right: 12px;
		background:none;
		background-color:transparent;
	    z-index: 9;
	}
	.ui-icon-closethick{
		background: url("../images/gb-sprite-image.png") no-repeat -76px -247px;
		width: 18px;
		height: 18px;
		margin-top: 19px;
    	margin-left: -3px;
	}
	#dialog-container {
		padding: 75px 4px 48px 0px;
	    width: 290px !important;
	    margin: 0 auto;
	    text-align: center;
	    background-color: #63666a;
	    color: #fff;
	    min-height: 390px !important;
    	height: auto !important;
	    h2{
	        font-size: 15px;
	    	text-transform: uppercase;
	    	margin-bottom: 12px;
	    	letter-spacing: 0;
	    }
		form{
			width:290px;
			text-align:left;
			.form-row{
		    margin: 10px 0 18px 0;
		}
			input[type="text"] {
				height:40px;
				color: $black;
				padding:0px 0px 0px 5px;
			}
			button{
				width: 100%;
			    margin-top: 13px;
			}
			span.required-indicator{
				display:none;
			}
		}
	}
}
/* PDP - ZOOM */
.ui-dialog.PDP-product-zoom {
	min-width: 1024px;
	min-height: 1024px;
	.ui-widget-header {
		position: absolute;
	    top: 30px;
	    right: 30px;
	    z-index: 9;
	    background-color: $white;
	    width: 32px;
	    height: 32px;
	    box-sizing: border-box;
	}
	.ui-dialog-content {
		padding: 0;
		overflow: hidden;
		.product-primary-image {
			width: 1024px !important;
			overflow: hidden;
			button.slick-prev {
				visibility: hidden;
			}
			button.slick-next {
			    width: 31px;
			    height: 61px;
			    right: 12px;
			    background-position: -235px -137px;
			    z-index:1;
		    }
		    .slick-slide, .slick-slide img {
		    	width: 1024px !important;
		    }
		}
		.product-thumbnails {
		    position: absolute;
		    top: 0;
		    width: 87px;
    		margin: 70px 30px;
    		.slick-track {
			    left: 0 !important;
			    width: 85px !important;
			}
		    .thumb {
		    	margin: 0 0 20px 0;
		    	float: none;
    			width: 85px !important;
		    	img {
		    		width: 100%;
		    		float: left;
		    	}
		    	&.slick-slide.slick-cloned {
				    display: none;
				}
		    }
		    .slick-list.draggable {
			    min-height: 428px;
			}
		    button.slick-prev {
		    	top: -15px;
			    width: 27px;
			    height: 17px;
			    left: 29px;
			    background-position: -387px -137px;
			     z-index:1;
		    }
		    button.slick-next {
	    	    top: auto;
		    	bottom: -21px;
		    	left: 29px;
			    width: 27px;
			    height: 17px;
			    background-position: -387px -157px;
			    z-index:1;
			    
		    }
		}
	}
}
/* PDP - VIDEO */
.ui-dialog.PDP-product-video {
	.ui-widget-header {
		padding: 5px 15px;
		position: absolute;
	    top: 0;
	    right: 0;
	    background-color: $white;
	    z-index: 9;
	}
	.ui-dialog-content {
		padding: 0;
		text-align: center;
	}
	.video-container {
		position:relative;
		padding-bottom:56.25%;
		padding-top:30px;
		height:0;
		overflow:hidden;
		iframe, object, embed {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
	} 
}

/* Checkout Popup Links */
.ui-dialog.checkout_popup_links {
	max-height: 500px !important;
    max-width: 700px !important;
    width: 97% !important;
    background-color:$popup-bg;
	border: 1px solid $popup-border;
	.ui-dialog-content {
		overflow: auto !important;
	    max-height: 450px !important;
	    overflow-y: auto;
	    -webkit-overflow-scrolling: touch;
	}
	.blog-article {
		padding: 0 2.5%;
	}
}