.login-box {
	h3 {
		margin: 0;
	}
	p {
	    margin: 10px 0 20px;
	    font-size: 15px;
	    line-height: 20px;
	}
	ul {
		padding-bottom: 21px;
		li {
			font-size: 15px;
	    	line-height: 20px;
		}
	}
	.error {
		margin-left: 0;
	}
}
.login-create-account.login-box p {
    margin: 21px 0 20px;
}
.login-rememberme {
	display: inline-block;
	margin: 17px 0 0 0;
}

.login-oauth p:first-child {
	font-size: 2em;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
}

#OAuthProvider {
	display: block;
	margin-bottom: 1em;
	width: 80%;
}

.col-1, .col-2 {
	.form-row-button .sec-btn{
		min-width: 140px;
	    margin: 10px 17px 0 0;
		float: left;
	}
}

.form-row.form-indent {
    position: relative;
    .field-wrapper {
	    position: absolute;
	}
	label {
	    float: left;
	    width: auto;
	    padding: 3px 0 0 30px;
	    box-sizing: border-box;
	}
}