#mini-cart {
	position: absolute;
	right: 33px;
	top: 12px;
	z-index: 20;
}
.mini-cart-name {
	a {
		color: $maire;
		font-size: 13px;
	}
}
.mini-cart-total {
	position: relative;
	.mini-cart-link {
		width: 50px;
	    height: 52px;
	    display: block;
	    background: url("../images/gb-sprite-image.png") -50px -191px no-repeat;
	    &.mini-cart-empty {
			background-position: -50px -135px;
			.minicart-quantity {
				display: none;
			}
		}
	}
	.minicart-quantity {
		width: 100%;
	    display: inline-block;
	    text-align: center;
	    color: $white;
	    line-height: 54px;
	    font-size: 17px;
		font-family:$pluto-sans-bold;
	}
}

.mini-cart-content {
	background-color: $white;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	display: none;
	position: absolute;
	right: 53px;
    top: 80px;
    width: 290px;
    padding: 44px 50px 50px;
    z-index: 99;
}

.mini-cart-header {
	padding: 0 0 25px 0;
	font-size: 30px;
	line-height: 34px;
    word-spacing: 3px;
	font-family:$pluto-bold;
}

.mini-cart-products {
	max-height: 135px;
	padding: 3px 0 0 0;
	overflow: auto;
	border-top: 1px solid $mini-cart-br;
	border-bottom: 1px solid $mini-cart-br;
}

.mini-cart-product {
	border-bottom: 1px solid $white-lilac;
    padding: 17px 0 17px 21px;
	overflow: hidden;
	position: relative;
	&:last-of-type {
		border: none;
	}
	&.collapsed {
		.mini-cart-name,
		.sku,
		.mini-cart-attributes,
		.mini-cart-pricing,
		.product-availability-list {
			width: 96%;
		}
		.mini-cart-image {
			display: none;
		}
	}
	.mini-cart-toggle.caret-down {
		cursor: pointer;
		margin: 0 11px 0 0;
		float: left;
		left: 0;
    	position: absolute;
		width: 21px;
	    height: 18px;
	    display: inline-block;
	    background: url("../images/gb-sprite-image.png") -391px -159px no-repeat;
	}
	.mini-cart-toggle.caret-right {
		cursor: pointer;
		margin: 0 11px 0 0;
		float: left;
		left: 6px;
    	position: absolute;
		width: 10px;
	    height: 23px;
	    display: inline-block;
	    background: url("../images/gb-sprite-image.png") -333px -133px no-repeat;
	}
}

.mini-cart-image {
	float: left;
	width: 85px;
    margin: 0 0 0 11px;
	img {
		max-width: 100%;
	}
}

.mini-cart-name {
	float: right;
    width: 58%;
}

.mini-cart-attributes, .mini-cart-product .product-availability-list {
	float: right;
	width: 58%;
}

.mini-cart-product .sku {
	float: right;
    width: 58%;
    line-height: 20px;
} 

.mini-cart-pricing {
	float: right;
    width: 58%;
    line-height: 20px;
	.price-sales {
	    display: block;
	}
}

.mini-cart-totals {
	text-align: center;
}

.mini-cart-subtotals {
	font-size: 15px;
	margin: 19px auto;
	width: 16rem; //for IE
    width: -webkit-max-content;
    width: -moz-max-content;
	.label {
		margin: 0 5px;
		font-family:$pluto-sans-bold;
	}
	.value {
		margin-right: 5px;
		font-family:$pluto-sans-bold;
	}
}

.mini-cart-slot {
	background: none repeat scroll 0 0 $gainsboro;
	margin: 20px 0;
    padding: 20px;
}

.mini-cart-link-checkout {
	clear: both;
	display: block;
	margin: 0 0 18px 0;
	text-align: center;
	&:before {
	    content: '';
        margin: 0 13px -3px 0;
	    width: 18px;
	    height: 20px;
	    display: inline-block;
	    background: url("../images/gb-sprite-image.png") -171px -243px no-repeat;
	}
}

a.mini-cart-link-cart {
    font-size: 15px;
}