#wrapper {
	background-color: $white;
	font-family:$pluto-sans-regular;
	border: 0;
	left: 0;
	top: 0;
	margin: auto;
	position: relative;
	transition: left 0.2s ease-in;
	width: 100%;
	&.pt_categorylanding {
		width: 100%;
		.primary-content {
			padding-bottom: 0;
		}
		.refinements {
			border-right: 0;
			display: none;
			width: 0;
		}
	}
	#main {
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		position: relative;
	    top: 0;
	    display: block;
	}
	&.pt_storefront, &.pt_product-details.product-details, &.pt_categorylanding, &.pt_product-search-result, &.pt_categorylanding2 {
		@media screen and (min-width: 1025px) {
			#navpanel {
		    	display: none;
			}
			#main {
			    margin-top: -91px;
			    .section.section-1 {
				    padding-top: 91px;
				}
			}
		}
    }
}

#secondary {
	border: 0;
	float: none;
	width: 100%;
}
.secondary-content {
	clear: both;
}
