h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin:0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family:$pluto-bold;
	letter-spacing: -1.7px;
}
ul {
	list-style-type: none;
}
.pt_account.account_addr_personaldetails span.error {
			 display: inherit;
		}
p, ul li, span, label, select, input {
	font-family:$pluto-sans-regular;
}
select {
	padding: 0 5px;
    letter-spacing: 0.2px;
}
input::-ms-clear {
    display: none;
}
.pt_error .error-page-footer-slot .html-slot-container {
	    margin-top: 173px;
	    img {
	    	width:100%;
	    }
	}
.primary-content {
	dl {
		clear: both;
		overflow: hidden;
		dt {
			clear: both;
			float: left;
			margin: 2% 0 0;
			min-width: 15%;
		}
		dd {
			float: left;
			margin: 2% 0 0;
			padding: 0 0 0 5%;
		}
	}
}

.content-header {
	font-size: 18px;
	font-family:$pluto-bold;
	span {
		font-size: 18px;
		font-family:$pluto-bold;
	}
}
.pt_product-search-noresult, .pt_error {
	h1.error_title{
	    font-size: 30px;
	    margin-bottom: 23px;
	}
}
.no-hits-help{
    margin: 20px 0px;
    .content-asset{
        font-size: 15px;
        font-family:$pluto-sans-regular;
        p {
        	margin-bottom: 27px;
        }
        ul {
	        list-style-type: initial;
	    	margin: 0px 0px 0px 17px;
	    	line-height: 24px;
	    	font-family:$pluto-sans-regular;
        }
    }
}

.error-page-footer-slot {
margin-bottom:50px;
	.html-slot-container {
	    margin-top: 60px;
	    img {
	    	width:100%;
	    }
	}
}
#wrapper.pt_error.page-not-found #main {
    max-width: 790px;
    margin: 40px auto;
	#primary {
		width: 100% !important;
		padding: 0;
	}
}
.no-hits-search {
	form {
			input {
			    width: 305px;
			    padding: 0px 0px 0px 20px;
			    font-size: 15px;
			    font-family:$pluto-sans-bold;
			    display: block;
			    margin-top: 20px;
	    		margin-right: 20px;
	    		float: left;
			}
			button {
			     	width: 70px;
	    			margin-top: 20px;
	    			line-height: 40px;
				    /* height: 23px;
				    margin: -30px 11px 0 0;
				    position: relative;
				    right: 661px;
				    float: right;
				    border: none;
			    background: url("../images/gb-sprite-image.png") -125px -242px no-repeat; */
			}
		}
	}
#wrapper.pt_error {
	#main {
		margin-top:40px;
	}
}
.pt_error {
.error-page-search {
	form {
			input {
			    width: 305px;
			    padding: 0px 0px 0px 20px;
			    font-size: 15px;
			    font-family:$pluto-sans-bold;
			    display: block;
			    margin-top: 20px;
	    		margin-right: 20px;
	    		float: left;
			}
			button {
			     	width: 70px;
	    			margin-top: 12px;
	    			line-height: 40px;
				    /* height: 23px;
				    margin: -30px 11px 0 0;
				    position: relative;
				    right: 661px;
				    float: right;
				    border: none;
			    background: url("../images/gb-sprite-image.png") -125px -242px no-repeat; */
			}
		}
	}
}
.pt_product-search-noresult .section-header {
	font-size: 15px;
	padding: 20px 20px 10px;
    border: 1px solid $red;
    p {
        padding-bottom: 10px;
    	line-height: 20px;
	}
	.dialog-required {
		text-transform: none;
	}
}
.error-page-message {
	font-size: 15px !important;
    font-weight: 700 !important;
    margin: 0;
    position: relative;
    border: 1px solid red;
    line-height: 24px;
    padding: 1em;
    font-family:$pluto-sans-regular;
    margin-bottom: 13px;
    width: 100%;
    box-sizing: border-box;
    p {
	    font-size: 15px !important;
	    font-weight: normal !important;
    }	 
}

.error-page-search {
    margin-top: 26px;
    input {
            margin-top: 13px !important;
    }
	label {
	    font-size: 15px;
	    float:left;
	}
}
.error-page-footer-asset {
    	font-size: 15px;
   	 	line-height: 24px;
    }
.section-header-note {
	font-size: 15px;
    text-transform: none;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}

.back {
	display: block;
	margin: 0 0 10px;
}
/*Start of Ui for footer pages */
.pt_content {
	.page-wrapper {
	    padding: 10px;
    	box-sizing: border-box;
	}
	.del_text, .content_text {
		font-size:15px;
		line-height:23px;
	}
	.sub_heading {
		font-size:17px;
		margin: 25px 0px 16px 0px;
	}
	.del_questions {
		margin:6px 0px 5px 0px;
	}
	table {
		width:635px !important;
		td {
			font-family:$pluto-sans-bold;
			&:nth-child(2) {
				font-family:$pluto-sans-regular;
			}
		}
	}
}
/*End of Ui for footer pages */

/* Start of ui for location page */
.pt_content {
	.contact__header h1 {
		font-size:28px;
	}
	ul.address {
		display: table;
    	width: 100%;
    	border-bottom: 1px solid #BFBEBE;
    	padding-bottom: 27px;
    	h2 {
    	    font-size: 18px;
    	    margin-top: 25px;
    	}
    	.location_map {
    		background: url("../images/gb-sprite-image.png") -256px 0 no-repeat;
			width: 26px;
			height: 33px;
			display:inline-block;
    	}
    	.address__item__canvas {
    	    line-height: 20px;
    	}
    	li.address__item {
	    	&.address__item_location, &.address__item_phone, &.address__item_email {
	    	    width: 26%;
    			float: left;
    			margin-top: 13px;
	    	}
	    	&.address__item_map {
	    		width: 4%;
    			float: left;
    			margin-top: 14px;
	    	}
    	}
    	&:last-child {
	    border-bottom: none;
    	margin-bottom: 75px;
		}
	}
}
/* End of ui for location page */

/* Start of ui for contact-us page */
.pt_customer-service {
	#secondary {
		display:none;
	}
	.form-row-button {
	    float: left;
	    clear: none;
	}
	#primary {
	    padding: 15px;
    	box-sizing: border-box;
		legend {
		    margin-top: 22px;
		    max-width: 430px;
	        background: none;
   			text-transform: none;
   			padding-left: 0;
   			h2 {
   				font-size:27px;
   			}
		}
	}
	#primary form {
	    width: 100%;
    	max-width: 327px;
		margin-top: 20px;
		.form-row  {
			.field-wrapper {
				position: relative;
				textarea {
				    height: 120px;
				    padding: 5px;
				}
			}
			select ~ span.error {
				position: absolute;
				left: 0;
				bottom: 0;
				height: 14px;
		    	line-height: normal;
			}
			select.error + span.error + span.selectboxit-container {
			    padding-bottom: 15px;
			}
			select.error + span.selectboxit-container {
			    padding-bottom: 15px;
			}
		}
		#cancelBtn {
		    margin-right: 20px;
		}
	}
}

/* start of ui for my account page */

.ui-dialog.account-dialog {
    max-width: 390px !important;
    padding: 8px 36px 36px 36px;
	box-sizing: border-box;
	width: 100% !important;
	border:1px solid $bombay; 
	.apply-button, .cancel-button{
		width: 49%;
    	float: left;
	}
	.apply-button {
	    margin: 0 2% 2% 0;
	}
	h1 {
	    text-align: center;
		margin-bottom: 35px;
		letter-spacing: 0px;
	}
	.ui-dialog-titlebar-close {
		right: -22px;
		top: 4px;
	}
    legend {
        width: 100%;
	    box-sizing: border-box;
	    color: $maire;
	    font-size: 15px;
	    height: 50px;
	    font-family:$pluto-bold;
	    padding: 0px;
	    background-color: transparent;
	    text-transform: uppercase;
	    .dialog-required {
    	     float: right;
			display: inline;
	    }
	    span em {
	        font-style: normal;
		    font-size: 13px;
		    font-family: $pluto-sans-regular;
		    vertical-align: top;
	    }
    }
    .selectboxit-container .selectboxit-options {
    	max-height: 150px !important;
    	max-width: 100% !important;
    }
    .field-wrapper {
		position: relative;
	}
	select ~ span.error {
		position: absolute;
		bottom: 0px;
		height: 14px;
    	line-height: normal;
	}
	select.error + span.error + span {
	    padding-bottom: 15px;
	}
}
.ui-widget-overlay.ui-front {
    background: transparent;
}

.pt_order.order_content {
	.search-result-options {
	    margin: 33px 0 9px 0;
	}
	.order-history-table .order-shipped-to {
	    width: 4.5%;
	}
	.order-history-table .order-total-price {
	    width: 5.9%;
	}
	.order-history-table .order-items {
	 	width: 41.8%;
	}
	.order-history-table .order_shipped_to {
	    width: 27.8%;
	}
}
/* start odf ui for order details page */
#wrapper.pt_order.order_content.orderdetails_myaccount #main #primary.my_account_orderdetails {
	.return_order {
		float:left;
	}
	.return_shopping {
		float:right;
	}
	.name a {
	   	font-family: $pluto-sans-regular;
		letter-spacing: 0px;
		color: $black;
	}
	div.content-header {
	    margin-bottom: 18px;
	}
	.order-totals-table {
		margin:0 !important;
		td {
			padding:0 !important;
		}
	}
	.order-detail-options {
		border:none;
	}
	table {
		margin-bottom:40px;
		th {
		    text-align: left;
		    width: 19%;
		    padding: 15px 10px;
		    box-sizing: border-box;
		    background-color: $white-lilac;
		    color: #000;
		    font-size: 15px;
		    text-transform: uppercase;
		    font-family: $pluto-bold;
		}
		td {
		    vertical-align: top;
			padding: 15px 10px;
		    font-size: 13px;
		    line-height: 20px;
		    font-family:$pluto-sans-regular;
		    address {
		        font-style: normal;
		    }
		}
	}
}


/* styles for Custom Scrollbar Start */
.scroll-up1, .scroll-down1 {
    width: 20px;
    height: 20px;
    &:after {
	    content: '';
	    width: 20px;
	    height: 10px;
	    display: block;
	    position: absolute;
	}
}
.scroll-up1:after {
    background: url(../images/gb-sprite-image.png) -329px -187px no-repeat;
    top: 0;
}
.scroll-down1:after {
    background: url(../images/gb-sprite-image.png) -350px -187px no-repeat;
    bottom: 0;
}
.calculator .scroll-up1:after {
    background: none;
    content: "\f106";
    font-size: 22px;
    line-height: 9px;
    font-family: FontAwesome;
    color: #fff;
}
.calculator .scroll-down1:after {
    background: none;
    content: "\f107";
    font-size: 22px;
    line-height: 9px;
    font-family: FontAwesome;
    color: #fff;
}
.track1 {
    width: 20px;
    background-color: $white-lilac;
    border-radius: 20px;
    overflow: hidden;
}
.handle1 {
    width: 20px;
    background: $bombay;
    left: 0;
}
/* styles for Custom Scrollbar End */