.backtoTop-button {
	position: fixed;
    top: 80%;
    right: 10px;
    z-index: 999;
    display:none;
    @media screen and (max-width: 767px) {
	    &.backtoTop-button-show {
	    	display: block;
	    	span {
	    		background: url(../images/BTT_Button.png) no-repeat right;
	    		width: 100px;
				height: 100px;
				display:inline-block;
				background-size: 50%;
	    	}
	    }
	}
}

#wrapper.pt_product-details #main {
    max-width: 100%;
	overflow: hidden;
}
#product-nav-container {
	overflow: hidden;
	position: absolute;
	right: 0;
	width: 160px;
	div {
		float: left;
		text-align: center;
		width: 77px;
	}
	img {
		max-height: 100%;
		max-width: 80%;
	}
	span {
		display: block;
		height: 65px;
	}
	.divided span {
		border-right: 1px solid $gainsboro;
		padding-right: 5px;
	}
}
.product-col-2 .calculator{
	float: right;
	display: table;
    max-width: 55%;
    margin-left: 20px;
	 a {
	    height: 31px;
	    font-size: 13px;
	    display: table-cell;
	    padding: 0 0 0 31px;
	    vertical-align: middle;
	    position: relative;
		span.roll-cal{
		    background: url("../images/gb-sprite-image.png") -402px -3px no-repeat;
		   	width: 22px;
			height: 31px;
		    display: block;
		    margin-right: 8px;
		    position: absolute;
		    left: 0;
		    top: 0;
		    cursor: pointer;
		}	
	}
	&:hover span.roll-cal {
	    background: url("../images/gb-sprite-image.png") -402px -51px no-repeat;
	}
}
.pdp-main .get-the-look-content {
    padding: 10px 30px 0;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    clear: both;
    box-sizing: border-box;
    //background: url("../images/gb-pdp-ampersand.png") 59% 61% no-repeat;
    background-size: 150px;
    .get-look-topcontent {
		width: 100%;
	}
    .dummy-btn {
    	display: none;
	    background-color: #eac11a;
	    margin: 0 0 10px 3px;
    }
	h2{
		font-size: 24px;
    	padding: 40px 0px 20px 0;
	}
	.get-the-look-image {
		display: none;
		width: 58%;
	    float: left;
	    padding: 0 8.8% 0 0;
    	box-sizing: border-box;
		img {
		    width: 100%;
		}
	}
	.get-the-look-products {
		width: 100%;
	    float: left;
	    //padding: 0 0 0 8.8%;
	    box-sizing: border-box;
	    .slick-track {
	    	margin: 0 auto;
	    }
	    button.slick-prev {
	    	left: -20px;
	    }
	    button.slick-next {
	    	right: -10px;
	    }
		.get-look-tile {
			display: inline-block;
			width: 16%;
			margin-left: -5px;
			vertical-align: top;
			padding: 0px 8px 10px;
    		box-sizing: border-box;
    		text-align: center;
			.product-name {
				width: 100%;
				float: left;
				padding: 5px 0 0 0;
			    font-size: 13px;
			    height: 19px;
        		overflow: hidden;
			    a{
			    	color:$black;
			    }
			}
			.product-review {
				display:none;
			}
			.product-pricing {
				width: 100%;
				float: left;
				color:$black;
			}
			form button, .getthelook-customise {
				min-width: 158px;
				font-size: 13px;
			    line-height: normal;
			    padding: 5px 10px;
			    min-height: 35px;
			    margin: 10px auto;
			    box-sizing: border-box;
			}
		}
	}
}
#primary {
	width: 100%;
	float: left;
}
.pdp-main {
	.cus-button {
		display: none;
	}
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	label {
		padding: 0;
		text-align: left;
		text-transform: uppercase;
		width: auto;
		font-size: 13px;
   		color: $maire;
	}
	.similar-products-content{
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 0 50px;
    	.cus-button {
    		display: none;
    	}
    	.similar-products-text-content{
    	    width: 100%;
    	}
		h2, h1{
		    width: 100%;
		    text-align: center;
		    margin: 0 auto 30px;
		    font-size: 24px;
		}
	}
	.content-block.section img {
		width: 100%;
	}
	.pdp-review-section {
	    margin: 50px auto;
	    width: 81.7%;
	}
	.product-col-1 {
		position: relative;
		width: 64%;
		float: left;
	    //max-width: 1280px;
	    margin: 0 auto;
	    overflow: hidden;
	}
	.product-primary-image {
		width: 83%;
		float: right;
		position: relative;
		.video-play-container {
			display: none;
			position: absolute;
			top: 0;
			width: 522px;
			height: 522px;
			.video-iframe {
				width: 100%;
				height: 100%;
			}
		}
		.slick-list {
			width: 520px;
	        //width: 1066px;
    		margin: 0 auto;
		    //overflow: visible;
		    //font-size: 0;
		    a.product-image {
		        left: 0;
			}
			.main-vid {
				.vid-img {
					position: absolute;
					right: 45%;
					top: 45%;
					&:before {
						content: ' ';
		    			background: url('../images/gb-new-sprite-image.png') no-repeat 0 -287px;
						width: 74px;
						height: 74px;
						display: inline-block;
					}
				}
			}
		}
		@media screen and (min-width: 1024px) {
			&.product-slider-twoimages .slick-list {
		        width: 533px;
		        //padding-right: 533px;
		        margin: 0 auto;
			}
		}
		button.slick-prev {
			left: 3%;
		    width: 35px;
		    height: 35px;
		    background-image: none;
		    //background-color: $white;
		    //-webkit-box-shadow: 0px 0px 3px -1px #8f8b8f;
			//-moz-box-shadow: 0px 0px 3px -1px #8f8b8f;
			//box-shadow: 0px 0px 3px -1px #8f8b8f;
			&:before {
				content: '';
			    width: 17px;
			    height: 35px;
			    text-align: center;
			    display: inline-block;
			    background: url("../images/gb-sprite-image.png") -331px -211px no-repeat;
			}	
		}
		button.slick-next {
			right: 3%;
			width: 35px;
		    height: 35px;
		    background-image: none;
		    //background-color: $white;
		    //-webkit-box-shadow: 0px 0px 3px -1px #8f8b8f;
			//-moz-box-shadow: 0px 0px 3px -1px #8f8b8f;
			//box-shadow: 0px 0px 3px -1px #8f8b8f;
			&:before {
				content: '';
			    width: 17px;
			    height: 35px;
			    text-align: center;
			    display: inline-block;
			    background: url("../images/gb-sprite-image.png") -354px -211px no-repeat;
			}	
		}
		.slick-cloned {
			.pinch-zoom-container {
			    height: auto !important;
			    .pinch_zoom {
				    position: relative !important;
				    width: auto !important;
				}
			}
		}
		&:hover + .pinterest a {
	    	opacity: 1;
	    }
	}
	.pinterest {
		position: absolute;
		bottom: 70px;
    	right: 100px;
		a {
			opacity: 0;
		    font-size: 22px;
		    width: 35px;
		    height: 35px;
		    text-align: center;
		    border-radius: 35px;
		    line-height: 30px;
		    color: $white;
		    background-color: rgba(255, 0, 0, 0.7);
		    border: 2px solid $white;
		    box-sizing: border-box;
		    transition: all 0.35s;
		    -webkit-transition: all 0.35s;
			&:hover {
		    	opacity: 1;
		    }
		}
		&:hover a {
	    	opacity: 1;
	    }
	}
	.zoompad {
		width: auto;
		float: left;
		position: relative;
		left: 25.7%;
	    //position: absolute;
	    //margin: -68px 0px 0 2.5%;
	    //background-color: $white;
	    //-webkit-box-shadow: 0px 0px 3px -1px #8f8b8f;
		//-moz-box-shadow: 0px 0px 3px -1px #8f8b8f;
		//box-shadow: 0px 0px 3px -1px #8f8b8f;
	    .product-zoom {
		    min-width: 145px;
		    padding: 0px 20px 0 0;
		    height: 35px;
		    font-weight: bold;
		    display: block;
		    box-sizing: border-box;
		    font-size: 14px;
		    font-family:$pluto-sans-regular;
		    line-height: 35px;
	    	//color: $black;
	    	color: $fountain-blue;
	    	&:before {
	    		content: ' ';
	    		display: inline-block;
	    		background: url('../images/gb-sprite-image.png') no-repeat -128px -244px;
				width: 20px;
				height: 20px;
				position: relative;
				top: 5px;
				margin-right: 4px;
	    	}
	    }
	}
	.socialsharing.social-links {
    	margin: 20px auto;
	    width: 100%;
	    float: left;
	    max-width: 1125px;
	    padding: 0 0 0 30px;
	    box-sizing: border-box;
    	ul li {
		    display: inline-block;
		    margin-right: 3px;
		}
	}
	.product-thumbnails {
		width: 11%;
	    float: left;
	    position: absolute;
	    top: 40px;
	    left: 40px;
	    &.tt {
	    	ul {
	    		.slick-track {
	    			transform: none !important;
	    		}
	    	}
	    }
	    .thumb-vid {
	    	height: 88px;
	    	.vid-img {
	    		&:before {
	    			content: ' ';
	    			background: url('../images/gb-new-sprite-image.png') no-repeat -134px -304px;
					width: 37px;
					height: 37px;
					display: inline-block;
					position: relative;
					top: -76%;
	    		}
	    	}
	    }
	    button.slick-prev {
	    	top: -17px;
	    	left: 40%;
	    	text-align: center;
	    	width: 17px;
			height: 35px;
	    	background: url("../images/gb-sprite-image.png") -331px -211px no-repeat;
	    	transform: rotate(90deg);
	    }
	    button.slick-next {
	    	position: relative;
	    	bottom: -10px;
	    	left: 40%;
	    	text-align: center;
	    	width: 17px;
			height: 35px;
	    	background: url("../images/gb-sprite-image.png") -354px -211px no-repeat;
	    	transform: rotate(90deg);
	    }
		ul {
			//max-width: 320px;
			.slick-track {
			    width: 85px !important;
			    left: 0 !important;
			}
			li.thumb {
				height: 88px;
				margin: 0 0 10px;
				float: left;
				cursor: pointer;
				border: 1px solid transparent;
		    	box-sizing: border-box;
	    	    //overflow: hidden;
		    	&.slick-current {
					border: 1px solid #b2b2b1;
		    	}
				img.productthumbnail {
				    max-width: 100%;
				}
				i.fa {
    				font-size: 85px;
				    color: $maire;
				    &:hover {
				    	color: $fountain-blue;
				    }
				}
				&.slick-slide.slick-cloned {
				    //display: none;
				}
			}
		}
		.slick-track:after {
		    clear: none;
		}
		.slick-list {
			//display: inline;
		}
		.product-videos {
			width: 85px;
			height: 85px;
			margin: 0 35px 20px 0;
			float: left;
			cursor: pointer;
	    	background-image: url("../images/gb-video-icon.png");
	    	opacity: 1;
	    	-webkit-transition: all 0.35s;
    		transition: all 0.35s;
    		i.play-circle {
			    display: block;
			    height: 85px;
			}
	    	&:hover {
	    		opacity: 0.5;
	    	}
		}
	}
	.product-info {
		height: auto;
		width: 100%;
		float: left;
	    max-width: 1125px;
	    margin: 0 auto;
	    //height: 30em;
	    padding: 0 0 0 30px;
	    box-sizing: border-box;
	    width: 490px !important;
  		max-width: 420px !important;
	    padding: 0 !important;
	    float: left !important;
	    position: relative !important;
	  	left: 25px !important;
	    display: block !important;
		ul {
			font-size: .8rem;
			list-style: square;
			padding: 0 5em;
			@media screen and (min-width: 768px) {
				padding-bottom: 1em;
				padding-top: 1em;
			}
		}
	}
}

.main-image {
	display: block;
}
.primary-image {
	max-width: 100%;
}

.product-thumbnails {
	.thumb {
		width: 85px;
		height: 85px;
		margin: 0 20px 20px 0;
		float: left;
		cursor: pointer;
		border: 1px solid transparent;
    	box-sizing: border-box;
    	&.slick-current {
			border: 1px solid #b2b2b1;
    	}
    	img.productthumbnail {
		    max-width: 100%;
		}
	}
	h2 {
		margin: 1rem 0 .3rem;
	}
}
.pdp-main {
	.product-col-2 {
		width: 36%;
		//position: absolute;
	    //top: 191px;
		//right: 6.7%;
	    float: left;
	    //max-width: 390px;
	    //min-height: 481px;
	    //width: 100%;
	    //padding: 45px 0;
	    box-sizing: border-box;
	    background-color: $white;
	    //-webkit-box-shadow: -2px -2px 2px -3px #8f8b8f, 2px -2px 2px -3px #8f8b8f;
		//-moz-box-shadow: -2px -2px 2px -3px #8f8b8f, 2px -2px 2px -3px #8f8b8f;
		//box-shadow: -2px -2px 2px -3px #8f8b8f, 2px -2px 2px -3px #8f8b8f;
		h1.product-name {
			//width:290px;
			//margin:0 auto;
			font-size: 30px;
			line-height: 30px;
			a {
				font-size: 30px;
				line-height: 30px;
			}
		}
		#product-content{
			width:410px;
			//margin:0 auto;
			form {
				display: inline-block;
			    width: 100%;
			}
		}
		.product-number {
			color: $maire;
			font-size: 13px;
			margin: 4px 0 0 0;
		}
		.product-price {
		    //margin-bottom: 10px;
			font-size: 30px;
		    line-height: 25px;
			.price-sales {
				display: inline-block;
				span.for-a-roll {
				    font-size: 18px;
				}
			}
			.price-standard {
				text-decoration: line-through;
			}
		}
		#BVRRSummaryContainer {
			display: inline-block;
		    min-height: 54px;
		}
		.product-review {
			line-height: 19px;
			font-size: 12px;
			float: left;
			width: 100%;
			.rating {
				float: left;
			}
			.rewiew-text {
    			.write-review {
					font-family:$pluto-sans-bold;
					color: $fountain-blue;
				}
			}
			.review-recomm {
				letter-spacing: -0.9px;
    			white-space: nowrap;
			}
		}
		.product-main-attributes {
			.attribute {
				padding: .2em 0;
			}
			.label {
				padding: 0;
			}
		}
	}
}

.rating {
	color: $golden-yellow;
    padding: 0 10px 0 0;
    font-size: 15px;
	.product-info & {
		font-size: 2em;
	}
}

.product-variations,
.product-options {
	display: inline-block;
	width: 69%;
	margin: 15px 0 9px 0;
	.attribute {
		position: relative;
		.label {
			display: none;
		}
		.value {
			width: 100%;
			ul.sbOptions {
			    margin: -2px 0 0 0;
			}
		}
		.selected-value {
			border: 0 none;
			color: $citrus;
			font-weight: bold;
			padding: 1.3em 0 0 .4em;
			text-transform: uppercase;
			@media screen and (min-width: 768px)  {
				padding-top: .8em;
			}
		}
		.size-chart-link {
			clear: both;
			float: none;
			a {
				border-color: $white !important;
				padding: 0;
			}
		}
	}
	.swatches li {
		float: left;
		&:hover,
		&.selected {
			a {
				border-color: $citrus;
			}
		}
		&.unselectable {
			a {
				color: $gainsboro;
				opacity: .8;
			}
			&:hover {
				a {
					border-color: $gainsboro;
				}
			}
		}
		a {
			border-color: $gainsboro;
			border-style: solid;
			border-width: 1px 1px 3px;
			display: block;
			line-height: 3.5;
			min-height: 2.625rem;
			min-width: 2.625rem;
			margin: 0 .5rem .5rem 0;
			padding: 1px;
			text-align: center;
			white-space: nowrap;
			@media screen and (min-width: 768px) {
				line-height: 2.7;
				min-height: 2rem;
				min-width: 2rem;
			}
		}
	}
	.color li {
		a {
			line-height: 0;
			width: 2.625rem;
			height: 2.625rem;
			@media screen and (min-width: 768px) {
				width: 2rem;
				height: 2rem;
			}
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	select {
		background-color: $white;
		border: 1px solid $gainsboro;
		border-radius: 0;
		height: 42px;
		width: 100%;
		margin-left: 0;
		@media screen and (min-width: 768px) {
			height: 32px;
		}
	}
}

.product-set .product-add-to-cart {
	display: block;
}

.pdp-main .product-add-to-cart {
	margin: 0;
	padding: 9px 0 0 0;
	.availability-web {
	    padding-bottom: 17px;
	    display: inline-block;
	    min-width: 40%;
	    display: none;
	   .availability-msg {
	       &.not-available {
	       		border: 1px solid $red;
	       		padding: 10px 10px 10px 30px;
	       		&:before {
				    content: "!";
				    width: 20px;
				    height: 20px;
				    margin: 2px 0 0 -25px;
				    float: left;
				    display: block;
				    color: $red;
				    text-align: center;
			        line-height: 20px;
				    font-size: 13px;
				    border: 1px solid $red;
				    border-radius: 20px;
				}
	       		p {
	           		color: $red;
		           	font-size: 13px;
				    line-height: 20px;
				    font-weight: normal;
	           }
	       }
	   }
	}
	.bisn {
	    width: 70%;
	    float: left;
	    min-width: 283px;
	    margin-top: 20px;
	    button.emailme {
		    border: none;
		    background: none;
		    background-color: $fountain-green;
		    color: $white;
		    padding: 15px;
		    cursor: pointer;
		    font-size: 15px;
		    font-family: $pluto-sans-bold;
		    border: none;
		    border-radius: 0;
		    min-height: 50px;
		    text-align: center;
		    text-transform: uppercase;
		    box-sizing: border-box;
		    transition: all 0.3s ease;
		    &:hover {
		    	background-color: $fountain-active-green;
		    }
		}
	}
	.product-actions {
		float: left;
		position: relative;
	}
	.inventory {
		display: inline;
		label {
			display: inline;
			float: none;
			text-align: right;
		}
		.quantity {
			display: inline;
			.span-messg {
			    padding-bottom: 10px;
			    display: inline-block;
			    color: $red;
			}	
		}
		input {
			font-size: 13px;
			font-family:$pluto-sans-regular;
			height: 35px;
			width: 35px;
			padding: 0;
			margin-right: 5px;
			text-align: center;
			float:left;
		}
		span.error {
		    display: inline;
		    position: absolute;
		    top: 37px;
		    left: 0;
		}
	}
	.colourcardrequest{
		width: 35%;
    	float: left;
	    font-family: "Pluto Sans W01 Bold";
	    position: relative;
		button {
		    //height: 31px;
		    text-align: left;
		    margin-top: 16px;
		    border: none;
		    letter-spacing: -0.5px;
		    background: none;
		    color: #000;
		    padding: 0 0 0 36px;
		    position: relative;
		    &:before {
		    	content: '';
		    	display: inline-block;
		    	background: url("../images/gb-sprite-image.png") no-repeat -169px -197px;
			    width: 27px;
			    height: 33px;
			    position: absolute;
			    opacity: 1;
			    top: 0;
			    left: 3px;
			    -webkit-transition: all 0.3s ease;
    			transition: all 0.3s ease;
		    }
		    &:hover:before {
		    	opacity: 0.3;
		    }
		}
	}
	.custom-msg {
		width: 100%;
		float: left;
		margin: 10px auto 0;
		display: none;
	}
	.saveforlater {
		clear: both;
	    width: 50%;
	    float: left;
	    margin-top: 16px;
	    font-family: "Pluto Sans W01 Bold";
	    position: relative;
		button {
		    min-height: 31px;
			text-align: left;
			border: none;
			letter-spacing: -0.5px;
    		background: none;
    		color: $black;
		    padding: 0 0 0 36px;
		    position: relative;
			span {
    			background: url("../images/gb-sprite-image.png") no-repeat -151px -5px;
				width: 27px;
				height: 25px;
				position: absolute;
			    left: -1px;
			    top: 3px;
			    opacity: 1;
			    -webkit-transition: all 0.3s ease;
    			transition: all 0.3s ease;
			}
			&.added span, &.added:hover span {
    			background-position: -151px -53px;
    			opacity: 1;
			}
			&:hover span, &[disabled] span {
    			opacity: 0.3;
			}
		}
		.errormsg {
		    position: absolute;
		    width: 200%;
		    max-width: 290px;
		    top: 60px;
		    z-index: 9;
		    padding: 20px;
		    border: 1px solid $black;
		    box-sizing: border-box;
		    background-color: #f3f3f4;
		    .close-error-msg {
				background-image: url("../images/interface/icon-ui-close.png");
			    background-position: center;
			    position: absolute;
			    z-index: 11;
			    display: block;
			    cursor: pointer;
			    height: 10px;
			    width: 10px;
			    right: 13px;
			    top: 13px;
			}
		}
	}
	.orderasample {
	    width: 60%;
	    margin: 15px 0 15px 0;
	    float: left;
	    text-align: left;
	    font-size: 13px;
	    font-family:$pluto-sans-bold;
		position: relative;
		&.paint {
			width: 35%;
		}
		.orderasample-inner:before {
			content: '';
			width: 31px;
			height: 30px;
			opacity: 1;
			position: absolute;
			left: 0;
			top: 0;
			pointer-events: none;
			cursor: pointer;
			background: url("../images/gb-sprite-image.png") no-repeat -352px -1px;
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
		&:hover .orderasample-inner:before {
			opacity: 0.3;
		}
		&.added .orderasample-inner:before, &.added .orderasample-inner:before {
			background-position: -350px -49px;
			opacity: 1;
		}
		&.paint .orderasample-inner:before {
			background-position: -299px -1px;
		}
		&.paint.added .orderasample-inner:before, &.paint.added:hover .orderasample-inner:before {
			background-position: -299px -49px;
		}
	    button {
	    	min-height: 31px;
			text-align: left;
			border: none;
			letter-spacing: -0.5px;
			background: none;
			color: $fountain-blue;
		    padding: 0 0 0 40px;
		}
		.selectboxit-container {
			.selectboxit {
			    width: 100%;
			    border: none;
			}
			.selectboxit-text {
			    padding: 0 0 0 40px;
			    text-indent: 0;
			    line-height: normal;
			    height: 31px;
			    color: $fountain-blue;
			    display: table-cell;
			    float: none;
			    vertical-align: middle;
			    letter-spacing: -0.5px;
		    	font-family:$pluto-sans-bold;
			}
		    .selectboxit-arrow-container {
	    		display: none;
		    }
		}
		.dummy-lable {
	    	display: none;
	    }
		span.error {
			position: absolute;
			visibility: hidden;
		}
	}
	button {
		width: 100%;
		&.add-to-cart, &.add-to-cart-disabled {
			width:70%;
			min-width: 283px;
			margin-top: 20px;
			float: left;
			clear: both;
			display: block;
		}
	}
}
.quantity a	{
	width: 35px;
    height: 35px;
    display: inline-block;
    border: 1px solid $bombay;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    font-family:$pluto-sans-regular;
    line-height: 30px;
    float: left;
    margin-right: 5px;
    color: $maire;
}
.pdp-main {
	.recommendations {
	    width: 80.46%;
	    margin: 0 auto;
    	//margin-left: 10.7%;
		ul {
			.slick-track {
				margin: 0 auto;
			}
			li.recommendation-item {
				padding: 0 10px;
				box-sizing: border-box;
				.plp-star {
					display: inline-block;
				}
			}
			.grid-tile {
				display: inline-block;
			}
			button.slick-prev {
				top: 103px;
    			left: -20px;
			}
			button.slick-next {
				top: 101px;
    			right: -20px;
			}
		}
		.product-tile {
			.product-name {
				margin: 18px 0 3px;
	    		font-size: 13px;
	    		line-height: 20px;
				width: 100%;
			}
			.product-price {
				font-size: 13px;
			}
		}
		
	}
	.product-listing.last-visited {
		margin: 0px auto 66px;
	}
}

.js .pdp-main .recommendations .product-tile .recommendation-tooltip {
	display: none !important;
}

.pdp-main {
	.recommendations .recommendation-tooltip {
		background: none repeat scroll 0 0 $white;
		border: 1px solid;
		left: 50%;
		position: absolute;
		text-align: left;
		top: 50%;
		width: 300px;
		z-index: 100;
	}
	.promotion {
		.promotion-callout {
			color: $red;
		    font-size: 15px;
		    font-family:$pluto-sans-bold;
		    line-height: 25px;
		}
	}
}

/* Start of Product set page */	
.pdp-main {
	.product-col-1.product-set {
		width: 100%;
	    max-width: 1066px;
        position: absolute;
	    margin-left: auto;
	    margin-right: auto;
	    left: 0;
	    right: 0;
	    button.slick-prev.slick-arrow {
		    margin-top: -26px;
		    left: 0;
		}
		button.slick-next.slick-arrow {
		    margin-top: -26px;
		    right: 533px;
		}
		.socialsharing.social-links {
		    width: 82.1%;
		    margin: 20px auto;
		}
	    #thumbnails {
		    width: auto;
		    margin: 0 auto 0 9%;
		    float: none;
		}
	}
	.product-col-2 {
		.product-number {
			width: auto;
			//float: left;
		    margin: 10px 15px 5px 0;
		    font-family:$pluto-sans-regular;
		}
		&.product-set {
			position: relative;
		    margin-top: 0px;
	    	margin-bottom: 53px;
	    	top: 53px;
		    float: right;
		    max-width: 600px;
		    width: 100%;
		    padding: 30px 0px;
		    box-sizing: border-box;
		    background-color: $white;
		    height: auto;
		    overflow-y: auto;
		    left: auto;
   			right: 15px;
			.product-add-to-cart{
				padding: 12px 0 41px 0;
		    	max-width: 495px;
		    	margin: 0 auto;
				.product-price {
					margin-bottom: 25px;
					width: 100%;
					font-family:$pluto-sans-regular;
					.salesprice {
						font-size: 18px;
						font-family:$pluto-sans-bold;
					}
				}
				button{
					width: 290px;
				}
			}
			.promotion {
			    max-width: 495px;
			    margin: 0 auto;
			    padding: 0 0 15px 0;
			}
		}
	}
	.product-set-list {
		border-top: 1px solid $gainsboro;
		max-width: 495px;
		margin: 0 auto;
		.product-set-item {
			border-bottom: 1px solid $gainsboro;
			clear: both;
			margin: 35px 0;
			overflow: hidden;
			padding: 0px;
		}
		.product-set-item.product-bundle-item:last-child {
			margin-bottom: 26px;
		}
		.product-set-image {
			float: left;
			img{
				width:188px;
				margin: 3px 18px 0 0;
			}
		}
		.product-set-details {
			float: left;
			margin: 0px;
			width: 288px;
			#product-set-content {
				margin: 0 auto;
				.product-number {
				    margin: 2px 0 0 0;
				}
				.product-price {
					margin: 5px 0 0 0;
					float: none;
				}
				.view-details {
					margin-top: 25px;
					font-size: 15px;
					font-family:$pluto-sans-bold;
				}
				.availability {
					margin-top: 28px;
					width: 50%;
					float: left;
				
				}
			}	
			.calculator {
				margin-top: 30px;
				width: 50%;
				float: left;
				font-size:13px;
				font-family:$pluto-sans-bold;
			}
			.availability span {
				font-family:$pluto-sans-bold;
				font-size: 13px;
				text-transform: uppercase;
			}
			.availability span.value {
				font-family:$pluto-sans-regular;
				text-transform: capitalize;
			}
			.product-variations .attribute {
				clear:both;
			}
		}
		.attribute {
			display:none;
			h3, .label {
				width: 25%;
			}
		}
		.product-name{
		    width: auto;
		    font-size: 30px;
		    font-family:$pluto-sans-bold;
		    line-height: 30px;
		}
		.block-add-to-cart {
		    margin: 0;
			padding: 30px 0px 35px 0px;
			display:inline-block;
			width: 100%;
			.inventory {
				float: left;
				.quantity a {
				    margin-right: 5px;
					box-sizing: border-box;
				    width: 35px;
					height: 35px;
				}
			}
			label {
				padding: .7em 0;
				text-align: left;
				width: 40%;
			}
			.input-text {
				width: 35px;
			    height: 35px;
			    box-sizing: border-box;
			    margin-right: 5px;
			    text-align: center;
			    float: left;
			}
			.product-price {
				float: left;
				font-size: 1.6em;
				margin: 0;
				padding: 6px 0 0;
				text-align: right;
				width: 35%;
			}
			button {
				float: right;
			    width: 140px;
			}
		}
	}
}
/* End of Product set page */	

// Tabs using just CSS, no javascript required
.tabs {
	position: relative !important;
    float: left !important;
	 .tab .tab-label .menu-item-toggle{
       display:none;
       &.fa-angle-down:before {
		    content: "\f107";
		    margin-right: 21px;
		}
		&.fa-angle-right:before {
		    content: "\f105";
		    margin-right: 25px;
		}
    }
    .tab {
    	.tab-label {
    		&:before {
    			position: absolute;
			    top: 4px;
			    left: -19px;
			    content: '';
			    width: 12px;
			    height: 22px;
			    background: url(../images/gb-sprite-image.png) -413px -134px no-repeat;
    		}
    	}
    	&.checked {
    		.tab-label {
    			&:before {
    				-webkit-transform: rotate(90deg);
    				transform: rotate(90deg);
    			}
    		}
    	}
    }
}
.tab {
    width: 177px;
    float: left;
    border-top: 1px solid $bombay;
    border-right: 1px solid $bombay;
    &:first-child {
    	border-left: 1px solid $bombay;
    	border-left: none !important;
    }
	.tab-switch {
		display: none;
		&:checked {
			+ .tab-label {
				background: $white;
				transition: all 0.35s;
				background-color: $bombay;
				color: $white;
				z-index: 1;
				background:none !important;
			    transition:none !important;
			    color: $black !important;
			  	margin: 0 0 8px 0 !important;
			}
			+ label + .tab-content {
				opacity: 1;
				transition: all 0.35s;
				z-index: 2;
			}
		}
	}
	.tab-label {
		color: $nobel;				
		display: block;
		font-weight: 400;
		line-height: 33px;
		margin-bottom: 0; 			
		position: relative;
		text-transform: none;
		cursor: pointer;
		text-align: center;
		top: 0;
		transition: all 0.25s;
		color: $black !important;
	    display: block !important;
	    line-height: 33px !important;
	    text-transform: none !important;
	    text-align: left !important;
		&:hover {
			transition: top 0.25s;
		}
	}
	.tab-content {					
		padding: 1em 0;
		text-align: left;				
		z-index: 1;
		left: 0;
		opacity: 0;
		position: absolute;
		transition: all 0.35s;
		width: 100%;
	    max-width: 616px;
		padding: 20px 13px 23px 20px;
		box-sizing: border-box;
		border: 1px solid $bombay;
		font-size: 15px;
		line-height: 19px;
		.inner-tab-content {
		    height: 250px;
		    width: auto !important;
		    overflow-y: scroll;
    		-webkit-overflow-scrolling: touch;
		}
		span.wdlabel {
		    width: 50%;
		    display: inline-block;
		    height: auto;
			font-family:$pluto-sans-bold;
		    margin-bottom: 11px;
		    line-height: 19px;
		    padding-right: 10px;
		    box-sizing: border-box;
			.tooltip {
			    cursor: pointer;
			    position: relative;
			    border: 1px solid $bombay;
		        border-radius: 18px;
			    width: 18px;
			    font-size: 13px;
			    font-family:$pluto-sans-regular;
			    display: inline-block;
			    text-align: center;
			    margin: -4px 0 0 14px;
			    vertical-align: middle;
			    color: $bombay;
			}
		}
		span.wdvalue {
		    font-family:$pluto-sans-regular;
		    width: 48%;
	        margin: 0 0 11px -4px;
		    display: inline-block;
		    vertical-align: top;
		}
	}
}
.pdp-main .product-info label {
    font-size:18px !important;
    color: $black !important;
}
#pdpMain {
	.tab-switch {
		&:checked {
			+label:before {
	    		transform: rotate(90deg);
	    	}
	    }
	    +label:before {
	    	position:absolute;
		    top: 4px;
		    left: -19px;
		    content: '';
		    width: 12px;
		    height: 22px;
		    background: url('../images/gb-sprite-image.png') no-repeat -413px -134px;
	    }
    }
}

.tabs .tab-content {
    overflow:hidden;
    height:0;
    position:relative;
    -webkit-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
}
.tabs input:checked ~ .tab-content {
    -webkit-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out,box-shadow 0.1s linear;

    height:150px; /*height: 180px;*/
}
.tab .tab-content {
    position: relative !important;
    opacity: 1 !important;
    transition: all .35s;
    width: 100%;
    max-width: 100% !important;
    padding:0 !important;
    border: none !important;
    font-size: 13px !important;
    line-height: 18px !important;
}
.tab { 
	.tab-content {
		 .inner-tab-content {
		    height: auto !important;
		    width: 100% !important;
		    overflow-y: visible !important;
		    ul {
		    	padding-left: 0 !important;
		    }
		    li {
		    	list-style-type: none;
		    	position: relative;
		    	padding-left: 15px;
		    	box-sizing: border-box;
		    	&:before {
		    		content: ' ';
		    		background: url('../images/gb-sprite-image.png') no-repeat -232px -266px;
					width: 9px;
					height: 11px;
					display: inline-block;
					position: absolute;
				    left: 0px;
				    top: 3px;
				    margin-right: 5px;
		    	}
		    }
		  }
	}
}
.pdp-main {
	.product-info {
		 ul {
    		padding:1.2em !important;
    	}
    }
}
.tab {
    width:100% !important;
    border:none !important;
}
#pdpMain {
	.tabs {
		.description-read-more {
		    margin: 11px 0;
		    color: $fountain-blue;
		    font-family: $pluto-sans-bold;
		    letter-spacing: -.25px;
		    &:hover {
		    	cursor:pointer;
		    }
		 }
	}
}

.js button.add-all-to-cart {
	display: inherit;
}
.content-block img{
	max-width: 100%;
}


/* custom scrollbar styles */

/* start of popup styles */
.popup_dimen {
    font-size: 29px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    margin-top: 4px;
    line-height: 31px;
	span {
    	padding:10px 0;
   		&.rolls {
  			color:#63b2b9;
  		}
   	}
}
.savedrooms{
    width: 100%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding-top: 20px;
    overflow: hidden;
    height: auto;
    max-height: 290px;
    box-sizing: border-box;
	.parent_room {
		padding: 0 0 20px 0;
		display: inline-block;
		width: 100%;
		.room {
			width: 100%;
		    display: table-cell;
		    font-size: 13px;
		    font-family: "Pluto Sans W01 Regular";
		    line-height: 20px;
		    .roomname {
			    font-family:$pluto-sans-bold;
			    text-transform: uppercase;
			    button	{
				  	background-color: transparent;
				    border: none;
				    color: #a7a8aa;
			    }
			}
			.calculation-count {
				color:#63b2b9;
			}
	 	}
	}
 	.parent_room .price {
	    font-family: "Pluto Sans W01 Regular";
	    display: table-cell;
	    vertical-align: top;
	    position: relative;
	    text-align: right;
	    button {
		    background: none;
		    border: none;
		    a:after {
			    background: url("../images/gb-sprite-image.png") no-repeat -104px -245px;
				width: 16px;
			    height: 20px;
			    display: block;
			    position: relative;
			    content: '';
			    float: right;
			    right: 0;
		    }
    	}
		a {
			font-size: 13px;
			color: $white;
			font-family: "Pluto Sans W01 Regular";
			margin-top: 20px;
			display: initial;
			line-height: normal;
	  	}
	}
}
.plp-star {
	display: inline-block;
}

.plp-star .bv-cv2-cleanslate .bv-core-container-243 .bv-inline-rating-container .bv-rating-stars-off {
    color: #929292!important;
    letter-spacing: 1px !important;
    font-size: 15px!important;
}
.plp-star .bv-cv2-cleanslate .bv-core-container-243 .bv-inline-rating-container .bv-rating-stars-on {
    font-size: 15px!important;
    color: #f3a534!important;
    margin-top: -1em!important;
    letter-spacing: 1px !important;
}
.plp-star .bv-cv2-cleanslate .bv-core-container-243 .bv-stars-container dd {
    display: inline-block!important;
    vertical-align: middle!important;
    padding-right: 5px!important;
    padding: 5px 0px !important;
}
/* styles for Reviews Start */
.pt_product-details {
	.product-col-2 {
		.bv-cleanslate .bv-summary-bar {
		    position: relative !important;
		    margin: 10px 0 !important;
		}
		.bv-cleanslate .bv-stars-container {
			float: left !important;
			width: 100% !important;
		}
		.bv-cleanslate .bv-details-bar {
		    margin: 0!important;
		    clear: both !important;
		}
		.bv-cleanslate .bv-summary-bar .bv-percent-recommend-container {
			color: $maire !important;
			letter-spacing: -1px !important;
		    font-size: 12px !important;
		    font-family: "Pluto Sans W01 Regular" !important;
		    .bv-text-link {
		    	color: $maire !important;
		    	letter-spacing: -1px !important;
			    font-size: 12px !important;
			    font-family: "Pluto Sans W01 Regular" !important;
		    }
		}
		
		.bv-cleanslate .bv-primarySummary-rating-container .bv-rating-stars-off {
			color: $star-bg !important;
		}
		.bv-cleanslate .bv-primarySummary-rating-container .bv-rating-stars-on {
			color: $star-color !important;
		}
		.bv-cleanslate .bv-primarySummary-rating-container .bv-rating-stars-container .bv-rating-stars {
			font-size: 15px!important;
		    //margin-left: 2px !important;
		    margin-right: -3px !important;
		    letter-spacing: 4px !important;
		}
		.bv-cleanslate .bv-stars-container dd {
			padding-right: 0 !important;
			margin-right: -2px !important;
		}
		.bv-cleanslate .bv-summary-bar .bv-rating-ratio-number {
			//margin-left: -5px !important;
		}
		.bv-cleanslate .bv-summary-bar .bv-rating.bv-text-link:visited, 
		.bv-cleanslate .bv-summary-bar .bv-rating.bv-text-link:hover,
		.bv-cleanslate .bv-summary-bar .bv-rating-ratio-number .bv-rating {
			padding: 0 5px 0 0 !important;
		    margin: 0 !important;
		    font-size: 12px !important;
			font-family: $pluto-sans-regular !important;
		    color: $maire !important;
		    border-right: 1px solid $maire !important;
		    line-height: 7px !important;
		}
		.bv-cleanslate .bv-summary-bar .bv-rating-label {
			padding: 0 4px 0 0 !important;
		    margin: 0 !important;
		    font-size: 12px !important;
			font-family: $pluto-sans-regular !important;
		    color: $maire !important;
		    border-right: 1px solid $maire !important;
		    line-height: 7px !important;
		    white-space: initial !important;
		}
		.bv-cleanslate .bv-summary-bar .bv-action-bar {
		    padding: 0px !important;
		    position: absolute !important;
		    right: 0 !important;
		    top: 0 !important;
		}
		.bv-cleanslate .bv-summary-bar .bv-action-bar.review-for-NZ {
			left: 172px !important;
		}
		.bv-cleanslate .bv-summary-bar .bv-action-bar .bv-write-review-container {
			margin: 0 0 0 5px !important;
		}
		.bv-cleanslate .bv-summary-bar .bv-action-bar .bv-write-review-container.review-for-FR {
				position: relative !important;
				left: -86px !important;
		}
		.bv-cleanslate .bv-summary-bar .bv-action-bar .bv-write-review-container.review-for-NL {
				position: relative !important;
				left: 78px !important;
		}
		.bv-cleanslate .bv-summary-bar .bv-action-bar .bv-write-review-container.review-for-DE {
				position: relative !important;
				left: 63px !important;
		}
		.bv-cleanslate .bv-action-bar {
			button, button.bv-write-review:hover, button.bv-write-review:focus {
				color: $fountain-blue !important;
				font-size: 13px !important;
				font-family: $pluto-sans-bold !important;
				font-weight: normal !important;
				padding: 0 !important;
				line-height: 15px !important;
		    	background: none !important;
			}
		}
	}
	#BVRRContainer .bv-cleanslate .bv-content-title {
	    font-family: "Pluto Sans W01 Bold"!important;
	}
	#BVRRContainer .bv-cleanslate .bv-action-bar {
	    margin: 0 !important;
	}
	#BVRRContainer .bv-cleanslate .bv-action-bar-header {
		font-family: $pluto-bold !important;
	}
}
.colorcard-popup{
	padding:20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	form {
		.customer-details {
			p {
			    margin-bottom: 20px;
			    font-size: 28px;
			    font-style: italic;
			    text-transform: uppercase;
			    line-height: 1;
			    text-align: center;
			}
			.form-row {
				width:100%;
				label {
				    display: inline-block;
				    padding: 0 2% 0 0;
				    width: 42%;
				    vertical-align: middle;
				    font-size: 13px;
				    text-align: right;
				    box-sizing:border-box;
				    line-height:35px;
				}
				.field-wrapper {
				    margin: 2px 0 0;
				    width: 58%;
				    display: inline-block;
				    float: right;
				    input[type="text"]{
			    	    display: inline-block;
					    padding: 8px 0 5px;
					    border-radius: 0;
					    background-clip: padding-box;
					    box-sizing: border-box;
					    width: 100%;
					    height: 35px;
					    vertical-align: middle;
					    font-size: 18px;
					    text-indent: 10px;
				    }
				}
				.error-message {
				    color: #ff0000;
				    width: 58%;
				    float: right;
				}
			}
			.label-inline {
		        width: 58%;
    			float: right;
			    label {
			    	line-height: normal;
				    padding: 4px 0 0 30px;
				    width: 100%;
				    text-align: left;
			    }
		    	.field-wrapper {
		    		width: 100%;
		    	}
			}
		}
		.sec-btn {
		    float: right;
		    width:58%;
		    clear: both;
		    margin-top: 10px;
		}
	}
}

/* styles for Reviews End */

/* styles for hero image breaking before slick load */
.product-primary-image {
   	text-align: center;
    white-space: nowrap;
    > div {
	    display: inline-block;
	    width: 100%;
	    text-align: center;
	    &.slick-list {
		    display: block;
		}
	}
}
.colorcard-popup{
	 .form-row.form-row-button {
	    float: left;
	    clear: none;
	    margin-right: 20px;
	    .sec-btn{
	    	width:auto;
	    }
	}
}
/* styles for Hp wallart */
.pt_product-details{
	.product-col-2.product-detail{
	.button-fancy-large.customise-your-wall.prm-btn{
			margin-top: 20px;
	}
	}
}
.ui-dialog.ui-widget.ui-widget-content.hpwallart-popup {
    float: left;
    /*box-shadow: 2px 2px 2px 2px #D3D3D3;*/
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .ui-dialog-titlebar {
        position: absolute;
        z-index: 9999;
        right: 0;
        button.ui-button-icon-only.ui-dialog-titlebar-close {
            position: absolute;
            top: 25px;
            right: 25px;
            cursor: pointer;
        }
    }
    .ui-dialog-buttonpane {
    	display: none;
    }
    .dialog-content.ui-dialog-content {
        padding: 28px 5em 33px 5em;
        h1 {
            font-size: 30px;
            color: #1d1d1b;
            margin: 0 0 0 20px;
        }
        .HPWallArtforms {
            float: left;
            width: 100%;
            padding:0 20px;
            box-sizing: border-box;
            .HpWallArtone {
                /* width: 310px;
                float: left;
                margin-right: 120px;
                margin-left: 55px; */
                form {
                    .form-row {
                        label {
                            color: #1c1c1b;
                            padding-top: 10px;
                            display: inline-block;
                            width: 50%;
                            font-weight: 600;
                        }
                        .field-wrapper {
                            .selectboxit-text {
                                color: #b2b2b1;
                                padding: 0 0 0 10px;
                            }
                        }
                    }
                    .radio-select {
                        .form-row {
                            label {
                                color: #2b2b2a;
                                display: inline-block;
                                width: 50%;
                                padding-top: 5px;
                                font-weight: 600;
                            }
                            .field-wrapper {
                                width: 50%;
                                float: right;
                                .input-radio {
                                    width: 16px;
                                    height: 16px;
                                    border-radius: 20px;
                                    margin: 3px 6px 0px 15px;
                                    vertical-align: bottom;
                                    background: #d8d8d8;
                                    padding: 0;
                                    &:checked {
                                        border: 4px solid #2f9dd6;
                                    }
                                }
                            }
                        }
                    }
                    .sizeboxes {
                        width: 100%;
                        float: left;
                        margin-top:20px;
                        span {
                            color: #2b2b2a;
                            display: inline-block;
                            width: 40%;
                            padding-top: 10px;
                            font-weight: 600;
                        }
                        .boxes {
                            float: right;
                            width: 55%;
                            position:relative;
                            .boxone, .boxtwo {
                                float: left;
                                width: 35%;
                                margin-left: 25px;
                                .form-row {
                                    width: 58px;
                                    label {
                                        display: none;
                                    }
                                    .field-wrapper {
                                        .input-text {
                                            width: 58px;
                                            height: 38px;
                                            &:placeholder {
                                                color: #b2b2b1;
                                            }
                                        }
                                    }
                                }
                            }
                            .cross-icon-multiplier {
                                background: url("../images/cross-icon-multiplier.png") no-repeat;
                                width: 20px;
                                height: 20px;
                                position: absolute;
                                left: 54%;
    							top: 28%;
                            }
                        }
                    }
                }
            }
            button#CalculatePriceForHP {
                width: 100%;
                float: right;
                margin-top: 11px;
                background-color: #63b0bb;
                color: #fff;
                padding: 15px;
                cursor: pointer;
                font-size: 15px;
                font-family: Pluto Sans W01 Bold;
                border: none;
                border-radius: 0;
                min-height: 50px;
                text-align: center;
                text-transform: uppercase;
                box-sizing: border-box;
                transition: all 0.3s ease;
                &:hover {
                    background-color: #1c1c1b;
                }
            }
            .HPWallArtTwo {
                width: 100%;
                float: left;
                .prod-cat {
                    .form-row {
                        label {
                            color: #1c1c1b;
                            padding-top: 32px;
                            display: inline-block;
                            width: 42%;
                            font-weight: 600;
                        }
                        .field-wrapper {
                            float: right;
                            width: 100%;
                            .selectboxit-text {
                                color: #b2b2b1;
                                padding: 0 0 0 10px;
                            }
                        }
                    }
                }
                .proj-cost {
                    .form-row {
                        label {
                            color: #1c1c1b;
                            padding-top: 10px;
                            display: inline-block;
                            width: 35%;
                            font-weight: 600;
                        }
                        .field-wrapper {
                            float: right;
                            width: 60%;
                            .input-text {
                                background-color: #fff;
                            }
                        }
                    }
                }
                button#launchWindowForHP {
                    width: 100%;
                    float: right;
                    margin-top: 20px;
                    background-color: #63b0bb;
                    color: #fff;
                    padding: 15px;
                    cursor: pointer;
                    font-size: 15px;
                    font-family: Pluto Sans W01 Bold;
                    border: none;
                    border-radius: 0;
                    min-height: 50px;
                    text-align: center;
                    text-transform: uppercase;
                    box-sizing: border-box;
                    transition: all 0.3s ease;
                    span {
                    	font-family: Pluto Sans W01 Bold;
                    	&.button-txt {
                    		display: inline-block;
						    vertical-align: top;
						    margin-top: 5px;
						    margin-right: 10px;
                    	}
                    	&.button-img {
                    		display: inline-block;
                    	}
                    }
                    &:hover {
                        background-color: #1c1c1b;
                    }
                }
                .message-main {
                	width: 100%;
                	float: left;
                	position: relative;
                	padding: 10px;
                	box-sizing: border-box;
                	margin-top: 15px;
                	background-color: #90d2dc;
                	color: #000;
                	font-size: 11px;
                	&:after {
                		content: " ";
                		position: absolute;
                		right: 10px;
                		top: -10px;
                		width: 0;
                		height: 0;
                		border-left: 7px solid transparent;
						border-right: 7px solid transparent;
						border-bottom: 10px solid #63b0bb;
						-webkit-transform: translateX(-50%);
						transform: translateX(-50%);
                	}
                }
            }
        }
    }
}
