.show-only-desktop {
	display: block;
}
.hide-only-desktop {
	display: none;
}
.show-only-tablet {
	display: none;
}
.show-only-mobile {
	display: none;
}
.hide-only-mobile {
	display: block;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.pdp-main {
		.product-add-to-cart {
			.custom-msg {
				&.custom-uk {
					display: block;
				}
			}
		}
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.pdp-main {
		.product-thumbnails {
			top: 30px;
			ul {
				li.thumb {
					height: 75px;
				}
			}
		}
		.pinterest {
			bottom: 70px;
			right: 80px;
		}
	}
}
@media screen and (min-width: 1280px) {
	.pdp-main .product-col-2 {
		//position: absolute;
	    //margin-left: auto;
	    //margin-right: auto;
        //left: 715px;
	    //right: 0;
	}
}
@media screen and (min-width: 1280px) and (max-width: 1380px) {
	.pt_categorylanding .cat-land-row .product-listing .search-result-items li {
		background-size: 90%;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1140px) {
	 .banner2 .banner2-left h2, .banner3 .banner3-text h2, .banner4 .banner4-left h2 {
	 	font-size: 37px;
    	line-height: 37px;
	 }
	 .menu-category a {
	 	font-size: 13px;
	 }
	 .level-1 > li {
	 	padding: 0 1.5% 18px;
	 }
	.pdp-main .product-col-2 {
	    right: 55px;
    	max-width: 378px;
	    &.product-set {
	    	right: 18px;
    		width: 530px;
	    }
	}
    .footer footer .footer-container {
	    padding: 65px 3.21% 20px;
    }
}

@media screen and (min-width: 1024px) {
	.level-1 li:hover .level-2 {
		display: block;
	    -webkit-box-shadow: 0px 0px 3px rgb(187, 185, 185);
	    -moz-box-shadow: 0px 0px 3px rgb(187, 185, 185);
	    box-shadow: 0px 0px 3px rgb(187, 185, 185);
	}
	.level-1 {
		.hovered-list {
			background-color: #fff;
			a {
				color: #000; 
			}
		}
	}
	.hovered-list {
		.level-2 {
			min-height: 474px;   
			> ul { 
				&.menu-horizontal {
					position: relative;
					> li {
						float: left;
					    display: inline-block;
					    clear: both;
					    width: 20%;
					    box-sizing: border-box; 
					    border-bottom: 1px solid #d6d6d6;
					    padding: 20px 0px 20px 0px;
				    	&:before {
						    content: '';
						    width: 11px;
						    height: 23px;
						    display: inline-block; 
							top: -3px;
						    right: 0%;
						    float: right;
						    position: relative;
						    background: url(../images/gb-sprite-image.png) -333px -133px no-repeat; 
						    opacity: 0.4;
						    filter: alpha(opacity=40);
						}
					    &.level-3-hovered {
					    	border-bottom: 1px solid #000;
							&:before {
								opacity: 1;    
								filter: alpha(opacity=100);
							}  
					    }
						.level-3 {
						    position: absolute;   
						    left: 26%;   
						    width:60%;
						    display: none;  
						    top:0px;
						    a {
						    	font-size: 16px;
    							padding: 10px 0 10px; 
						    }
						}
						&.level-3-hovered {
							> a {
								color: $black;   
							}
							.level-3 {
								display: block;   
								a {
									text-transform: uppercase;
								}
							}
						}
						
						&.view-all-first {
							background-color: #000 !important;
							color: #fff !important;
							text-transform: uppercase !important;
							display: inline-block !important;
							padding: 14px 15px 8px !important;
							font-size: 13px;
							font-family: "Pluto Sans W01 Bold";
							
							&.level-3-hovered {
								color: #fff !important;
								a {
									color: #fff !important;
								}
							}
							a {
								color: #fff;
								width: 100%;
								text-align: center;
							}
							i,&:before {
								display: none;
							}
						}
					}
				}
			}
		}
	}

}

/* start Media Query 1023 */
@media screen and (max-width: 1023px) {
	.show-only-desktop {
		display: none;
	}
	.show-only-tablet {
		display: none;
	}
	.hide-only-desktop {
		display: block;
	}
	/* Drop 1 Start 1023px */
	#header {
		.header-banner {
			display: none;
		}
		.top-banner {
			padding: 27px 3px 15px 0px;
	    	box-sizing: border-box;
			.menu-toggle {
				width: 57px;
			    height: 37px;
			    margin: -3px 0px 0px 27px;
			    padding: 0;
			    float: left;
			    display: block;
			    border: none;
			    background: url("../images/gb-sprite-image.png") -103px -147px no-repeat;
			}
			.primary-logo {
			    float: none;
			    width: 260px;
			    padding: 0;
			    margin: 0 auto;
			    display: block;
			    img {
			    	min-height: initial;
			    }
			}
			#mini-cart {
			    top: 13px;
			}
		}
	}
	.header .country-select form {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
	    z-index: 1;
		.form-row {
		    margin: 0;
		    width: 100%;
		    label {
			    display: none;
			}
			.field-wrapper {
			    margin: 0;
			    width: 100%;
			}
			&:first-child .selectboxit-container {
				width: 100%;
				height: auto;
			    background: transparent;
			    border-bottom: 1px solid $mb-nav-border;
    			border-top: 1px solid $mb-nav-border;
				a.sbSelector {
				    color: transparent;
				}
				.selectboxit-options {
					width: 100%;
				}
			}
			.selectboxit-container { 
				width: 100%;
				height: auto;
				background: transparent;
				.selectboxit {
				    height: 50px;
				    border: 0; 
				    position: relative;
				    //left: 85%; 
				    width: 100% !important;
			        z-index: 1;
				}
				.selectboxit-options {
				    width: 100%;
				    position: static;
				    border-width: 1px 0 1px 0;
				    a {
				    	padding: 0 0 0 10.33%;
				    	text-indent: 30px;	 	 		    	
				    }
				}
				.selectboxit-text {
					padding: 0 0 0 10.33%;
    				text-indent: 30px;
				    line-height: 50px;
				    color: $maire;
		    		font-size: 13px;
				}
				.selectboxit-arrow-container {
					width: 100%;
					&:before {
						content: '';
					    width: 11px;
					    height: 23px;
					    display: inline-block;
					    top: 12px;
					    left: 7%;
					    position: absolute;
					    background: url("../images/gb-sprite-image.png") -333px -133px no-repeat;
					}
				}
				.selectboxit-open .selectboxit-arrow-container:before {
					width: 21px;
				    height: 18px;
				    background-position: -391px -153px;
				}
			}
		}
		span.selectedCountry {
			left: 10.33%;
			top: 20px;
	    	margin: 0 0 0 30px;
		}
		span.currency {
		    position: absolute;
		    color: $maire;
		    font-size: 13px;
		    top: 18px;
		    left: 10.33%;
		    margin: 0 0 0 51px;
		}
	}
	.slot-below-usermenu {
		.html-slot-container .top-promo {
			width: 100%;
			display: none;
			&:nth-of-type(2) {
				display: block;
			}
			span, a {
				display: inline;
			}
			img {
				display: none;
			}
		}
	}
	#wrapper.menu-active {
		left: 89%;
	}
	nav[role="navigation"] {
	    width: 89%;
	    position: absolute;
	    top: 0;
	    left: -89%;
	    margin-top: 0;
	    color: $white;
	    border-right: 1px solid $mb-nav-border;
	    box-sizing: border-box;
	    .header-search {
		    width: 100%;
		    padding: 19px 5.22%;
     	    margin: 0;
		    display: table !important;
		    box-sizing: border-box;
		    background-color: $header-bg;
		    form button {
		    	right: 5.22%;
		    }
	     }
	     .menu-category.level-1 {
	     	width: 100%;
		    margin: 0;
		    padding: 0;
		    background-color: $white;
	     	transition: all 0.3s;
	     	> li {
	     		width: 100%;
	     		padding: 0;
	     		float: left;
	     		border-bottom: 1px solid $mb-nav-border;
	     		&.has-sub-menu > i.menu-item-toggle, .level-2 li.has-submenu i.menu-item-toggle {
				    width: 10.33%;
				    padding: 0px 0px 0px 84.66%; 
	     		 	display: inline-block;
	     		 	float: right;
				    height: 50px;
					cursor: pointer;
					position: absolute;
					transition: all 0.3s;
					&.angle-right:before {
					    content: '';
					    width: 11px;
					    height: 23px;
					    display: inline-block;
					    top: 12px;
					    left: 60%;
					    position: relative;
					    background: url("../images/gb-sprite-image.png") -333px -133px no-repeat;
					}
					&.angle-down:before {
						content: '';
					    width: 21px;
					    height: 18px;
					    display: inline-block;
					    top: 12px;
					    left: 43%;
					    position: relative;
					    background: url("../images/gb-sprite-image.png") -391px -153px no-repeat;
		     		 }
	     		 }
	     		 .level-2 li.has-submenu i.menu-item-toggle { 
	     			    padding: 0px 0px 0px 74%; 
	     		 }
	     		 &.shopbyroom .level-2 > ul > li {
				    padding: 0;
				    display: block;
				    text-align: left;
				    a .category-img {
				    	display: none;
				    }
				}
	     		a {
				    width: 89.66%;
	     			padding: 0 0 0 20px;
	     			float: left;
	     			font-family:$pluto-sans-bold;
				    color:$mb-nav-a;
				    line-height: 50px;
				    display: inline-block;
				    box-sizing: border-box;
	     		}
	     		.level-2 {
	     			float: right;
				    padding: 0;
				    width: 89.66%;
				    position: static;
				    margin-top: 0;
				    background: none;
				    max-height: 100%;
					> ul.menu-vertical {
						float: none;
						> li {
							> a {
								width: 100%;
								height: 30px;
								font-family:$pluto-sans-regular; 
    							line-height: normal;
							}
						}
					}
					> ul.menu-horizontal {
				    	width: 100%;
						> li {
							width: 100%; 
							padding: 0;
							> a {
								height: 50px;
								padding: 0 0px 0px 10px;
    							font-size: 14px; 
							}
							.level-3 {
								display: none;
								a {
									width: 89.77%;
									height: 30px;
									padding: 0 0px 0px 10px; 
									font-family:$pluto-sans-regular;
		    						line-height: normal;
								}
							}
							&.active .level-3 {
								display: block;
							}
						}
					}
					.wide-menu .level-3 li {
						width: 100%;
					}
					.banner {
	     				display: none;
	     			}
				}
	     	}
	     }
	     .menu-utility-user {
	     	position: static;
	     	.user-info {
	     		.user-panel {
     			    width: 100%;
				    margin: 0;
				    padding: 0;
				    position: static;
				    opacity: 1;
				    visibility: visible;
				    h3 {
				    	padding: 0 0 0 20px;  
    					text-indent: 0px;
				    	width: 100%;
					    height: 50px;
				        position: relative;
					    color: $maire;
					    line-height: 50px;
					    display: inline-block;
					    box-sizing: border-box;
					    &:before {
						    content: '';
						    width: 11px;
						    height: 23px;
						    display: inline-block;
						    top: 12px;
						    right: 6%;
    						position: absolute;
						    background: url("../images/gb-sprite-image.png") -333px -133px no-repeat;
						}
				    }
				    .user-links {
				    	padding: 0;
						margin: 0;
						display: none;
						a {
						    height: 30px;
							margin-left: 10.33%;
						    padding: 0 0 0 20px;
						    color: $mb-nav-a;
							line-height: normal;
						    display: block;
						    &.user-logout.sec-btn {
							    margin: 0 0 15px 14.33%;
							    padding: 0;
							    line-height: 30px;
							}
						}
				    }
				    &.active {
		     			h3:before {
		     				width: 21px;
						    height: 18px;
						    background-position: -391px -153px;
		     			}
		     			.user-links {
							display: block;
					    }
		     		}
	     		}
	     		a.user-account, .social-links, form {
			    	display: none;
			    }
	     	}
	     }
	}
	.ui-dialog.launch-window {
		#dialog-container .launchwindow {
			position : static;
			margin: 0 auto 100px;
		}
	}
	#search-suggestions {
	    top: 80px;
	    height: auto;
	    .search-suggestion-wrapper {
		    padding: 30px 0;
			.product-suggestions {
				width: 100%;
				padding: 0 0 0 55px;
			}
			.phrase-suggestions {
			    width: 100%;
			    margin: 0 0 40px 0;
			    padding: 0 0 20px 55px;
			    border-bottom: 1px solid #e8e8e7;
			}
		}    
	}
	.banner1 {
		height: auto !important;
		.banner1-text {
			position: absolute;
			z-index: 1;
			left: 58.5%;
			top: 46%;
			h1 {
				font-size: 43px;
				line-height: 43px;
			}
		}
	}
	.banner2 {
		padding: 81px 0 37px;
		.banner2-left {
			padding: 0 6% 0 8.3%;
			h2 {
				font-size: 33px;
			    line-height: 33px;
			    margin: 11px 0 21px 0;
			}
		}
		.banner2-slide.banner2-slider .slick-slide {
			background-size: 21%;
			background-position-y: 70px;
			padding: 0px 4.8% 0 25px;
		}
		.banner2-right {
			.product-tile {
				width: 100%;
    			margin: 0 auto;
			}
			button.slick-prev {
				top: 96px;
			    left: 0;
			    width: 17px;
			    height: 35px;
			    background-position: -331px -211px;
			}
			button.slick-next {
			    top: 96px;
			    left: 129.5%;
			    width: 17px;
			    height: 35px;
			    background-position: -354px -211px;
			    z-index:1;
			}
		}
	}
	.banner3 .banner3-text {
	    left: 62.2%;
		top: 21%;
		h2 {
			font-size: 33px;
			line-height: 33px;
    		margin: 12px 0 31px 0;
		}
	}
	.banner4 {
		.banner4-left {
			padding: 7.1% 5.35% 7.1% 7.7%;
			h2 {
				font-size: 33px;
			    line-height: 33px;
			    margin: 11px 0 26px 0;
			}
		}
		.banner4-right span {
		    margin: 24px auto 23px;
		    font-size: 13px;
		}
	}
	.banner6 {
	    padding: 28px 0 60px 0;
	    .banner6-text h3 {
			font-size: 29px;
		}
	}
	#wrapper.pt_account #main #primary {
		max-width: 100%;
		margin: 0;
		float: left;
		box-sizing: border-box;
		.acc_inner {
			margin: 0;
			padding: 0 60px 60px;
			max-width: 100%;
		}
		.col-1 {
			width: 100%;;
		    max-width: 430px;
			float: none;
			display: inline-block;
		}
		.col-2 {
		    width: 100%;;
		    max-width: 430px;
		    padding: 60px 0 0 0;
			float: none;
		    border: none;
		}
		.account-options {
			width: 100%;
			li {
				width: 100%;
				margin: 0;
			}
		}
	}
	.footer {
		footer {
			.footer-container {
				padding: 52px 0px 20px;
				.footer-right {
					width: 100%;
				    padding: 0px 79px 72px;
				    float: none;
				    border-bottom: 1px solid #b2b2b1;
				    box-sizing: border-box;
				    .social-links {
    					width: 45%;
    					display: inline-block;
				    }
				    form#email-alert-signup {
    					width: 50%;
    					float: right;
    					p {
    						margin-top: 0;
    					}
				    }
				}
				.footer-left {
					width: 100%;
				    padding: 50px 35px 0;
				    float: none;
				    display: inline-block;
				    box-sizing: border-box;
					.footer-item-1, .footer-item-2, .footer-item-3 {
						width: 33.33%;
						padding-left: 40px;
						float: left;
    					box-sizing: border-box;
    					position: relative;
    					h3:before {
						    content: "\f107";
						    position: absolute;
						    left: 0;
						    top: -2px;
						    font-size: 30px;
						    font-family: FontAwesome;
						    font-weight: 100;
						}
						h3.expand:before {
						    content: "\f105";
						}
					}
				}
			}
		}
	}/* Drop 1 End 1023px */
	/* Drop 3 Start 1023px */
	.pdp-main {
		.product-primary-image {
	    	.slick-list {
	    		width: 533px;
	    		margin: 0 auto;
	    	}
	    	button.slick-next {
	    		right: 33px;
			}
		}
		.socialsharing.social-links {
		    margin: 30px 80px 23px 0;
		    padding-bottom: 0 !important;
		    text-align: right;
	        width: auto;
		}
		.product-thumbnails {
    		//width: 270px;
    		//clear: both;
		}
		.product-col-2 {
			//max-width: 450px;
			//position: static;
			//min-height: auto;
			//margin: -77px 0 24px 0;
		    //box-shadow: none;
		}
		.product-info {
			clear: both;
		    width: 100%;
		    box-sizing: border-box;
		    padding: 0 9.21%;
		}
	}
	.pdp-main .get-the-look-content{
		//background: none;
		//padding: 0 9.21%;
		h2{
		    font-size: 18px;
		    width: 100%;
    		margin: 0 auto;
    		box-sizing: border-box;
		}
		.get-the-look-image {
			width:100%;
			padding: 0px 0 72px 0;
	    	box-sizing: border-box;
	    	text-align: center;
		}
		.get-the-look-products{
			width:100%;
			max-width:  100%;
			text-align: center;
			padding: 0px 8.8% 0 8.8%;
			.get-look-tile {
				//padding: 0px 60px 50px 60px;
			}
		}
	}
	.pdp-main .similar-products-content {
		padding-top: 0;
		.similar-products-text-content h2, .similar-products-text-content h1 {
			width: 100%;
		    padding: 0 10.7%;
		    box-sizing: border-box;
		    font-size: 18px;
		    margin: 4px auto 34px;
		}
		.recommendations {
			ul.slick-slider {
				button.slick-prev {
				    top: 103px;
				    left: -54px;
				    margin-top: -27px;
				}
				button.slick-next {
					right: -50px;
    				margin-top: -27px;
				}
			}
		}
	}
	.pdp-main .pdp-review-section {
	    margin: 50px auto 0 auto;
    	width: 80%;
    	clear: both;
	}
	.product-listing.last-visited, .product-listing.featured-products {
		margin: 70px 0 0 0;
    	padding: 73px 0;
		h2 {
			width: 100%;
		    padding: 0 10.7%;
		    box-sizing: border-box;
		    font-size: 18px;
		    margin: 4px auto 34px;
		}
		.search-result-items button.slick-prev {
		    top: 103px;
		    left: -54px;
		    margin-top: -27px;
		}
		 .search-result-items button.slick-next {
		    right: -50px;
		    margin-top: -27px;
		}
	}
	.pdp-main .product-col-1.product-set {
		position: static;
		.product-primary-image {
			margin: 0;
			.slick-list {
				width: 533px;
    			margin: 0 auto;
			}
			button.slick-prev.slick-arrow {
			    left: 35px;
			}
			button.slick-next.slick-arrow {
			    right: 35px;
			}
		}
		.socialsharing.social-links {
			width: 100%;
		    padding: 0 79px;
		    box-sizing: border-box;
		}
		#thumbnails {
			width: 100%;
		    padding: 0 79px;
		    margin: 0;
		    box-sizing: border-box;
		    ul {
		    	max-width: 100%;
		    }
		}
		
	}
	.pdp-main .product-col-2.product-set {
		position: static;
	    max-width: 100%;
	    padding: 0 0 0 0;
	    .product-add-to-cart, .promotion, .product-set-list {
	    	max-width: 610px;
	    }
	}/* Drop 3 End 1023px */
	/* Drop 4 Start - 1023px */
	.pt_cart .primary-content .cart-section {
		width: 100%;
	    max-width: 100%;
	    padding: 0 35px 70px;
		.cart-actions-top {
			margin: 25px auto;
		}
	}
	#cart-table {
		.item-image {
			width: 10%;
		}
		.item-details {
			width: 19%;
		}
		.item-quantity-details {
			width: 30%;
		}
		.item-price {
			width: 21%;
		}
		.item-total {
			width: 15%;
		}
	}
	.cart-order-totals button.sec-btn {
	    margin: 0 0 14px 0;
	}
	#wrapper.pt_order-confirmation {
		#main {
		    width: auto;
		    margin: 44px 66px;
		}
		.primary-content {
			margin-bottom: 44px;
		}
		#secondary.summary {
	        float: none;
    		clear: both;
		}
	}
	#wrapper.pt_checkoutnew {
		#main {
			width: auto;
			padding: 44px 66px;
		}
		.primary-content {
			margin-bottom: 44px;
		}
		#secondary {
			float: none;
			clear: both;
		}
		select~span.error {
			position: relative;
		}
	}
	.pt_cart .product-listing.last-visited, .product-listing.featured-products {
		margin: 0;
	}/* Drop 4 End - 1023px */

	/*Start of Media Query for category landing page */
	.pt_content-search-result.show-paging {
		#secondary {
			display:none;
		}
		#primary {
			width:100%;
		}
	}
	.pt_categorylanding {
		.cat-land-row {
			.cat-land-shopall {
			    width: 31.2%;
			}
			.product-listing {
			    width: 65.8%;
				margin-left: 20px;
				.search-result-items {
				    margin: 0px ;
				    width: 120%;
				    li {
				        background-size: 95%;
				    }
				}
				button.slick-next {
				    right: 14%;
				}
			}
		}
	}
	.pt_product-search-result {
		#secondary {
			display:none;
			width:100%;
			margin-bottom: 20px;
		}
		#primary {
		    width: 85.7%;
		    margin: 13px auto;
    		float: none;
    		max-width: 611px;
    		.content-header {
    			margin: 1px 0 0 0;
    			width: 100%;
    			&.bottom-header {
    				display: none;
    			}
    		}
    		.search-result-options {
			    float: left;
			    width: 100%;
		        min-width: 100%;
    			display: inline-block;
    			margin: 15px 0px;
    		}
    		.html-slot-container {
    			display:none;
    		}
		}
		#primary .search-result-items {
		    margin: 0 auto;
			.new-row {
				clear:none;
			}
			.grid-tile {
			    width: 50%;
				max-width: 300px;
				padding: 0 10px 20px 0;
			    box-sizing: border-box;
			    &:nth-child(2n) {
				    padding: 0 0 20px 10px;
				}
				.product-tile {
    				.product-review {
    				    margin-bottom: 0;
    				}
    				.product-image {
    				    max-width: 100%;
    				}
				}
			}
		}
	}
	/*end of Media Query for category landing page */
	
	/* strat of media querries for category landind template 2 */
	#wrapper.pt_categorylanding2 #main #primary.category-content {
		.category-banner-container {
			.cat_landing2_text {
			    top: 46%;
		    	right: 10%;
		        line-height: 56px;
		    	font-size: 56px;
			}
		}
		#category_block {
	 		.heading_first {
				width: 100%;
		    	float: left;
		    	position: relative;
				.previous {
					margin-top: 22px;
					margin-left: 3%;
					width: 30%;
					font-size:13px;
					position: absolute;
				}
		 		.middle{
		 			width:100%;
				 }
				  .next {
				     margin-top: 22px;
				     width: 30%;
				     margin-right: 3%;
				     font-size:13px;
				     position: absolute;
			         top: 0;
				     right: 0;
				 }
				 .middle .heading {
			        margin: 53px auto 23px;
				    font-size: 56px;
				    max-width: 50%;
				    text-align: center;
				 }
		 	}
			.category-banner-products {
		    	margin-top: -15px;
				.grid-tile {
					&.copy_image img {
						margin-top: 0px;
					    margin-left: 0px;
					    margin: 0 auto;
					}
					.product-tile .product-name {
						padding: 0px;
						a {
							font-size: 13px;
						}
					}
				}
			}
		}
	}
	/* end of media querries for category landind template 2 */
	
	/* Start of media querries for drop5 - Tablet */
	.pt_content {
		table {
			width:100% !important;
		}
	}
	#wrapper.pt_order.order_content.orderdetails_myaccount {
		#secondary {
		      .account-options li.acc-user-detail {
		    	border-top:none !important;
		    }
		}
		#main #primary.my_account_orderdetails {
		    width: 100%;
		    margin: 0;
		    padding: 15px;
		    box-sizing: border-box;
		}
	}
	.account_addr_personaldetails, .pt_order, .pt_wish-list {
		.breadcrumb {
			display: none !important;
		}
	}
	#wrapper.pt_wish-list #main #primary {
		label {
    		color: $black;
		}
		.socialsharing.social-links {
			ul {
				float: right;
			}
		}
	}
	.pt_order.order_content .order-history-table td {
	    width: 100% !important;
        box-sizing: border-box;
	    float: left;
	    margin-bottom: 32px;
	}
	#wrapper.pt_order #main #primary .search-result-options {
		width:100%;
	}
	#wrapper.pt_account #main {
		#primary {
			&.primary_address {
			    padding: 0px 60px;
			    width:100%;	
			    float:left;
			    .col-1 legend {
					max-width: 430px;
				}
			}
			&.primary_addresslist {
			    float: right;
			    width: 49%;
			    padding: 0;
			    display: inline-block;
				#addresses .section-header a {
				    float: left;
				    margin-top: 13px !important;
			    	margin-right: 0px !important;
				}
				.address-list li {
					width:100%;
					h3 {
						margin-top: 26px !important;
					}
				}
			}
		}
		#secondary {
			&.secondary_address {
			    margin-left: 60px;
			    padding-top: 8px;
			    max-width: 430px;
			}
			&.secondary_addresslist {
			    display: inline-block;
			    margin-top: 41px;
			}
		}
	}
	#wrapper.pt_wish-list #main {
		#primary {
		    width: 100% !important;
		    float: left !important;
		    padding: 0px 66px;
		    box-sizing: border-box;
		    table.item-list td{
		    &.item-details {
		        width: 34.5% !important;
		    	}
		    	&.item-dashboard {
		    	    .option-add-to-cart button {
		    	     	margin-bottom: 38px !important;
		    	    }
		    	    .option-update {
		    	        margin-top: 22px !important;
		    	    }
		    	    .form-row.option-quantity-desired .field-wrapper {
		    	        margin-top: 18px !important;
		    	    }
			    }
			}
		}
		#secondary {
			max-width: 430px;
		    display: inline-block;
		    margin: 41px 0 0 60px;
		}
	}
	#wrapper.pt_order #main {
		#primary {
		    width: 41.9%;
		    h1 {
		    	width:100%;
		    	float:left;
		    	}
		    	.pagination {
			    	width:100%;
			    	float:left;
			    	margin-top: -16px;
			    	
		    	}
		    .search-result-items {
		    .order-history-items {
		        margin: 19px 0 5px 0px;
		    }
			    .order-history-header {
			        height: auto;
			        padding: 20px;
			            min-width: 340px;
			        button {
			        	margin-top: 14px;
	    				float: left;
			        }
			    }
		    }
		}
		#secondary {
		    float: left;
    		margin-top: 41px;
		}
	}
	.accbanner {
		width: 100%;
	    float: right;
	    margin-right: 0;
	}
	/* End of media querries for drop5 - Tablet */
	
	/*Start of Media Queries for error pages */
	.pt_error, .pt_product-search-noresult {
		#secondary {
			display:none;
		}
		#primary {
		    width: 100% !important;
    		padding: 20px !important;
    		box-sizing: border-box;
		}
	}
	/*End of Media Queries for error pages */
	
	/*Start of Media Queries for footer static pages - drop 6 - tablet */
	.pt_content {
		ul.address {
			li.address__item {
				&.address__item_phone, &.address__item_email {
					float: none;
	    			margin-left: 45px;
				}
				&.address__item_map {
					width:45px;
				}
			}	
		}
	}
	/*End of Media Queries for footer static pages - drop 6 - tablet*/
	.breadcrumb {
		margin: 15px 0;
	}
	.pt_product-details .breadcrumb {
		margin: 15px;
	}
}/* End Media Query 1023 */

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.show-only-tablet {
		display: block;
	}
	#primary {
		.pdp-main {
			.product-listing.last-visited {
				padding-bottom: 0;
			}
			.product-col-1 {
				width: 100%;
				float: left;
				.product-primary-image {
					width: 75%;
					float: left;
					.video-play-container {
						width: 470px;
						height: 450px;
					}
					.slick-list {
						width: 470px;
					}
					button {
						&.slick-next {
							right: 17px;
						}
					}
					.main-vid {
						.vid-img {
							right: 43%;
							top: 43%;
						}
					}
				}
				.product-thumbnails {
					left: 80%;
					button {
						&.slick-prev {
							top: -18px;
						}
					}
				}
				.zoompad {
					left: 2%;
					bottom: 130px;
					z-index:99;
					&.zoom-tab {
						display: none;
					}
					.product-zoom {
						background-color: #fff;
						box-shadow: 0 5px 9px 0 rgba(0,0,0,.22);
						padding: 0px 20px 0 20px;
					}
				}
			}
			.product-col-2 {
				width: 100%;
				clear: both;
				max-width: 1000px;
				margin: 0 auto;
				text-align: center;
				.product-name {
					padding: 0 20px;
					box-sizing: border-box;
				}
				#product-content {
					max-width: 450px;
					margin: 0 auto;
					.product-number {
						float: none;
						margin: 8px 0 0;
					}
					form {
						.product-add-to-cart {
							width: 75%;
							margin: 0 auto;
							&.add-to-cart-other {
								width: 82%;
							}
							.bisn {
								min-width: 307px;
							}
							.inventory {
								&.out-of-inventory {
									.quantity {
										margin-top: 8px;
										display: inline-block;
									}
								}
							}
							.product-actions {
								float: none;
								width: 100%;
								margin: 0 auto;
							}
							.calculator a {
								text-align: left;
							}
							.product-variations {
								width: 100%;
								margin: 20px 0 9px 0;
							}
							button.add-to-cart {
								min-width: 307px;
								width: 100%;
							}
							.colourcardrequest {
								width: 100%;
							    margin: 0px auto;
							    float: none;
							    display: inline-block;
							    text-align: center;
							    button {
							    	min-height: 31px;
							    	text-align: center;
							    	margin-top: 0;
							    	letter-spacing: 0;
							    	padding: 0;
							    	&:before {
							    		position: relative;
							    		top: 10px;
							    		left: initial;
							    		margin-right: 10px;
							    	}
							    }
							}
							.orderasample {
								width: 100%;
								margin: 10px auto;
								float: none;
								display: inline-block;
								text-align: center;
								.orderasample-inner {
									display: inline-block;
									&:before {
										left: initial;
									}
								}
							}
						}
					}
				}
			}
			.product-info {
			    width: 100% !important;
			    max-width: 768px !important;
			    margin: 0 auto;
			    left: 0px !important;
			    padding: 0px 30px 0px 65px !important;
			}
			.get-the-look-content {
				width: 100%;
				float: left;
				padding: 0;
				.get-look-topcontent {
					width: 100%;
					text-align: center;
				}
				.get-the-look-products {
					padding: 0 35px 30px;
					.get-look-tile {
						padding: 0 6px 10px;
						form button {
							min-width: 150px;
						}
					}
					button.slick-prev {
						left: 10px;
					}
					button.slick-next {
						right: 10px;
					}
				}
			}
		}
	}
}

/* Start Media Query 767 */
@media screen and (max-width: 767px) {
	.pdp-main {
		.product-add-to-cart {
			.custom-msg {
				&.custom-uk {
					display: block;
				}
			}
		}
	}
	ul.slick-dots {
		//left: -7px;
		bottom: -30px;
		li {
			button {
				background: #cbcbcb;
			}
			&.slick-active {
				button {
					top: 0;
					box-shadow: none;
					background-color: $black;
				}
			}
		}
	}
	.get-the-look-content {
		.get-the-look-products {
			ul.slick-dots {
				li, button {
					width: 8px;
				    height: 8px;
				    margin: 0 2px;
				    padding: 0;
				}
			}
		}
	}
	.ui-dialog.custom-popup {
	    max-width: 310px;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    #dialog-container {
    		padding: 55px 15px 55px;
		}
	}
	.show-only-mobile {
		display: block;
	}
	.hide-only-mobile {
		display: none;
	}
	.error-page-search {
		margin-top: 80px;
	}
	/* Drop 1 Start 767px */
	.ui-dialog.launch-window {
		#dialog-container .launchwindow{
			margin: 0 auto;
		}
	}
	#wrapper.menu-active {
		left: 85%;
	}
	nav[role="navigation"] {
	    width: 85%;
	    left: -85%;
    }
	#header {
		.top-banner {
			padding: 25px 0 26px 0;
			.menu-toggle {
				width: 41px;
			    height: 29px;
			    margin: -2px 0px 0 14px;
			    background: url("../images/gb-mobile-sprite-image.png") 0px -24px no-repeat;
			}
			.primary-logo {
			    width: 167px;
			    margin-top: 3px;
			    a {
			    	padding-top: 2px;
			    }
			}
			#mini-cart {
		        top: 15px;
				right: 15px;
			    .mini-cart-total .mini-cart-empty {
			    	width: 41px;
				    height: 41px;
				    background: url("../images/gb-mobile-sprite-image.png") 0px -55px no-repeat;
			    }
			}
		}
	}
	#search-suggestions {
	    .search-suggestion-wrapper {
		    padding: 30px 15px;
			.product-suggestions {
				padding: 0;
				.product-suggestion {
					width: 100%;
				    padding: 0 25px 0 25px;
				    margin: 0 0 40px 0;
				    box-sizing: border-box;
				}
				.search-phrase {
					font-size: 18px;
				}
			}
			.phrase-suggestions {
			    margin: 0 0 25px 0;
    			padding: 0 15px 20px;
			}
		}    
	}
	.banner1 .banner1-text {
		width: 100%;
		position: static;
	    float: left;
		.dummy-btn {
			float: none;
			position: relative;
			top: -30px;
		}
		h1 {
			text-align: center;
			color: $maire !important;
		}
		a.normal-btn-big {
			margin: 0 auto;
    		display: table;
			color: $white;
			background-color: $maire;
		}
	}
	.banner2 {
		position: relative;
		margin-top: 50px;
		.banner2-left {
			width: 100%;
    		padding: 0;
			.dummy-btn {
				position: absolute;
    			top: 0;
			}
			h2 {
			    text-align: center;
			    max-width: 100%;
			}
			a.normal-btn-big {
				margin: 0 auto;
	    		display: table;
			}
		}
		.banner2-slide, .banner2-slide.banner2-slider {
			width: 100%;
			padding: 0;
		    .banner2-right {
		    	width: 100%;
		    }
		    .slick-slide {
	    		background: none;
    			padding: 0;
	    	}
		}
		.banner2-right {
			width: 100%;
			button.slick-prev {
			    left: 15px;
			    width: 12px;
			    height: 23px;
			    background-position: -371px -161px;
			}
			button.slick-next {
			    left: auto;
			    right: 15px;
			    width: 12px;
			    height: 23px;
			    background-position: -333px -133px;
			}
			.product-tile {
				width: 100%;
			}
		}
	}
	.banner3 {
		float: left;
		width: 100%;
		background-color: #b5c2c3;
		.banner3-text {
			width: 100%;
			position: static;
		    float: left;
		    text-align: center;
		    max-width: 100%;
			.dummy-btn {
				float: left;
				position: relative;
				top: -30px;
			}
			h2 {
				float: left;
			    width: 60%;
			    text-align: center;
			    margin: 36px 20% 20px;
			}
			a.normal-btn-big {
				margin: 0 auto 50px;
			}
		}
	}
	.banner4 {
		background-color: #faf3e8;
    	float: left;
		.banner4-left {
			width: 100%;
			padding: 0;
			position: static;
		    float: left;
			.dummy-btn {
				position: relative;
				top: -30px;
			}
			h2 {
			    text-align: center;
			    margin: 30px 20px 20px;
			    max-width: 100%;
			}
			a.normal-btn-big {
				margin: 0 auto 50px;
	    		display: table;
			}
		}
		.banner4-right {
			width: 100%;
			float: left;
			margin-bottom: 0;
			padding-bottom: 90px;
		}
	}
	.banner5 {
		width: 100%;
		padding: 0 30px;
		box-sizing: border-box;
		.banner5-one, .banner5-two, .banner5-three {
			width: 100%;
			margin-top: 40px;
		}
		.slick-slider {
			button.slick-next {
				right: 10px;
			}
			button.slick-prev {
			    left: 10px;
			}
		}
	}
	.banner6 .banner6-text h3 {
		font-size: 29px;
	}
	#wrapper.pt_account #main #primary {
		.acc_inner {
			padding:15px;
		}
		.col-2 {
		    padding: 60px 0 0 0;
			float: left;
		}
		h1.acc-title span.account-logoutconfirmation {
			width: 100%;
    		text-align: right;
		}
	}
	.footer {
		footer {
			.footer-container {
				padding: 51px 0 0;
				.footer-right {
					width: 100%;
				    padding: 0 15px 50px;
				    display: inline-block;
				    .social-links {
    					width: 100%;
				    }
				    form#email-alert-signup {
    					width: 100%;
    					float: right;
    					p {
    						margin-top: 32px;
    					}
				    }
				}
				.footer-left {
				    padding: 20px 15px 0;
					.footer-item-1, .footer-item-2, .footer-item-3 {
						width: 100%;
					    padding-bottom: 20px;
					}
				}
			}
		}
	} /* Drop 1 Start 767px */
	/* Drop 3 Start - 767px */
	.pdp-main {
		.thumbnails {
			#thumbnails {
				display: none;
			}
		}
		.product-listing {
			&.last-visited {
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
		.similar-products-content {
			.recommendations {
				ul.slick-slider {
					button.slick-prev {
						left: -41px;
					}
					button.slick-next {
						right: -41px;
					}
				}
			}
		}
		.product-col-1 {
			.zoompad {
				left: 8px;
				bottom: 75px;
				.product-zoom {
					background-color: $white;
					box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.22);
					font-size: 13px;
					padding: 0px 20px 0 20px;
				}
			}
		}
		
		.product-primary-image {
			width: 90%;
			float: none;
			margin: 0 auto;
	    	.slick-list {
	    		width: 288px;
	    		margin: 0 auto;
	    	}
	    	button.slick-prev {
	    		left: 0;
	    		width: 35px;
			    height: 35px;
			    background-image: none;
			    background-color: #fff;
			    //box-shadow: 0 0 3px -1px #8f8b8f;
			    box-shadow: 0 5px 9px 0 rgba(0,0,0,.22);
			    &:before {
			    	content: ' ';
				    width: 11px;
				    height: 22px;
				    text-align: center;
				    display: inline-block;
				    background: url(../images/gb-sprite-image.png) -414px -154px no-repeat #fff;
			    }
			}
			button.slick-next {
	    		right: 0;
	    		width: 35px;
			    height: 35px;
			    background-image: none;
			    background-color: #fff;
			    //box-shadow: 0 0 3px -1px #8f8b8f;
			    box-shadow: 0 5px 9px 0 rgba(0,0,0,.22);
			    &:before {
			    	content: '';
				    width: 11px;
				    height: 22px;
				    text-align: center;
				    display: inline-block;
				    background: url(../images/gb-sprite-image.png) -413px -134px no-repeat #fff;
			    }
			}
		}
		.socialsharing.social-links {
		    margin: 30px 15px;
		}
		.product-thumbnails {
			display:none;
    		width: 320px;
		    float: none;
		    margin: 0 auto;
		    padding: 0px 5px 20px;
		    box-sizing: border-box;
		    &.showaltimages {
		    	//display:block;
		    }
		    ul {
		    	margin: 0 auto;
		    	li.thumb {
			    	margin: 0 9px 20px 9px;
			    }
		    }
		    .product-videos {
		    	margin: 0 9px 20px 9px;
		    }
		}
		.product-col-2 {
			float: left;
			margin: 0 auto;
			position: static;
			height: auto;
			padding: 0 20px;
			box-sizing: border-box;
			h1.product-name {
				font-size: 18px;
    			line-height: 18px;
			}
			.product-price {
				font-size: 29px;
			}
			#product-content {
				width: 100%;
				float: left;
				.product-number {
					margin: 10px 15px 0 0;
				}
				.product-add-to-cart {
					.product-actions {
						width: 100%;
						display: inline-block;
					}
					.product-variations {
						width: 100%;
					}
					.colourcardrequest {
						width: 100%;
						margin-bottom: 20px;
						button {
							padding: 0 0 0 40px;
						}
					}
					.bisn {
						width: 100%;
					}
					button.add-to-cart {
						width: 100%;
					}
					.orderasample {
						width: 100%;
						float: left;
					}
				}
			}
		}
		.product-info {
			width: 90% !important;
			max-width: 100% !important;
			padding: 0 15px !important;
			height: auto;
			.tabs {
				width: 100%;
				.tab {
					width: 100%;
					border-width: 1px 0 0 0;
					label.tab-label {
						//padding-left: 41px;
						text-align: left;
					    font-size: 15px;
						background-color: $white;
    					color: $maire;
					    line-height: 50px;
					}
					.tab-content {
						height: 0;
						position: relative;
						font-size: 13px;
    					padding: 0 0 20px 5px;
						opacity: 1;
						display: block;
					    border-width: 0;
					    box-sizing: border-box;
					    .inner-tab-content {
						    height: auto;
						}
					    span.wdlabel {
					    	width: 50%;
					    	.tooltip {
				    		    position: absolute;
							    left: 16px;
							    margin: -3px 0 0px 0;
					    	}
				    	}
				    	span.wdvalue {
						    width: 50%;
						}
					}
					.tab-switch:checked + label.tab-label {
						&:before {
					        width: 22px;
    						background-position: -391px -155px;
						}
						+ .tab-content {
							//display: block;
						}
					}
					&:last-child {
						border-bottom: 1px solid $bombay;
					}
				}
			}
		}
	}
	.pdp-main .get-the-look-content {
		padding: 30px 0 30px 0;
		.dummy-btn {
			margin: 0 0 30px 0;
		}
		h2 {
			padding: 0;
    		text-align: center;
    		margin: 6px 0 25px 0;
		}
		.get-the-look-products {
		    padding: 0;
		    margin: 0 auto;
		    display: table;
		    float: none;
		    .slick-list {
			    width: 200px;
			    margin: 0 auto;
			}
			.get-look-tile {
				padding: 0;
				margin-left: 0;
				form {
					button {
						margin: 0 auto;
					}
				}
			}
			button.slick-prev {
			    top: 98px;
    			left: 25px;
			}
			button.slick-next {
			    top: 98px;
    			right: 25px;
			}
		}
	}
	.pdp-main .pdp-review-section {
	    margin: 37px auto 0;
	    width: 100%;
	    padding: 0 15px;
	    box-sizing: border-box;
	    clear: both;
    }
	.product-listing.last-visited, .product-listing.featured-products {
	    margin: 25px 0;
	    padding: 25px 0;
	    h2 {
		    text-align: center;
		    margin: 0 auto 34px;
		}
    	.search-result-items {
			width: 188px;
			margin: 0 auto;
		    .slick-list {
			    width: 188px;
			    margin: 0 auto;
			}
			.grid-tile {
				margin: 0;
			}
			button.slick-prev {
				left: -42px;
			}
			button.slick-next {
				right: -42px;
			}
			ul.slick-dots {
				bottom: -11px;
				li, li.slick-active, button {
					width: 8px;
				    height: 8px;
				    margin: 0 2px;
				    padding: 0;
				}
				li.slick-active button {
					top: 0;
					background-color: $maire;
					box-shadow: none;
				}
			}
		}
	}
	.pdp-main .similar-products-content{
		padding: 42px 0 56px;
		a.spl-mb-btn {
			margin-bottom: 30px;
			background-color: #a26d19;
		}
		.similar-products-text-content {
		    text-align: center;
		    h2, h1 {
			    margin: 6px 0 25px 0;
			}
		}
		.recommendations {
			width: 188px;
    		margin: 0 auto;
			.product-tile .product-name {
			    margin: 5px 0 3px;
			}
			li.recommendation-item {
				margin: 0;
			}
			ul.slick-dots {
				li, button {
					width: 8px;
				    height: 8px;
				    margin: 0 2px;
				    padding: 0;
				}
				li.slick-active button {
				    top: 0;
				    background-color: #1c1c1b;
				    box-shadow: none;
				}
			}
		}
	}
	.pdp-main .product-col-1.product-set {
		.product-primary-image {
			.slick-list {
				width: 100%;
			}
			button.slick-prev.slick-arrow {
		        left: 15px;
			}
			button.slick-next.slick-arrow {
			    right: 15px;
			}
		}
		.socialsharing.social-links {
			padding: 0 15px;
		}
		#thumbnails {
			padding: 0 0 0 6px;
		}
		
	}
	.pdp-main { 
		.product-col-2.product-set {
			padding: 0 15px;
			.product-add-to-cart {
				width:290px;
				padding-bottom: 40px;
				margin: 0;
				button {
				    float: none;
				    font-size:13px;
				    margin:0 auto;
				}
				.product-price {
					padding: 0px;
				}
			}
			.product-number {
				margin: 10px 0 10px 0px;
			}
			.product-set-list {
				max-width: 100%;
				.product-name {
					margin: 40px 0 0 0;
				}
				.product-set-image {
					float: none;
				    margin: 0 auto;
				    text-align: center;
				    img {
			    		margin: 0;
			    	}
				}
				.product-set-details  {
					margin-top: 30px;
					width: 100%;
				}
				.view-details {
					margin-top: 30px;
				}
			}
		}
	}/* Drop 3 End - 767px */
	
	/* Drop 4 Start - 767px */
	.pt_cart .primary-content .cart-section {
		width: 100%;
		max-width: 100%;
		padding: 0 15px;
		.cart-actions-top {
			margin: 15px auto;
			text-align: center;
			.mini-cart-header {
				float: none;
			}
			a.continue {
				margin: 11px auto 25px;
				width: 100%;
			}
		}
		.item-list .cart-row:first-child {
		    border-top: 1px solid $bombay;
		}
	}
	#cart-table {
		.item-image {
			position: absolute;
			width: auto;
		}
		.item-details, .item-quantity-details, .item-price, .item-total {
			width: 100%;
    		float: left;
    		padding: 20px 10px 0 108px;
		}
		.item-quantity-details {
			padding: 10px 0 0 108px;
		}
		.item-price {
			padding: 10px 0 0 108px;
		}
		.item-total {
			padding: 10px 0 20px 108px;
			text-align: right;
    		font-weight: 700;
		}
	}
	.pt_cart fieldset {
	    width: 100%;
	    button.prm-btn {
	    	width: 100%;
	    }
	}
	.cart-coupon-code {
	    width: 100%;
	}
	.cart-order-totals {
		width: 100%;
	}
	#wrapper.pt_order-confirmation {
		#main {
		    width: 100%;
		    margin: 0;
		    padding: 15px;
		    box-sizing: border-box;
		    .primary-content {
		    	max-width: 100%;
		    }
		    h1 {
				font-size: 18px;
	    		text-align: center;
			}
			h3, .confirmation-message, .actions {
				text-align: center;
			}
			#secondary.summary {
				margin-bottom: 50px;
			    padding: 0;
			    width: 100%;
			    border: none;
			}
		}
	}
	#wrapper.pt_checkoutnew {
		#main {
			width: 100%;
			margin: 0;
			padding: 15px;
			box-sizing: border-box;
		}
		.primary-content {
			max-width: 100%;
		}
		.checkout-header {
		    text-align: center;
		    width: 56%;
		    margin: 25px auto 20px;
		    img {
			    max-width: 100%;
			}
		}
		.checkout-title {
			text-align: center;
		}
		legend {
			padding: 0 11px;
			h2 {
				font-size: 15px;
				padding-left: 28px;
				letter-spacing: -0.5px;
			}
		}
		.checkout-tab-content form {
			max-width: 100%;
		}
		#secondary {
			padding: 0;
			width: 100%;
			border: none;
		}
		.payment-method-options {
			width: 100%;
		    padding: 0;
		    white-space: normal;
			.form-row {
				width: 100%;
				label {
					float: left;
				    margin: 5px 0;
					width: 100%;
				}
			}
		}
		ul.suggestions li a {
			white-space: normal;
		}
	}/* Drop 4 End - 767px */
	
	.pt_product-search-result {
		.sort-by-mobile {
			width: 49%;
		    padding: 9px 0;
		    margin: 0 2% 15px 0;
		}
		.refine-by-mobile {
		    padding: 9px 0;
		    margin: 0 0 15px 0;
		    width: 49%;
		}
		#main {
	    	padding: 0 15px;
		}
		#primary {
    		width: 100%;
    		max-width: 611px;
		}
		#primary .search-result-items .grid-tile {
		    padding: 0 5px 20px 0;
		    &:nth-child(2n) {
			    padding: 0 0 20px 5px;
			}
		}
		.product-tile {
			.product-name, .product-pricing, .product-promo, .product-review {
				width: 100%;
			}
		}
		.saveforlater, .orderasample {
		    display: none;
		}
	}
	.pt_categorylanding {
		.cat-land-row {
			padding-top: 0;
			.cat-land-shopall {
			    width: 100%;
			    text-align: center;
			    margin-bottom: 21px;
			    a {
			        padding: 15px 60px;
			        margin-left:0px;
			    }
			    h3.cat-name a {
			    	text-align:center;
			    	margin-left:0px;
		    	}
			}
			.product-listing {
			    width: 100% !important;
			    background:none;
			    margin-left:0px;
			    .slick-slider ul.custom_paging {
				    top: 178px;
			    }
			    .search-result-items {
			    	width:100%;
			    	/* margin: 9px 0px 55px 14px; */
				    li {
				        margin: 0;
		    			padding: 0;
		    			background:none !important; 
		    			.product-image {
		    				padding: 20px 0;
		    			}
				    }
			    }
			    .product-tile {
	    			margin: 0 auto;
	    			
		    	}
		    	button.slick-prev {
					margin-top: -50px;
					left: 18px;
				    width: 10px;
					height: 21px;
				    z-index: 5;
				    background: url("../images/gb-sprite-image.png") -373px -161px no-repeat;
				    margin-right: 35px;
				}
				button.slick-next {
					margin-top: -50px;
			    	right: -23px;
				    width: 10px;
					height: 21px;
				    z-index: 5;
				    background: url("../images/gb-sprite-image.png") -333px -135px no-repeat;
				    margin-right: 35px;
				}
			}
		}
	}
	.pca .pcaautocomplete {
		max-width: 93%;
	}
}/* End Media Query 767 */


@media screen and (max-width: 1023px) {
	.sort-by, .items-per-page {
		display:none;
	    margin-bottom: 20px;
	}
	.sort-by-mobile {
	    background-color: $white;
	    border: 1px solid $bombay;
	    color: $maire;
	    padding: 9px 41px;
	    float: left;
	    font-family:$pluto-sans-bold;
	    font-size:13px;
	    margin-right: 11px;
	}
	 .refine-by-mobile {
	    background-color: $white;
	    border: 1px solid $bombay;
	    color: $maire;
	    padding: 9px 33px;
	    float: left;
	    font-family:$pluto-sans-bold;
	    font-size:13px;
	    margin-right: 11px;
	}
}

@media screen and (max-width: 767px) {
	.print-page,
	.tooltip,
	#tooltip {
		display: none !important;
	}
	.tooltip {
		font-size: .9em;
	}
	.form-field-tooltip {
		float: none;
		margin: 0 0 10px 5px;
		width: auto;
	}
	.ui-dialog {
		max-width: 98%;
		.ui-dialog-content {
			height: auto !important;
			overflow: visible;
		}
	}
	.refinement {
		ul {
			display: none;
		}
		.ui-refinement.btn-down-arrow {
			background: url("../images/gb-sprite-image.png") no-repeat -333px -135px;
			width: 10px;
		    left: 5px;
		    top: 14px;
		    height: 21px;
		    &.left-arrow {
				background: url("../images/gb-sprite-image.png") no-repeat -391px -160px;
				width: 21px;
			    height: 10px;
			    top: 19px;
			    left: 0;
			    display: inline-block;
			    position: absolute;
			}
		}
		&.category-refinement {
			.ui-refinement.btn-down-arrow {
				background: url("../images/gb-sprite-image.png") no-repeat -391px -160px;
				width: 21px;
			    height: 10px;
			    top: 19px;
			    left: 0;
			    display: inline-block;
			    position: absolute;
			    &.left-arrow {
					background: url("../images/gb-sprite-image.png") no-repeat -333px -135px;
					width: 10px;
				    left: 5px;
				    top: 14px;
				    height: 21px;
				}
			}
		}
	}
	.scrollable {
		height: auto;
		li {
			//float: left;
			a {
				border-radius: 6px;
				display: block;
				padding: .2em .8em;
				padding-left: 0px;
			}
		}
	}
	.mini-cart-content {
		max-width: 260px;
    	right: 0;
    	padding: 45px 15px;
	}
	.product-tile {
		height: auto !important;
	}
	.wide-tiles .product-tile {
		.product-image {
			width: 41%;
		}
		.product-name,
		.product-pricing,
		.product-promo,
		.pr_stars,
		.product-swatches {
			float: right;
		}
		.product-name h2 {
			margin-top: 0px;
		}
	}
	.pt_product-details {
		.primary-content {
			padding-bottom: 68px;
		}
		.breadcrumb .last {
			display: none;
		}
	}
	#product-nav-container {
		bottom: 0;
		width: 100%;
		div {
			width: 60px;
			&.product-next {
				float: right;
			}
		}
		.divided span {
			border: 0;
		}
	}
	.pdp-main {
		.product-col-1,
		.product-col-2 {
			clear: both;
			float: none;
			width: 100%;
		}
		.promotion .promotion-title {
			font-size: 86%;
		}
		.attribute {
			span.value {
				padding-top: 5px;
			}
		}
		.product-add-to-cart {
			.product-price {
				font-size: 2em;
				padding: 30px 10px;
				text-align: left;
				width: 100%;
			}
		}
	}
	.pdp-main {
		.product-set-list {
			.product-set-image img {
				max-width: 90%;
			}
			.block-add-to-cart {
				.inventory {
					margin: 0;
				}
				.product-price {
					font-size: 1em;
					width: 44%;
				}
			}
		}
		.product-review-links {
			margin-left: 6%;
		}
		.prSnippetTitle,
		.prSnippetRatingUnclickable {
			float: left;
		}
	}
	.sizinginformation {
		padding: 0;
		th {
			font-weight: normal;
			padding: 0 0 0 2px;
		}
		td {
			background: #ffffff;
			padding: 5px;
			text-align: center;
		}
		.sizechart {
			padding: 0 !important;
		}
	}
	.pt_cart #secondary {
		display: none;
	}
	.pdp-main .product-col-1 {
		margin-left: 0;
		.zoompad{
		    pointer-events: none;
		}
	}
	.checkout-progress-indicator {
		clear: both;
		font-size: .8em;
		margin-bottom: 3%;
		position: relative;
		overflow: hidden;
		text-align: left;
		top: auto;
		div {
			padding: 0 2%;
		}
	}
	.order-summary-footer h2 {
		width: 50%;
	}
	.place-order-totals .order-totals-table {
		width: 100%;
	}
	.content-asset ul.account-options li {
		float: none;
		width: auto;
	}
	.address-list li,
	.payment-list li {
		float: none;
		width: auto;
	}
	.order-history-header button {
		font-size: 1em;
		padding: .25em;
	}
	.page-content-tab-navigaton button {
		width: 100%;
	}
	.pt_gift-registry {
		.add-gift-cert {
			p {
				width: 100%;
			}
		}
		.create-new-registry {
			p {
				display: none;
			}
			overflow: hidden;
		}
		.item-list {
			width: 98%;
			th {
				display: none;
			}
		}
	}
	.order-shipment-table .section-header {
		font-size: .9em !important;
		padding: .3em;
	}
	table.item-list .section-header,
	.order-shipment-table .section-header {
		background-image: none;
	}
	table.item-list {
		.item-image,
		.item-details,
		.item-availability,
		.item-dashboard {
			display: inline-block;
		}
		.item-image {
			width: 30%;
		}
		.item-details {
			width: 50%;
		}
		.item-availability,
		.item-dashboard {
			width: 97%;
		}
		.delete-registry {
			text-align: center;
		}
	}
	.list-table-header {
		padding: 1em !important;
		.button {
			display: block;
			margin: 20px 0;
			width: 196px;
		}
		p {
			display: none;
		}
		button {
			display: block;
			width: 260px;
		}
	}
	.home-bottom-left,
	.home-bottom-center {
		width: 100% !important;
	}
	.home-bottom-right {
		clear: both;
		float: none;
		width: 100% !important;
		.product-tile {
			min-height: 0;
		}
	}
	.product-tile .product-image {
		height: auto;
	}
	#email-alert-signup {
		margin: 0;
		width: 100%;
		label {
			text-align: center;
			width: 100%;
		}
		input [type="text"] {
			float: none;
			margin: 0;
			width: 50%;
		}
		input[type="image"] {
			float: none;
			vertical-align: bottom;
		}
	}
}












/* Start Media Query 767 */
@media screen and (max-width: 767px) {
	/* Start of media querries for drop5 - Mobile */
	.pt_content {
		.blog_article_title {
			text-align: center;
		}
	}
	#wrapper.pt_order.order_content.orderdetails_myaccount {
		 #main #primary.my_account_orderdetails {
		    width: 100%;
		    margin: 0;
		    padding: 15px;
		    .return_shopping {
		        float: left;
				margin-top: 15px;
		    }
		    h1 {
		    	margin:30px 0px;
		    }
		    th {
		    	display:none;
		    }
		    td {
		        width: 100%;
				float: left;
				padding: 10px 10px 10px 0px;
		    }
		    .order-totals-table td {
		    	width:auto;
		    	float:none;
		    }
		}
	}
	.ui-dialog.account-dialog .apply-button {
	    margin-bottom: 10px;
	}
	#wrapper.pt_account #main #primary.primary_addresslist #addresses .section-header {
		width:100% !important;
		a {
			text-align: center;
		    margin: 0 auto;
		    width: 100%;
		}
	}
	#wrapper.pt_order #main #primary {
		h1 {
			text-align:center;
		}
		.search-result-items .order-history-header {
			min-width:290px;
		}
	}
	.ui-dialog.account-dialog .apply-button, .ui-dialog.account-dialog .cancel-button {
	    width: 115px;
	}
	.no-hits-search form input, .pt_error .error-page-search form input {
		width:280px;
	}
	#wrapper.pt_account #main {
		#primary {
			&.primary_address {
			     padding: 15px;
			     box-sizing:border-box;
			}
			&.primary_addresslist {
				float: left;
			    width: 100%;
			    padding: 15px;
			    display: inline-block;
			    box-sizing: border-box;
			    #addresses h1 {
			        margin-top: 18px;
		    		text-align: center;
			    }
			}
		}
		#secondary{
			&.secondary_address {
			    padding: 15px;
			    margin: 0;
			}
			&.secondary_addresslist {
			    max-width: 430px;
			    padding: 15px;
			    margin: 0;
			}
		}
	}
	#wrapper.pt_wish-list #main {
	 	 #secondary {
	    	padding: 15px;
		    margin: 0;
	    }
		#primary {
			padding: 0px 10px;
			.socialsharing.social-links {
			    width: 100%;
			    text-align: center;
			    margin-top: 10px;
			    border-bottom: 1px solid $bombay;
			    padding-bottom: 15px;
			    margin-bottom: 10px;
			    ul {
			    	float:none;
			    }
			}
	    	 form.list-share {
	    	 	border-top: none !important;
	    	 }
	    	 h1 {
	    	 	text-align:center;
	    	 	max-width: 100%;
	    	 }
	    	 table.item-list {
		    	 td {
			    	 &.item-details {
			    	  	width: 71% !important;
			    	 }
			    	 &.item-availability {
			    	    width: 100%;
					    padding: 20px 0 20px 99px;
					    box-sizing: border-box;
			    	 }
			    	 &.item-dashboard {
			    	     width: 100%;
					    padding: 0 0 0 99px;
					    box-sizing: border-box;
		    	 	}
		    	 }
	    	 }
		}
	}
	#wrapper.pt_order #main {
		#primary {
		    width: 100%;
		    padding: 15px;
			box-sizing: border-box;
			float: left;
	    }
		#secondary {
			max-width: 430px;
		    padding: 15px;
		    margin: 0;
		}
	}
	/* End of media querries for drop5 */
	
	/*Start of Media Queries for footer static pages - drop 6 - Mobile */
	.pt_content {
		ul.address {
			li.address__item {
				&.address__item_location, &.address__item_phone, &.address__item_email {
					float: none;
	    			margin-left: 45px;
	    			width:100%;
				}
			}	
		}
	}
	/*End of Media Queries for footer static pages - drop 6 - Mobile */
	
	/* Start of media querries for Articles page */
	.pt_content-search-result {
		#main {
			padding: 0 15px;
			box-sizing: border-box;
		}
		.folder-content-list {
			li {
				width: 100%;
				margin: 0;
				padding: 0 0 35px 0;
			}
			li:nth-child(2n) {
				margin: 0;
			}
			li:nth-child(2n-1) {
				margin: 0;
			}
			li:nth-child(2) {
				border-width: 1px;
			}
		}
	}
	/* End of media querries for Articles page */
	
	/* End of media querries for category landind template 2 -Mobile */
	#wrapper.pt_categorylanding2 #main #primary.category-content {
		.category-banner-container .cat_landing2_text {
		    font-size: 30px;
		    text-align: center;
		    width: 100%;
		    line-height: normal;
		    height: auto;
		    color: $maire;
		    margin-top: 15px;
		    position: static;
		}
		.category-banner-container .expand {
			position: static;
		    width: 100%;
		    padding: 25px 0;
		}
		#category_block {
		.category-banner-cell.category-cell-1 {
		    margin-top: 28px;
		}
		.category-banner-products {
			margin-top: 0;
		}
		.subcat-section .sub_cat_block {
			width:100%;
			a {
				width:100%;
				font-family: $pluto-sans-regular;
    			text-transform: capitalize;
    			font-size: 13px;
    			box-sizing: border-box;
			}
			.subcategories-mobile {
			    width: 188px;
			    text-align: center;
			    border: 1px solid #A7A5A5;
			    display: inline-block;
			    margin: 0 auto;
			    line-height: 31px;
			    font-family: $pluto-sans-regular;
    			text-transform: capitalize;
			    height: 35px;
			    padding: 0px 9px;
    			box-sizing: border-box;
    			.subcategories-default {
    				float:left;
    				.subcat-arrow {
    					background: url("../images/gb-sprite-image.png") -353px -189px no-repeat;
						width: 15px;
						height: 7px;
						display: inline-block;
    					margin-left: 49px;
    				}
    			}
			    .subCat-mobile {
			    	display:none;
				    width: 186px;
				    border-left: 1px solid #A7A5A5;
				    border-top: 1px solid #A7A5A5;
				    border-right: 1px solid #A7A5A5;
				    border-bottom: 1px solid #A7A5A5;
				    margin-left: -10px;
				    float: left;
				    position: relative;
				    z-index: 5;
				    background-color: white;
			    	li {
			    	    display: inline-block;
    					width: 100%;
    					float: left;
    					border-bottom: 1px solid #A7A5A5;
			    	}
			    	&:last-child {
			    	    border-bottom: none !important;
			    	}
			    	&:first-child {
			    		border-top: 1px solid #A7A5A5;
			    	}
			    }
			}
		}
		.heading_first {
				 .previous {
				     width: 40%;
				     position: absolute;
			         margin-top: 19px;
			         font-size:13px;
			         .prev_btn {
			            background: url("../images/gb-sprite-image.png") -415px -157px no-repeat;
					    width: 7px;
					    height: 15px;
					    display: inline-block;
					    margin-left: 6px;
			         }
				 }
				 .next {
					width: 40%;
					margin-top: 19px;
			         .next_btn {
			            background: url("../images/gb-sprite-image.png") -416px -138px no-repeat;
					    height: 15px;
			         }
				 }
				 .middle {
				 	width:100%;
				 	a {
				 	    margin-right: 0px;
				 	    padding: 13px 61px;
				 	    margin-bottom: 16px;
				 	}
					 .heading {
					     font-size: 29.97px;
					     margin: 53px 0px 19px 0px;
					     max-width: 100%;
					 }
				 }
	 		}
			.category-banner-products {
				.grid-tile {
					width:100%;
					&.copy_image img {
					    width: 60%;
    					margin-bottom: 10%;
					}
				}
			}
		}
	}
	.ui-dialog.ui-widget.ui-widget-content.hpwallart-popup {
		.dialog-content.ui-dialog-content {
			    overflow: hidden;
			.HPWallArtforms {
				padding:0;
				.HpWallArtone {
					form {
						.sizeboxes {
							span {
								width: 37%;
							}
							.boxes {
								width:63%;
							}
						}
						}
				}
				.HPWallArtTwo {
					.proj-cost {
						.form-row {
							label {	
								width: 40%;
							}
						}
					}
					.prod-cat {
						.form-row {
							label {	
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
	/* End of media querries for category landind template 2 - Mobile */
}/* End Media Query 767 */
@media screen and (min-width: 1025px) {
  .pt_product-search-result.pt_categorylanding2{
	.content-slot.slot-grid-header{
		width: 100%;
    	 .still-banner .content .inner-content .inner-text {
                 font-size: 13px;
           		 margin-top: 10px;
             }

		}
	}
}
@media screen and (max-width: 1023px) {
  .pt_product-search-result.pt_categorylanding2{
	.content-slot.slot-grid-header{
		width: 100%;
    	 .still-banner .content .inner-content .inner-text {
                 font-size: 13px;
           		 margin-top: 5px;
             }

		}
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .pt_product-search-result.pt_categorylanding2{
	.content-slot.slot-grid-header{
		width: 100%;
    	 .still-banner .content .inner-content .inner-text {
                 font-size: 13px;
           		 margin-top: 5px;
             }

		}
	}
	.pdp-main {
		.product-col-1 {
			width: 62%;
			float: left;
			.product-primary-image {
				.slick-list {
					width: 430px;
					margin: 0 auto;
				}
				.video-play-container {
					width: 430px;
					height: 430px;
				}
			}
		}
		.product-col-2 {
			width: 37%;
			padding-right: 15px;
			box-sizing: border-box;
			#product-content {
				width: 386px;
				padding-right: 8px;
				box-sizing: border-box;
			}
			.product-number {
				margin: 10px 10px 5px 0;
			}
		}
		.product-info {
			max-width: 370px !important;
			left: 18px !important;
			padding-right: 30px !important;
			box-sizing: border-box !important;
		}
	}
}
@media screen and (max-width: 767px) {
    .pt_product-search-result.pt_categorylanding2{
	.content-slot.slot-grid-header{
			width: 100%;
		.still-banner {
        	display: none;
   		 }
		}
	}
}
@media screen and (max-device-width: 320px) {
	.pdp-main {
		.product-col-1 {
			.zoompad {
				.product-zoom {
					font-size: 11px;
				}
			}
		}
		.product-col-2 {
			 .calculator {
			 	max-width: 50%;
			 }
		}
	}
}
