.pt_product-search-result .primary-content,
.pt_content-search-result .primary-content {
	background: none repeat scroll 0 0 $white-smoke;
}

.category-main-banner img {
	max-width: 100%;
}

.no-hits-search-term,
.no-hits-search-term-suggest {
	color: $fountain-blue;
	font-size:15px;
	font-family:$pluto-sans-regular;
	
}

.no-hits-footer {
	margin: 20px 0;
    font-size: 15px;
    line-height: 24px;
    font-family:$pluto-sans-regular;
}

.search-result-bookmarks {
	margin: 15px 0;
	.first {
		border-right: 1px solid $nobel;
		padding-right: 5px;
	}
}

.search-result-options {
	margin: 4px 0 19px 0;
    float: right;
    width: 66%;
    min-width: 593px;
    &.bottom-options {
    	padding-bottom: 20px; 
    }
	.results-hits {
		display:none;
	}
}
.show-paging .pagination .results-hits {
		display:block;
	}
.search-results-content {
		float:left;
		border-top: 1px solid $white-lilac;
    	margin: 30px 0 62px 0;
    	padding: 17px 0 0 0;
    	.product-listing.last-visited {
    	    margin: 0px;
		    padding-top: 0px;
		    border-top: 1px solid $white-lilac;
		    display: inline-block;
		    width: 100%;
		    h2 {
		        width: 81.25%;
    			margin: 76px 113px;
    			font-size: 30px;
		    }
    	}
		#results-content.content-header {
			width:100%;
			padding: 0;
		    margin: 44px 0 14px !important;
		    font-size: 30px !important;
		    background: none !important;
		    font-family: $pluto-sans-bold;
		}
		ul.folder-content-list {
		    padding: 0;
	        width: 100%;
		 li {
		 	font-size:13px;
		    line-height: 24px;
				a{
				    font-size: 18px;
				    color: $black;
				    line-height: 24px;
				    font-family:$pluto-sans-bold;
				    &.readmore {
				    color:$fountain-blue;
				    font-size:15px;
				    }
				}
			}
		}
	}
.pt_product-search-result{
	#main {
		padding: 0 34px;
	    box-sizing: border-box;
	}
	#add-to-cart {
		display:none;
	}
	.sort-Go-Button {
		display:none;
	}
	.product-listing.last-visited.section {
    	width: 100%;
    	margin: 0 0 56px 0;
    	h2 {
    	    font-size: 30px;
    	}
	}
	#primary .product-tile {
		.product-name, .product-pricing, .product-promo, .product-review, #BVInlineRatings {
		    width: 87%;
    		float: left;
		}
		.product-image {
		    max-width: 100%;
		    margin: 0 auto;
		    text-align: center;
		}
		#BVInlineRatings img {
		    max-width: 65px;
		}
	}
	.saveforlater {
	    float: right;
	    position: absolute;
	    right: 0;
		button {
		    border: none;
		    background: none;
		    color: $black;
		    padding: 0;
		    float: right;
			span {
    			background: url("../images/gb-sprite-image.png") no-repeat -151px -5px;
				width: 27px;
				height: 25px;
				display: inline-block;
			    margin: 6px 0px 0 0px;
			    opacity: 1;
			    -webkit-transition: all 0.3s ease;
    			transition: all 0.3s ease;
			}
			&.added span, &.added:hover span {
    			background-position: -151px -53px;
    			opacity: 1;
			}
			&:hover span, &[disabled] span {
    			opacity: 0.3;
			}
		}
		.errormsg {
		    position: relative;
		    width: 200%;
		    max-width: 290px;
		    top: 38px;
		    z-index: 9;
		    padding: 20px;
		    border: 1px solid $black;
		    box-sizing: border-box;
		    background-color: #f3f3f4;
		    .close-error-msg {
				background-image: url("../images/interface/icon-ui-close.png");
			    background-position: center;
			    position: absolute;
			    z-index: 11;
			    display: block;
			    cursor: pointer;
			    height: 10px;
			    width: 10px;
			    right: 13px;
			    top: 13px;
			}
		}
	}
	.orderasample {
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    text-align: left;
	    font-size: 13px;
	    font-family:$pluto-sans-bold;
		.orderasample-inner:before {
			content: '';
			width: 31px;
			height: 30px;
			opacity: 1;
			position: absolute;
			left: 0;
			top: 0;
			pointer-events: none;
			cursor: pointer;
			background: url("../images/gb-sprite-image.png") no-repeat -352px -1px;
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
		&:hover .orderasample-inner:before {
			opacity: 0.3;
		}
		&.added .orderasample-inner:before, &.added .orderasample-inner:before {
			background-position: -350px -49px;
			opacity: 1;
		}
		&.paint .orderasample-inner:before {
			background-position: -299px -1px;
		}
		&.paint.added .orderasample-inner:before, &.paint.added:hover .orderasample-inner:before {
			background-position: -299px -49px;
		}
	    button {
	    	min-height: 31px;
			text-align: left;
			border: none;
			letter-spacing: -0.5px;
			background: none;
			color: $black;
		    padding: 0 0 0 34px;
		}
		.selectboxit-container {
			height: 31px;
			.selectboxit {
			    width: 100%;
			    border: none;
			}
			.selectboxit-text {
			    padding: 0 0 0 34px;
			    text-indent: 0;
			    line-height: normal;
			    height: 31px;
			    display: table-cell;
			    float: none;
			    vertical-align: middle;
			    letter-spacing: -0.5px;
		    	font-family:$pluto-sans-bold;
			}
		    .selectboxit-arrow-container {
	    		display: none;
		    }
		    .selectboxit-options {
		    	right: 0;
		    	bottom: 40px !important;
		    }
		    + .dummy-lable {
		    	display: none;
		    }
		}
		.dummy-lable {
		    padding: 0 0 0 34px;
		    height: 31px;
		    line-height: 31px;
		    letter-spacing: -0.5px;
		    font-family:$pluto-sans-bold;
		}
		
		span.error {
			position: absolute;
			visibility: hidden;
		}
	}
	.tile-botom {
		.cus-button {
			font-size:11px;
			padding: 4px 20px 4px 35px;
    		min-height: initial;
    		background-repeat: no-repeat;
    		background-position: 14px 2px;
    		background-image: url(../images/customise-plp.png);
    		margin-bottom: 4px;
    		background-color:#5483ba;
		}
	    min-height: 86px;
	    display: inline-block;
	    width: 100%;
	    .plp-star {
		    display: inline-block;
		    float: left;
		    width: 87%;
		    height: 31px;
		}
	}
}
.pt_product-search-result .pagination {
    li {
	    display: block;
	    float: left;
	    list-style: none;
	    width: 35px;
	    padding: 0px;
	    height: 35px;
	    border: 1px solid $bombay;
	    box-sizing: border-box;
	    text-align: center;
	   	margin: 0px 2.7px;
	    line-height: 33px;
	    &:last-child {
		    margin-right: 0;
		}
	    &.current-page {
	        background-color: $bombay;
    		color: $white;
	    }
	    &.last-dot-page {
		    border: none;
		}
	    a {
	    	color: $maire;
	    	font-family:$pluto-sans-regular;
	    	display: block;
	    }
    }
}
.content-slot.slot-grid-header {
    margin: 0 0 25px 0;
}
.sort-by,
.items-per-page {
    float: left;
    font-family:$pluto-sans-regular;
    width: 200px;
}
.items-per-page {
    margin-left: 5px;
    width: 85px;
}
.sort-by,
.items-per-page {
	label {
		display: none;
	}
	select {
		background: $white;
		font-size: 13px;
		margin: 0 6px 0 0;
		padding: 0;
		font-family:$pluto-sans-regular;
	}
	.selectboxit-container > span, .selectboxit-container .selectboxit-options a {
		line-height: 35px;
		height: 35px;
	}
	.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
		top: 11px;
	}
	button {
		background: none;
		border: 0 none;
		color: $night-rider;
		font-size: 0.9em;
		padding: 0.3em;
		width: auto;
	}
}

.pagination {
	float: right;
	.results-hits {
		color: $dim-gray;
		float: left;
		display:none;
	}
	ul {
		float: right;
		margin: 0;
		padding: 0;
	}
	li {
		display: block;
		float: left;
		list-style: none;
		padding: 0 0.5em;
	}
}

.pt_product-search-result .search-result-items {
	margin-top: 40px;
	background-color: $white;
	li {
		list-style: none outside none;
	}
	.new-row {
		clear: both;
	}
	.grid-tile {
		background: none repeat scroll 0 0 $white;
		list-style: none outside none;
        padding: 0;
	    width: 33.33%;
	    margin: 0 0 23px -4px;
	    padding: 0 10px 0 0;
	    display: inline-block;
	    vertical-align: top;
    	box-sizing: border-box;
    	@media screen and (min-width: 1024px) {
	    	&:nth-child(3n-1) {
			    padding: 0 5px 0 10px;
			}
	    	&:nth-child(3n) {
			    padding: 0 0 0 15px;
			}
		}
	}
	.invisible {
		display: none;
	}
}
.pt_product-search-result .primary-content .search-result-items {
	a.thumb-link {
		display: block;
	}
	img.desktop-onlytwo {
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    left: 0;
	    right: 0;
	    margin: auto;
		visibility: hidden;
	}
	.thumb-link:hover {
		img.desktop-onlytwo {
			z-index: 1;
			visibility: visible;
		}
		img.desktop-only {
			visibility: hidden;
		}
	}
}
.pt_product-search-result.mobile_device .primary-content .search-result-items {
	img.desktop-onlytwo {
	    display: none;
	}
	.thumb-link:hover img.desktop-only {
		visibility: visible;
	}
}
.search-result-content {
	clear: both;
}

.search-promo {
	padding: 20px;
}

#results-content {
	background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;
	padding-top: 30px;
}

.folder-content-list {
	margin: 0;
	overflow: hidden;
	padding: 0 20px;
	li {
		float: left;
		list-style: none outside none;
		margin: 0;
		padding: 25px 2% 2% 0;
		width: 48%;
	}
	.content-title {
		display: block;
	}
}

.no-results {
	padding: 20px;
}

.toggle-grid {
	display: block;
	float: left;
	margin-right: 0.5em;
	i {
		cursor: pointer;
		margin-right: 0.3em;
	}
	[data-option="column"] {
		color: $citrus;
	}
	&.wide {
		[data-option="wide"] {
			color: $citrus;
		}
		[data-option="column"] {
			color: $dim-gray;
		}
	}
}

.wide-tiles {
	.search-result-items .grid-tile {
		width: 91%;
	}
	.product-tile {
		.product-swatches {
			bottom: auto;
			left: auto;
			position: relative;
			right: auto;
			margin-top: 5px;
			li {
				float: left;
			}
		}
	}
}

.product-listing.last-visited, .product-listing.featured-products {
    margin: 98px auto 66px;
    max-width: 1280px;
	padding-top: 73px;
	border-top: 1px solid $pdp-border;
	h2 {
		width: 83.25%;
	    margin: 0 auto 30px;
	    font-size: 24px;
	}
	.cus-button {
		display: none;
	}
	.search-result-items {
		width: 80.46%;
		margin-left: 10.7%;
		.grid-tile {
		    background: none;
		    box-shadow: none;
		    float: left;
		    list-style: none outside none;
		    margin: 0 18px 0 0;
		    padding:0;
		    box-sizing:content-box;
		    .product-tile {
			    .product-name { 
			    	height: auto;
		    	    margin-top: 9px;
		    	    a {
	    				display: block;
			    	    color: #1c1c1b;
					    font-size: 13px;
					    min-height: 20px;
				    }
			    }
		    	.product-pricing {
		    		margin: 0;
		    		color: #1c1c1b;
				    font-size: 13px;
				    line-height: 20px;
		    	}
		    	.product-promo, .product-review {
		    		display: none;
		    	}
		    }
		}
		button.slick-prev {
			top: 103px;
    		left: -30px;
		}
		button.slick-next {
		    top: 101px;
			right: -10px;
	    }
	}
}

/* styles for plp */
.pt_product-search-noresult, .pt_error {
	#secondary {
		float: left;
		width: 33% !important;
		border-right: none;
		padding: 0 0 0 135px;
    	box-sizing: border-box;
		background: none;
		}
		 #primary {
	    width: 65.3% !important;
	    float: right;
	    padding: 0 135px 0 0;
    	box-sizing: border-box;
    	margin-top:-6px;
	    background-color: $white;
	    }
}
.pt_product-search-noresult {
#primary {
	    width: 65.4%;
	    }
	    #secondary {
		width: 32.93%;
		}
}
.pt_error {
#primary {
	    width: 65.4%;
	    }
	    #secondary {
		width: 31.93%;
		}
}
.pt_product-search-result, .pt_content-search-result {
#secondary {
		float: left;
		width: 23.93%;
		border-right: none;
		background: none;
		}
		 #primary {
	    width: 74.75%;
	    float: right;
	    background-color: $white;
	    }
}
.pt_product-search-result, .pt_product-search-noresult, .pt_error, .pt_content-search-result {
	h2 {
		margin-bottom:10px;
	}
	ul.refinementColor li.selected{
		    border: 1px solid $black !important;
		}
	#secondary {
		.secondary-navigation .copy-right h3 {
			width: 100%;
			padding: 17px 0px 17px 17px;
			background-color:$white-lilac;
		}
		.menu-footer.menu.pipe li {
		    float: none;
		    font-size: 15px;
		    line-height: 22px;
		    text-transform: uppercase;
    		a {
    			color: $maire;
    		}
		}
	}
	 #primary {
	    .product-tile {
	        text-align: left;
		    .product-image {
		        max-width: 290px;
	    		max-height: 290px;
	    		margin-bottom: 15px;
		    }
	    }
	    .content-header {
		    float: left;
		   	margin: 6px 0 14px;
		   	&.bottom-header {
		   		padding-bottom: 37px;
		   	}
	    }
	}
}
.pt_content-search-result h2 {

}
/* Start of styles for categoiry template 2*/
#wrapper.pt_categorylanding2 #main {
	max-width:100%;
	#primary.category-content {
	.section{
		#homepage-slider{
		    position: relative;
		    overflow: hidden;
		    max-width: 1280px;
		    margin: 0 auto;
		}
	}
		width: 100%;
	    float: left;
	    background-color: $white;
	    #homepage-slider .banner6 {
		    position: relative;
		    width: 100%;
		    padding: 64px 0 107px 0;
		}
	    .category-banner-container {
	    	position:relative;
	    	padding: 0;
	    	 .expand {
		        position: relative;
			    top: -45px;
			    color: $maire;
			    background-color: white;
			    width: 95px;
			    font-size: 9px;
			    cursor: pointer;
			    border-radius: 115px 115px 0 0;
			    padding: 18px 11px 0;
			    box-sizing: border-box;
			    bottom: 0;
			    text-align: center;
			    margin: 0 auto;
			    font-family:$pluto-sans-bold;
			    -webkit-transition: all .5s;
    			transition: all .5s;
			    .plus {
			    	background: url("../images/gb-sprite-image.png") -52px -247px no-repeat;
				    width: 18px;
					height: 18px;
					margin-top: 7px;
					display:inline-block;
			        -ms-transform: rotate(45deg);
				    -webkit-transform: rotate(45deg);
				    transform: rotate(45deg);
				    -webkit-transition: all .5s;
					transition: all .5s;
			    }
			    &.active {
			    	color:transparent;
					.plus {
						-ms-transform: rotate(180deg);
				    	-webkit-transform: rotate(180deg);
				    	transform: rotate(180deg);
					}
			    }
			    
	        }
		    .cat_landing2_text {
		          	position: absolute;
				    top: 62%;
				    right: 2%;
				    height: 350px;
				    overflow: hidden;
				    color: white;
				    width: 39.3%;
				    line-height: 75px;
				    font-size: 73px;
		    }
	    }
	    #category_block {
	    h2 {
	    	display:none;
	    	}
	    .heading_first {
	        max-width: 1280px;
    		margin:0 auto;
    		.previous {
    		    width: 21%;
    		    margin-left: 2.5%;
    			float: left;
    			margin-top: 127px;
    			text-transform: uppercase;
    			font-family: $pluto-bold;
    			font-size: 15px;
    			.prev_btn {
	    			background: url("../images/gb-sprite-image.png") -373px -161px no-repeat;
					width: 10px;
					height: 21px;
					display:inline-block;
					margin-right: 9px;
					vertical-align:middle;
    			}
    			a {
    			    color: $black;
    			    vertical-align: top;
    			}
    		}
    		.middle {
    		    width: 53%;
			    float: left;
			    text-align: center;
			    vertical-align: top;
			    letter-spacing: -2px;
			    a {
    			    color: $white;
				    background-color: $black;
				    padding: 13px 35px;
				    display: inline-block;
				    margin-bottom: 22px;
				    text-transform: uppercase;
    			}
			    .heading {
			        font-size: 73px;
    				font-family: $pluto-bold;
    				margin: 30px 0px 33px 0px;
			    }
    		}
    		.next {
    		    width: 21%;
			    float: left;
			    margin-right: 2.5%;
			    text-align: right;
			    margin-top: 127px;
    			text-transform: uppercase;
    			font-family: $pluto-bold;
    			font-size: 15px;
    			.next_btn {
	    			background: url("../images/gb-sprite-image.png") -333px -135px no-repeat;
					width: 10px;
					height: 21px;
					display:inline-block;
				    margin: -4px 0 0 9px;
					vertical-align: middle;
    			}
			    a {
    			    color: $black;
    			    vertical-align: top;
    			}
    		}
	    }
	    .subcat-section {
	        display: inline-block;
		    width: 100%;
		    margin: 0 auto;
		    text-align: center;
		    .sub_cat_block {
	    		 	    text-align: center;
					    width: 100%;
					    display: inline-block;
					    margin: 0 auto;
					    float: none;
					    margin-bottom: 28px;
	    		 	a {
	    			    color: $black;
	    			    padding: 0 15px; 
	    			    display: inline-block;
					    text-align: center;
					    font-family: $pluto-bold;
					    font-size: 15px;
					    line-height: 35px;
					    text-transform: uppercase;
					    vertical-align: top;
	    			}
	    		}
    		}
	    .category-banner-cell.category-cell-1 {
	    	position:relative;
    		display: inline-block;
    		width:100%;
	    img {
	       	 width: 100%;
	        }
	    }
	    .category-banner-products {
	        margin-top: 12px;
	        margin-bottom: 20px;
	        display:none;
	    	.grid-tile {
	    	    background: none repeat scroll 0 0 $white;
			    list-style: none outside none;
			    padding: 0;
			    width: 33.33%;
			    margin: 0 0 20px -4px;
			    padding: 0 0px 0 0;
			    display: inline-block;
			    vertical-align: middle;
			    box-sizing: border-box;
			    &.copy_image img 
			    {
			       
			    }
			    .product-tile {
			        padding: 0 30px;
    				box-sizing: border-box;
				    .product-image {
				        max-width: 289px;
					    max-height: 289px;
					    margin-bottom: 15px;
					   	background-color: transparent;
	    				padding: 0;
	    				margin: 0 auto;
					    }
					    .product-name {
					        width: 100%;
						    text-align: center;
						    float: left;
						    padding: 0 30px;
						    box-sizing: border-box;
						    padding-top: 20px;
					    }
					    .product-pricing {
						    width: 100%;
						    float: left;
						    text-align: center;
					    }
					    .product-swatches ul {
					    	display:none;
					    }
				    }
			    }
		    }
	    }
	}
}


.blog-article__meta {
    float: right;
    border-top: 1px solid #B9B8B8;
    width: 100%;
    padding: 6px 0px;
    text-align: right;
    margin-bottom: 10px;
    border-bottom: 1px solid #B9B8B8;
}


/* Articles page Start*/
.pt_content-search-result {
	#main {
		padding: 0 34px;
		box-sizing: border-box;
	}
	.pagination {
		width: 100%;
		text-align: right;
		padding: 10px 0;
	}
	.results-hits {
		width: 100%;
	}
	.folder-content-list {
		display: inline-block;
		font-size: 0;
		padding:0;
		li {
			float: none;
			padding: 0 5px 35px 5px;
			display: inline-block;
			width: 49%;
			vertical-align: top;
			text-align: justify;
			border-top: 1px solid $bombay;
			box-sizing: border-box;
			font-size: 13px;
			> a {
				font-size: 15px;
				padding: 35px 0 10px;
				display: inline-block;
			}
			> p {
				text-align: justify;
				line-height: 20px;
			}
		}
		li:nth-child(2n) {
			margin: 0 0 0 1%;
		}
		li:nth-child(2n-1) {
			margin: 0 1% 0 0;
		}
		li:nth-child(1), li:nth-child(2) {
			border-width: 0;
		}
	}
}
#wrapper.pt_product-search-result.pt_categorylanding2{
	#main{
		max-width:1280px !important;
	}
}
#wrapper.pt_categorylanding{
	#main{
		max-width:100%;
	}
}
.pt_product-search-result.pt_categorylanding2{
	.content-slot.slot-grid-header{
		.still-banner{
			position: relative;
		    width:100%;
		    min-height: auto;
		    .content {
			position: relative;
			.category-tile {
   				 display: inline-block;
   				 h1{
   				 	font-size:18px !important;
					color:#000 !important;
					padding:0 !important;
					letter-spacing:0 !important;
					text-transform: uppercase;
   				 }
				}
				.inner-content{
					    margin-top: 15px;
				 .inner-text {
				    font-size:13px;
				    color:#000;
				    margin:12px 0 0 0;
				}
				}
			}
		}
	}

}


#wrapper.pt_product-search-result {
	&.new {
		#main {
			#secondary {
			    width: 100%;
			    float: left;
			    padding: 17px 0 20px 0;
			    border-top: 1px solid #cdcdcd;
			    border-bottom: 1px solid #cdcdcd;
			 }
		}
	}
}
#secondary {
	&.new {
		.refinement {
			.clear-refinement {
	    		display: none;
	    	}
	    }
	}
}

#secondary {
	&.new {
		.refinement {
			 width: 18.94%;
			 float: left;
			 margin-right: 16px;
			 clear:none;
		}
	}
}
#secondary {
	&.new {
		.refinement:nth-child(5n-2) {
		    clear: right;
		    margin-right: 0;
		}
	}
}
#secondary {
	&.new {
		.refinement h3 {
		    border: 1px solid #dedede;
		    padding: 10px 15px 10px 15px;
		    box-sizing: border-box;
		    font-size: 12px;
		    display: block;
		    font-family: $pluto-sans-regular;
		    font-weight: normal;
		    letter-spacing: 0;
		}
	}
}
#secondary {
	&.new {
		.refinement ul {
		    padding: 0 0 15px 10px;
		    box-sizing: border-box;
		}
	}
}
#secondary {
	&.new {
		.refinement {
			.ui-refinement.btn-down-arrow {
			    width: 21px;
			    height: 21px;
			    top: 21px;
			    right: 18px;
			    display: inline-block;
			    transform: rotate(0deg);
			    position: absolute;
			    left: initial;
			    background-position: -347px -186px;
			 }
		}
	}
}
#secondary {
	&.new {
		.refinement {
			.ui-refinement.btn-down-arrow.left-arrow {
			    width: 20px;
			    right: 17px;
			    top: 21px;
			    height: 15px;
			    transform: rotate(180deg);
			    background-position: -352px -184px;
			}
		}
	}
}
#secondary {
	&.new {
		.refinement {
			.refine_head_blk {
			    display: block;
			    height: auto;
			    margin: 10px 0px 13px 0px;
			}
		}
	}
}
#secondary {
	&.new {
		.refinement {
	    	border-bottom: 0;
	    }
	}
}
.refinement.additionalInformation {
    width: 25%;
    float: left;
}
#wrapper.pt_product-search-result {
	&.new {
		#main {
			#primary {
			    width: 100% !important;
			    float: left;
			}
		}
	}
}
#primary {
	&.new {
		.slot-grid-header {
	    	text-align: center;
	    }
	    .no-results {
	    	width: 100%;
	    	float: left;
	    	padding: 0px 20px 20px 0px;
    		box-sizing: border-box;
	    }
	}
}
#wrapper.pt_product-search-result {
	&.new {
		.search-result-items .grid-tile {
	    	width: 25%;
	    }
	}
}
#wrapper.pt_product-search-result {
	&.new {
		.search-result-items .grid-tile:nth-child(4n-2) {
	    	padding: 0 10px;
	    	@media only screen and (min-width: 768px) and (max-width: 1023px) {
	    		padding: 0 0 20px 10px;
	    	}
	    	@media only screen and (max-width: 767px) {
	    		padding: 0 0 20px 5px;
	    	}
	    }
	}
}
#wrapper.pt_product-search-result {
	&.new {
		.search-result-items .grid-tile:nth-child(4n-1) {
	    	padding: 0 10px;
	    	@media only screen and (min-width: 768px) and (max-width: 1023px) {
	    		padding: 0 10px 20px 0;
	    	}
	    	@media only screen and (max-width: 767px) {
	    		padding: 0 5px 20px 0px;
	    	}
	    }
	}
}
#wrapper.pt_product-search-result {
	&.new {
		.search-result-items .grid-tile:nth-child(4n) {
	    	padding: 0 0 0 10px;
	    	@media only screen and (min-width: 768px) and (max-width: 1023px) {
	    		padding: 0 0 20px 10px;
	    	}
	    	@media only screen and (max-width: 767px) {
	    		padding: 0 0 20px 5px;
	    	}
	    }
	}
}
#primary {
	 &.new {
		 .search-result-options {
		    width: 82%;
		    margin: 30px 0 19px;
		 }
	}
}
#wrapper.pt_product-search-result {
	&.new {
		#primary {
			.content-header {
	    		margin: 35px 0 14px;
	    	}
	    }
	}
}
#primary {
	&.new {
		.pagination {
		    width: 77%;
		    margin: 0 auto;
		    text-align: center;
		    float: left;
		    margin-top: 10px;
		}
	}
}
#primary {
	&.new {
		 .sort-by {
	    	float: right;
	    }
	}
}
#primary {
	&.new {
		.items-per-page {
		    float: right;
		    position: relative;
		    right: 0;
		    margin-right: 20px;
		}
	}
}
#primary {
	&.new {
		.pagination ul {
		    display: inline-block;
		    float: initial;
		}
	}
}
#primary {
	&.new {
		.sort-by {
			.selectboxit-container {
				.selectboxit-btn {
					.selectboxit-text {
					    text-transform: uppercase;
					    text-indent: 10px;
					    .selectboxit-arrow {
					    	 right: 10px;
					    }
					 }
				}
			}
		}
	}
}
#secondary {
	&.new {
		legend {
	    	display: none;
	    }
	}
}
#secondary {
	&.new {
		.refinement {
			ul {
			    display: none;
			    opacity: 0;
			    height: 0;
			    &.refinement-hide {
			    	display: none !important;
			    }
			}
		}
	}
}
#secondary {
	&.new {
		.refinement.category-refinement {
	    	display: none;
	    }
	}
}
.refinements {
	&.new {
	ul.horizontalSelector {
      width: 100%;
      float: left;
      display: block !important;
      height: auto!important;
      padding: 15px 10px 10px !important;
      box-sizing: border-box;
      margin-top: 15px !important;
      border-top: 1px solid #cdcdcd;
      	li {
      		width: 25%;
      		float: left;
      			a {
      				color: #1c1c1b;
				    font-size: 12px;
				    font-family: $pluto-sans-regular;
				    line-height: 30px;
				    .fa-square-o:before {
				    	content: " ";
					    width: 20px;
					    height: 20px;
					    top: 3px;
					    margin-right: 10px;
					    display: block;
					    border: 1px solid #b2b2b1;
					    box-sizing: border-box;
					    background: #fff url(../images/gb-sprite-image.png) -151px -243px no-repeat;
					    position: relative;
					    z-index: 0;
					    cursor: pointer;
				    }
				    .fa-check-square-o:before {
				    	content: " ";
					    width: 20px;
					    height: 20px;
					    top: 3px;
					    color: white;
					    margin-right: 10px;
					    display: block;
					    border: 1px solid #b2b2b1;
					    box-sizing: border-box;
					    background: #fff url(../images/gb-sprite-image.png) -151px -243px no-repeat;
					    position: relative;
					    z-index: 0;
					    cursor: pointer;
					    background-color: grey;
				    }
      			}
      	}
    }
    }
}
#wrapper {
	&.new {
		#main {
			.content-slot.slot-grid-header {
			    text-align: center;
			    box-sizing: border-box;
			    padding: 0 120px;
			    h1 {
			    	font-size: 18px !important;
				    color: #000 !important;
				    padding: 5px 0 0 0 !important;
				    letter-spacing: 0 !important;
				    margin: 0 0 12px 0 !important;
			    }
			 }
		}
	}
}

@media only screen and (max-width: 767px) {
#wrapper.pt_product-search-result{
	&.new {
		.search-result-items {
			.grid-tile {
				width: 50%;
			}
		}
	}
}
#secondary {
	&.new {
	  	.refinement {
	  		width: 100%;
		    float: left;
		    margin-right: 0;
		    border-top: 1px solid #dedede !important;
	  		ul {
			    display: none;
			    opacity: 1;
			    height: auto;
			}
			.clear-refinement {
			    display: block;
			    position: absolute;
			    right: 30px;
			    top: 13px;
			}
	  		h3 {
	  			border-top: 0px;
			    padding: 5px 10px 5px 10px;
			    box-sizing: border-box;
			    border: 0;
	  		}
	  		.ui-refinement.btn-down-arrow {
	  			top: 15px;
			    right: 10px;
			    transform: rotate(0deg);
	  		}
	  		.ui-refinement.btn-down-arrow.left-arrow {
	  			transform: rotate(180deg);
			    top: 14px;
			    right: 11px;
	  		}
	  		.scrollable {
	  			height: auto;
	  		}
	  		.refine_head_blk {
	  			margin: 10px 0px 10px 0px;
	  		}
		}
	}
}
#secondary {
	&.new {
		.refinement.category-refinement .ui-refinement.btn-down-arrow {
		    top: 17px;
		    right: 10px;
		    transform: rotate(180deg);
		}
	}
}
#secondary {
	&.new {
		.refinement.category-refinement .ui-refinement.btn-down-arrow.left-arrow {
		    transform: rotate(90deg);
		    top: 11px;
		    right: 19px;
		 }
	}
}
#wrapper {
	&.new {
		#main {
			.breadcrumb {
		    	display: none;
		    }
		}
	}
}
#wrapper {
	&.new {
		#main {
	    	position: relative;
	    }
	}
}
#wrapper.pt_product-search-result {
	&.new {
		.refine-by-mobile {
		    padding: 9px 8px;
		    margin: 20px 0;
		    width: 48.5%;
		    box-sizing: border-box;
		    text-align: left;
		    font-family: $pluto-sans-regular;
		 }
	}
}
#wrapper.pt_product-search-result {
	&.new {
		.sort-by-mobile {
	          display: none;
	    }
	}
}
#primary {
	&.new {
		.sort-by {
		    display: block !important;
		    position: absolute;
		    width: 44%;
		    top: 0px;
		    right: 5%;
		    margin-top: 20px;
		    #grid-sort-footer {
		    	-webkit-appearance: none !important;
		    	opacity: 1 !important;
		    	text-transform: uppercase;
		    	text-indent: 5px;
		    	padding-right: 25px !important;
		    	box-sizing: border-box;
		    }
		}
	}
}
#primary {
	&.new {
		.sort-by {
			.selectboxit-container {
				.selectboxit-btn {
					.selectboxit-text {
					    font-family: $pluto-sans-light;
					    text-indent: 8px;
					    padding-right: 0px;
					 }
				}
			}
		}
	}
}
#wrapper.pt_product-search-result {
	&.new {
		#primary {
			.content-header {
			    width: 80%;
			    margin: 0px 0 0;
			    text-transform: uppercase;
			    font-size: 16px;
			}
		}
	}
}
#primary {
	&.new {
		.items-per-page {
		    display: block !important;
		    position: relative;
		    top: -42px;
		    right: 0px;
		    margin-right: 0;
		    margin-bottom: 0;
		}
	}
}
#primary {
	&.new {
		.pagination {
		    width: 100%;
		    margin-top: -15px;
		}
		.no-results {
			padding: 10px 20px 20px 0px;
		}
	}
}
#wrapper.pt_product-search-result {
	&.new {
		#main {
			#secondary {
			    border-top: 0;
			    border-bottom: 0;
			    padding: 5px 0;
			    margin-bottom: 15px;
			}
		}
	}
}
#secondary.refinements {
	&.new {
		.sortby-btn {
	  		width: 100%;
		    float: left;
		    padding: 15px 0px;
		    margin-bottom: 0px;
		    border-top: 1px solid #dedede;
		    border-bottom: 1px solid #dedede;
	  	}
		button#applyId {
		    width: 100%;
		    background-color: #585858;
		    padding: 10px;
		    box-sizing: border-box;
		    font-family: $pluto-sans-regular;
		    letter-spacing: 1px;
		    margin-top: 0px;
		    &.top-apply {
		    	display: none;
		    }
		}
	}
}
#wrapper {
	&.new {
		.items-per-page .selectboxit-container .selectboxit-options a, .items-per-page .selectboxit-container>span {
		    font-family: $pluto-sans-light;
		    line-height: 32px;
		}
	}
}
#wrapper {
	&.new {
		.sort-by .selectboxit-container .selectboxit-options a, #primary .sort-by .selectboxit-container>span {
		    font-family: $pluto-sans-light;
		    line-height: 32px;
		    padding-right: 20px;
		    box-sizing: border-box;
		}
	}
}
#wrapper.pt_product-search-result {
	&.new {
		#primary {
			.search-result-options {
	    		margin: 15px 0 20px;
	    		&.bottom-options {
	    			.sort-by {
	    				display: none !important;
	    			}
	    		}
	    	}
	    }
	}
}
#wrapper {
	&.new {
		.search-result-options {
			.refine-by-mobile {
				.selectboxit-default-arrow {
		            position: relative;
		            top: 2px;
		         }
		     }
		}
	}
}
#wrapper {
	&.new {
		.search-result-options {
			.refine-by-mobile.active {
				.selectboxit-default-arrow {
		    		transform: rotate(180deg);
		    	}
		    }
		}
	}
}
#wrapper {
  	&.pt_product-search-result {
  		&.new {
	  		#main {
	  			#primary {
	  				.search-result-options {
	  					.refine-by-mobile, .sort-by {
	  						display: none !important;
	  					}
	  				}
	  			}
	  			.search-result-options {
	  				&.search-for-sortitems {
	  					width: 100%;
	  					float: left;
	  					min-width: 0;
	  					margin: 0;
	  					&.count-zero {
	    					display: none;
	    				}
						.sort-by {
							display: block !important;
						    width: 48.5%;
						    float: right;
						    margin-top: 20px;
						    text-transform: uppercase;
						}
	  					.items-per-page, .pagination {
	  						display: none;
	  					}
	  				}
	  			}
	  		}
	  	 }
	  }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #wrapper.pt_product-search-result{
  	.new {
  		.search-result-items .grid-tile	{
  			width: 50%;
  		}
  	}
  }
  #secondary {
  	&.new {
	  	.refinement {
	  		ul {
	  			display: block;
			    opacity: 1;
			    height: auto;
	  		}
	  		.clear-refinement {
			    display: block;
			    position: absolute;
			    top: 10px;
			    right: 40px;
			}
			.refine_head_blk {
	  			margin: 10px 0px 10px 0px;
	  		}
		}
	}
  }
  #wrapper.pt_product-search-result {
  	&.new {
	  	#main {
	    	position: relative;
	    	#primary {
	    		float: none;
	    	}
	    }
	    .sort-by-mobile {
	    	display: none;
	    }
	    .refine-by-mobile {
		    width: 43%;
		    text-align: left;
		    padding: 9px 10px;
		    font-family: $pluto-sans-regular;
	    }
	 }
  }
  #primary {
  	&.new {
	  	.sort-by {
		    #grid-sort-footer {
		    	-webkit-appearance: none !important;
		    	opacity: 1 !important;
		    	text-transform: uppercase;
		    	text-indent: 5px;
		    	padding-right: 25px !important;
		    	box-sizing: border-box;
		    }
		}
	}
  }
  #wrapper.pt_product-search-result {
  	&.new {
	  	#primary .content-header {
	    	margin: 10px 0 0;
	    }
	}
  }
  #primary {
  	&.new {
	  	.items-per-page {
		    display: block !important;
		    position: relative;
		    top: -43px;
		    margin: 0;
		}
		.pagination {
			width: 100%;
	    	margin-top: -23px;
		}
	}
  }
  #wrapper.pt_product-search-result {
  	&.new {
	  	#primary .search-result-options {
	    	margin: 15px 0 24px;
		    &.bottom-options {
				.sort-by {
					display: none !important;
				}
			}
		}
	}
  }
  #wrapper.pt_product-search-result.pt_categorylanding2 {
  	&.new {
	  	.content-slot.slot-grid-header {
	    	padding: 0 40px;
	    }
	}
  }
  #wrapper.pt_product-search-result {
  	&.new {
	  	#main {
	  		#secondary {
			    border-top: 0;
			    border-bottom: 0;
			    max-width: 611px;
			    margin: 0 auto;
			    float: none;
			    padding: 0;
			}
		}
	}
  }
  #main {
  	#secondary {
  		&.new {
	  		.refinement {
			    width: 100%;
			    float: left;
			    margin-right: 0;
			    border-top: 1px solid #dedede !important;
			 }
		}
	}
  }
  #main #secondary {
  	&.new {
	  	.refinement:first-child {
	    	border-top: 1px solid #dedede;
	    }
	 }
  }
  #secondary {
  	&.new {
	  .refinement .refine_head_blk {
	    margin: 0 0;
	  }
	}
  }
  #secondary {
  	&.new {
	  	.refinement {
	  		h3 {
			    border-top: 0px;
			    border: 0;
			}
			.ui-refinement.btn-down-arrow.left-arrow {
				top: 8px;
			    right: 14px;
			    transform: rotate(0deg);
			}
			.ui-refinement.btn-down-arrow { 
				top: 3px;
			    right: 12px;
			    transform: rotate(180deg);
			}
			.scrollable {
				height: auto;
			}
		}
	}
  }
  #main {
  	#secondary {
  		&.new {
	  		.refinement {
	  			ul {
				    width: 100%;
				    float: left;
				    li {
				    	width: 33.3%;
	    				float: left;
				    }
				}
			 }
		}
	}
  }
  #secondary {
  	&.new {
	  	.refinement #category-level-1 li {
	    	width: 100%;
	    	float: left;
	    }
	}
  }
  #secondary {
  	&.new {
	  .sort-by .selectboxit-container .selectboxit-options a, #primary .sort-by .selectboxit-container>span {
	    font-family: $pluto-sans-light;
	  }
	}
  }
  #secondary.refinements {
  	&.new {
	  	.sortby-btn {
	  		width: 100%;
		    float: left;
		    padding: 15px 0px;
		    margin-bottom: 15px;
		    border-top: 1px solid #dedede;
		    border-bottom: 1px solid #dedede;
	  	}
	  	button#applyId {
		    width: 100%;
		    background-color: #585858;
		    padding: 10px;
		    box-sizing: border-box;
		    font-family: $pluto-sans-regular;
		    letter-spacing: 1px;
		    margin: 10px 0 10px;
		    &.top-apply {
		    	display: none;
		    }
		}
	}
  }
  #wrapper {
  	&.new {
	  .search-result-options {
	  	.refine-by-mobile {
	  		&.active {
	  			.selectboxit-default-arrow {
	  				transform: rotate(180deg);
	  			}
	  		}
	  		.selectboxit-default-arrow {
			    position: relative;
			    top: 2px;
			}
		}
	  }
	}
  }
  #wrapper {
  	&.pt_product-search-result {
  		&.new {
	  		#main {
	  			#primary {
	  				.no-results {
	  					padding: 10px 20px 20px 0px;
	  				}
	  				.search-result-options {
	  					.refine-by-mobile, .sort-by {
	  						display: none !important;
	  					}
	  				}
	  			}
	  			.search-result-options {
	  				&.search-for-sortitems {
					    min-width: 611px;
						margin: 0 auto;
						float: none;
						&.count-zero {
							display: none;
						}
						.sort-by {
							display: block !important;
						    width: 43%;
						    float: right;
						    text-transform: uppercase;
						}
	  					.items-per-page, .pagination {
	  						display: none;
	  					}
	  				}
	  			}
	  		}
	  	}
  	}
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  #main #secondary {
  	&.new {
	  	.refinement {
		    width: 32%;
		    margin-right: 16px;
		 }
    }
  }
  #main #secondary {
  	&.new {
	  	.refinement:nth-child(3n) {
		    clear: right;
		    margin-right: 0;
		}
	}
  }
  #main #primary {
  	&.new {
	  	.search-result-options {
	    	width: 80%;
	    }
	}
  }
  #main #primary {
  	&.new {
	  	.pagination {
	    	width: 75%;
	    }
	}
  }
  #wrapper.pt_product-search-result {
  	&.new {
  		#primary .search-result-items .grid-tile {
    		width: 33%;
    	}
    }
  }
  #wrapper.pt_product-search-result {
  	&.new {
  		#primary .search-result-items .grid-tile:nth-child(3n) {
    		padding: 0 0 0 10px;
    	}
    }
  }
  #wrapper.pt_product-search-result {
  	&.new {
  		#main {
    		padding: 0 50px;
    	}
    }
  }
  #secondary.refinements {
  	&.new {
  		ul.horizontalSelector li {
		    width: 33%;
		    float: left;
		}
	}
  }
  #wrapper {
  	&.new {
  		#main .content-slot.slot-grid-header {
    		padding: 0 90px;
    	}
    }
  }
}

