#search-suggestions {
    width: 100%;
    position: absolute;
    right: 0;
    top: 88px;
    z-index: 45;
    -webkit-box-shadow: 0px 0px 3px rgb(187, 185, 185);
    -moz-box-shadow: 0px 0px 3px rgb(187, 185, 185);
    box-shadow: 0px 0px 3px rgb(187, 185, 185);
    .search-suggestion-wrapper {
	    width: 100%;
	    padding: 25px 0 15px;
	    float: left;
	    box-sizing: border-box;
	    background-color: $white;
		.product-suggestions {
			width: 73.43%;
			float: right;
			padding-right: 33px;
			box-sizing: border-box;
			.search-phrase {
				color: $maire;
				font-size: 28px;
				padding: 0px 0 17px 0;
				font-family:$pluto-bold;
			    letter-spacing: -1px;
				span {
					font-family:$pluto-bold;
				}
				.corrected {
					color: $fountain-blue;
				}
			}
			.product-suggestion {
				display: inline-block;
			    margin: 0 12px 40px 3px;
			    width: 187px;
			    min-height: 187px;
			    vertical-align: top;
				.product-image {
					text-align: center;
					width: 189px;
    				height: 189px;
					img {
						width: 100%;
						width: 189px;
    					height: 189px;
					}
				}
				.product-link {
					color: $maire;
				}
				.product-details {
					padding-top: 6px;
    				text-align: center;
					line-height: 17px;
					.product-price {
						display:inline-block;
						color: $maire;
						font-family:$pluto-sans-regular;
					}
				}
			}
		}
		.phrase-suggestions {
			width: 26.56%;
			float: left;
			padding-left: 33px;
			box-sizing: border-box;
		}
		.hitgroup {
			border-bottom: 1px solid $white-lilac;
			width: 209px;
			padding: 0 0 11px 0;
    		margin: 0 0 15px 0;
    		&:last-child {
			    border: none;
			}
			.header {
				font-size:15px;
				line-height: 30px;
			    text-transform: uppercase;
			    background-color: transparent;
    			color: $maire;
    			width: 205px;
    			letter-spacing: -0.25px;
    			padding: 0 0 5px 0;
			}
			.hit {
				display: block;
				font-size:15px;
				line-height: 30px;
			}
			.parent-category {
				color: $maire;
			}
		}
	}    
}