#category-level-1 {
	li {
		color: $maire;
		display: block;
		&.fa:before {
			position: absolute;
			top: 7px;
		}
		.refinement-link {
			background: none repeat scroll 0 0 transparent;
			padding: 0 0 0 15px;
		}
		&.expandable {
			.refinement-link {
				padding: 0 0 0 15px;
			}
		}
		a {
			color:$maire;
			font-size:13px;
			font-family:$pluto-sans-regular;
			line-height: 30px;
		}
	}
}
.category-refinement #category-level-1 {
	display: none;
}
#category-level-2 {
	
	a {
		&.active {
			font-family: $pluto-sans-bold;
		}
		&.refinement-link {
			padding: 0;
		}
	}
}
#category-level-3 {
	padding: .3em 0 0;
	a {
		&.refinement-link {
			font-style: normal;
			margin: 0 0 0 .9em;
			padding: 0;
		}
		&.active {}
	}
}

.refinement {
	position: relative;
	border-bottom: 1px solid $gainsboro;
	clear: both;
	.clear-refinement {
	    display: table-cell;
        vertical-align: middle;
    	padding: 0 10px;
    	a {
    		color:$black !important;
    		font-size: 13px;
    		font-family:$pluto-sans-bold;
    	}
	}
	// Hide Refinements on Category Landing Pages
	.pt_categorylanding & {
   		display: none;
   		&.category-refinement {
   			display: block;
   		}    	
   	}
   	.refine_head_blk {
	    display: table;
	    height: 50px;
	    width: 100%;
	}
	h3 {
		font-size: 15px;
	    letter-spacing: -0.5px;
	    width: 100%;
	    padding: 0 0 0 40px;
	    text-transform: uppercase;
	    font-family: $pluto-sans-bold;
	    cursor: pointer;
	    display: table-cell;
    	vertical-align: middle;
    	word-break: break-all;
	}
	ul {
		padding: 0 0 15px 0;
		li {
			a {
				color:$maire;
				font-size:13px;
				font-family:$pluto-sans-regular;
				line-height: 30px;
			}
		}
		&#category-level-2 {
			padding: 0 0 0 15px;
		}
		&.swatches li {
			float: left;
			padding: .16em;
			a {
				border: 2px solid $gainsboro;
				border-radius: .5em;
				display: block;
				padding: 0.2em 0.8em;
			}
			&.selected a {
				border-color: $citrus;
				font-weight: bold;
			}
			&.unselectable a {
				background-image: url("../images/interface/icon-color-swatch-unselectable.png");
				background-position: right top;
			}
		}
		&.refinementColor {
		    padding: 8px 0px 30px 0px;
			li {
			    margin: 0px 5px 5px 0px;
				a {
					height: 35px;
				    padding: 0px;
				    text-indent: -999em;
				    width: 35px;
				    border: transparent;
				    border-radius: inherit;
				}
			}
		}
		&.filtersample li:first-child {
		    display: none
		}
	}
	.fa-square-o:before {
	    content: " ";
	    width: 20px;
	    height: 20px;
	    top: 3px;
	    margin-right: 10px;
	    display: block;
	    border: 1px solid #b2b2b1;
	    box-sizing: border-box;
	    background: #fff url("../images/gb-sprite-image.png") -151px -243px no-repeat;
	    position: relative;
	    z-index: 0;
	    cursor: pointer;
	}
	 .fa-check-square-o:before {
	    content: " ";
	    width: 20px;
	    height: 20px;
	    top: 3px;
	    margin-right: 10px;
	    display: block;
	    border: 1px solid #b2b2b1;
	    box-sizing: border-box;
	    background: #fff url("../images/gb-sprite-image.png") -151px -243px no-repeat;
	    position: relative;
	    z-index: 0;
	    cursor: pointer;
	    background-color:grey;
	}
	.ui-refinement.btn-down-arrow {
		background: url("../images/gb-sprite-image.png") no-repeat -391px -160px;
		width: 21px;
	    height: 10px;
	    top: 19px;
	    left: 0;
	    display: inline-block;
	    position: absolute;
	    &.left-arrow {
			background: url("../images/gb-sprite-image.png") no-repeat -333px -135px;
			width: 10px;
		    left: 5px;
		    top: 14px;
		    height: 21px;
		}
	}
	.refinement-link {
		border: 0 none;
	}
	.selected .refinement-link {
		background-position: left bottom;
	}
	.refinement-top-level {
		padding: 1em;
	}
}

.scrollable {
	height: 139px;
	overflow: auto;
}

.nav {
	ul {
		border: 0 none;
		list-style: none outside none;
		margin: .58em 0;
		padding: 0;
		li {
			list-style: none outside none !important;
			margin: 0 0 .58em !important;
		}
	}
	.toggle {
		border: 0 none;
		display: block;
		font-size: 1em;
		font-weight: 700;
		margin: .83em 0 .58em;
		text-transform: uppercase;
		span {
			background: none repeat scroll 0 0 transparent;
		}
	}
	.expanded {
		background-position: left -96px;
	}
}

/* styles for category landing page */
.pt_categorylanding {
	.main-category-content .html-slot-container{
		position:relative;
		overflow: hidden;
	}
	.product-listing {
		button.slick-prev {
			margin-top: -88px;
		    right: 0;
		    width: 28px;
		    height: 58px;
		    z-index: 1;
		    background: url("../images/gb-sprite-image.png") -296px -200px no-repeat;
		    margin-right: 35px;
		}
		button.slick-next {
			margin-top: -89px;
	    	right: -117px;
		    width: 28px;
		    height: 58px;
		    z-index: 1;
		    background: url("../images/gb-sprite-image.png") -237px -138px no-repeat;
		    margin-right: 35px;
		}
	}
	.cat-land-row {
	    padding-top: 72px;
		.cat-land-shopall {
		    width: 20%;
		    float: left;
		    h3.cat-name a {
		        color: $black;
			    font-size: 30px;
			    line-height: 30px;
			    font-family:$pluto-bold;
			    display: block;
			    background-color: transparent;
			    text-align: left;
			    padding: 0;
			    text-transform: initial;
			    margin-top: 0;
			    margin-left: 37px;
			    text-transform:capitalize;
		    }
		    .cat-description{
		    	margin-left: 37px;
			    padding: 10px 35px 0px 0px;
			    line-height: 20px;
			    font-size: 15px;
		    }
		    a {
		        display: inline-block;
			    background-color: grey;
			    color: #fff;
			    font-size: 13px;
			    font-family:$pluto-sans-bold;
			    text-align: center;
			    text-transform: uppercase;
			    padding: 10px 40px;
	    		margin-left: 37px;
			    margin-top: 25px;
		    }
		}
		.product-listing {
		    float: right;
	   		width: 80%;
	    	overflow: hidden;
	   		.search-result-items {
	   			width: 90%;
	   			background: none;
	   			margin:0px 0px 17px 0px;
	   			li {
	   			    background: url("../images/gb-and-logo1.png") 45% 21% no-repeat;
	   			    &:last-child {
	   			    	background:none;
	   			    }
	   			    &.slick-slide {
	   			    	opacity: 0.3;
	   			    	&.slick-active {
	   			    		opacity: 1;
	   			    	}
	   			    }
	   			}
	   			.slick-list {
				    overflow: visible;
			    }
	   		}
	   		.product-tile {
	   			max-width: 188px;
		   		.product-image {
		    		margin-bottom: 3px;
		    		overflow: hidden;
		    		min-height: 188px;
		   		}
		   		.saveforlater {
		   			display:none;
		   		}
	   		}
		}
	}
	.secondary-content .banner5 {
		padding-top: 50px;
	    width: 100%;
	    float: left;
	}
}
#search-suggestions .search-suggestion-wrapper .product-suggestions .product-suggestion .product-image {
    text-align: center;
    width: 189px;
    height: 189px;
    margin: 0 auto;
}
/*End - category landing page */

.refinements {
	legend span.clearall {
	    min-width: 55px;
	    vertical-align: middle;
	    display: table-cell;
	    font-family:$pluto-sans-bold;
	    cursor: pointer;
	}
	button#applyId {
		width: 100%;
	    background-color: $fountain-blue;
	    border: none;
	    color: $white;
	    padding: 9px 33px;
	    text-transform: uppercase;
	    float: left;
	    font-family: $pluto-sans-bold;
	    font-size: 13px;
	    margin: 20px 0 0 0;
	}
}

/*
.refinement.colourgroup ul {
	height: auto;
	overflow: hidden;
	li {
		margin: 0 10px 10px 0;
		float: left;
		a {
			width: 42px;
		    height: 42px;
		    display: block;
		    padding: 0;
		    border: none;
		    border-radius: 0;
		    overflow: hidden;
			i.fa {
				width: 40px;
				height: 40px;
			    border: 1px solid #e0e0e0;
			    &.fa-check-square-o {
			    	border: 1px solid $black;
			    	&:after {
					    content:"\f00c";
					    position: absolute;
					    top: 13px;
					    left: 13px;
					    font-size: 13px;
					    font-style: italic;
					    color: $white;
					    -webkit-font-smoothing: antialiased;
					    -moz-osx-font-smoothing: grayscale;
					}
			    }
				&:before {
				    border: 3px solid $white;
				    background-image: none;
	    			background-color: $white;
	    			width: 100%;
				    height: 100%;
				    box-sizing: border-box;
				    top: 0;
				}
			}
			&[refid2="white"] i.fa.fa-check-square-o:after {
				color: #b2b2b1;
			}
			&[refid2="beige"] i.fa:before {
				background-color: #F5F5DC;
			}
			&[refid2="black"] i.fa:before {
				background-color: $black;
			}
			&[refid2="blue"] i.fa:before {
				background-color: #0F26B1;
			}
			&[refid2="brown"] i.fa:before {
				background-color: #753807;
			}
			&[refid2="cream"] i.fa:before {
				background-color: #F9F2DF;
			}
			&[refid2="orange"] i.fa:before {
				background-color: #EAA554;
			}
			&[refid2="purple"] i.fa:before {
				background-color: #98229C;
			}
			&[refid2="green"] i.fa:before {
				background-color: #D3DD72;
			}
			&[refid2="yellow"] i.fa:before {
				background-color: #FDF87D;
			}
			&[refid2="white"] i.fa:before {
				background-color: $white;
			}
			&[refid2="red"] i.fa:before {
				background-color: #D60C0C;
			}
			&[refid2="pink"] i.fa:before {
				background-color: #FDB9B9;
			}
			&[refid2="grey"] i.fa:before {
				background-color: #E3E3E3;
			}
			&[refid2="gold"] i.fa:before {
				background-color: #FFD700;
			}
			&[refid2="silver"] i.fa:before {
				background-color: #C0C0C0 ;
			}
			&[refid2="metallic"] i.fa:before {
				background-color: #FCEDC1;
				background: #fcedc1; 
				background: -moz-linear-gradient(top,  #fcedc1 0%, #c4a441 100%); 
				background: -webkit-linear-gradient(top,  #fcedc1 0%,#c4a441 100%); 
				background: linear-gradient(to bottom,  #fcedc1 0%,#c4a441 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcedc1', endColorstr='#c4a441',GradientType=0 ); 
			}
			&[refid2="multi"] i.fa:before {
				background: #faf8bd;
				background: -moz-linear-gradient(left,  #faf8bd 0%, #faf8bd 33%, #f6d6ff 33%, #f6d6ff 66%, #bfe2ff 66%, #bfe2ff 100%);
				background: -webkit-linear-gradient(left,  #faf8bd 0%,#faf8bd 33%,#f6d6ff 33%,#f6d6ff 66%,#bfe2ff 66%,#bfe2ff 100%); 
				background: linear-gradient(to right,  #faf8bd 0%,#faf8bd 33%,#f6d6ff 33%,#f6d6ff 66%,#bfe2ff 66%,#bfe2ff 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf8bd', endColorstr='#bfe2ff',GradientType=1 ); 
				
			}			
		}
	}
} */