#cart-table {
	thead {
		display: none;
		@media screen and (min-width: 768px) {
			display: table-header-group;
		}
	}
	td {
		box-sizing: border-box;
		padding: 20px 0 0 0;
		&.cart-promo {
		    padding: 10px;
		}
	}
	.item-image {
		padding-right: 15px;
    	width: 10%;
	}
	.item-details {
		width: 30%;
	}
	.item-quantity {
		width: 100%;
    	padding: 0 0 0 2px;
    	display: inline-block;
    	input[type=text] {
    		margin-right: 5px;
    		padding: 0;
		    width: 35px;
		    height: 35px;
		    text-align: center;
		    float: left;
		}
		a {
			width: 35px;
		    height: 35px;
		    display: inline-block;
		    border: 1px solid $bombay;
		    box-sizing: border-box;
		    text-align: center;
		    font-size: 20px;
		    font-family:$pluto-sans-regular;
		    line-height: 30px;
		    float: left;
		    margin-right: 5px;
		    color: $maire;
		}
	}
	.item-quantity-details {
		width: 30%;
		padding: 20px 16px;
		.item-user-actions {
			a, button, span {
				display: block;
				margin: 0;
				font-family:$pluto-sans-bold;
				line-height: 20px;
				cursor: pointer;
			}
			.errormsg {
				a, span {
					display: inline;
					color: $maire;
				}
				a {
				    text-decoration: underline;
				}
			}
		}
	}
	.item-price {
		width: 20%;
		padding: 20px 0 0 20px;
	}
	.price-promotion {
		.price-sales {
			color: $red;
		}
		.price-standard {
			margin: 0 5px 0 0;
			text-decoration: line-through;
		}
	}
	.item-total {
		width: 10%;
	    padding: 20px 0 0 20px;
		.promo-adjustment {
			width: 7.5rem;
		}
	}
	.price-unadjusted {
		line-height: 20px;
		span {
			text-decoration: line-through;
		}
	}
	.price-adjusted-total {
		line-height: 20px;
		span {
			color: $red;
		}
	}
	.gift-cert-delivery {
		color: $red;
	}
	tr.rowcoupons {
	    border-bottom: 1px solid $bombay;
		td.item-details {
			padding-bottom: 20px;
			line-height: 20px;
		}
		td.item-quantity-details {
			font-family: "Pluto Sans W01 Bold";
		}
	}
}

.cart-promo {
	background: url("../images/interface/ui-promo-bg-gray-diag.png") repeat scroll 0 0 transparent;
	color: $night-rider;
	font-style: italic;
	margin: 0.3em 0;
	padding: 1em;
	.bonus-item-actions {
		font-size: 1em !important;
		text-align: right;
		vertical-align: middle;
	}
}

.cart-footer {
	@extend %clearfix;
	margin: 21px 0;
}

.cart-coupon-code {
	float: left;
    width: 290px;
    border-top: 1px solid $bombay;
    border-bottom: 1px solid $bombay;
    .cart-coupon-section1 {
	    padding: 19px 0 17px;
	    position: relative;
	    a.showcoupon {
		    font-size: 15px;
		    color: $maire;
		    line-height: 15px;
		    padding: 0 0 0 38px;
			cursor: pointer;
		    &:before {
		    	content: '';
			    position: absolute;
			    top: 13px;
			    left: 5px;
			    width: 11px;
			    height: 25px;
			    background: url("../images/gb-sprite-image.png") -333px -133px no-repeat;
			}
			&.active:before {
			    width: 22px;
			    height: 13px;
			    left: 0;
			    top: 19px;
				background-position: -391px -159px;
			}
		}
	}
	.cart-coupon-section2 {
		display: none;
		margin-bottom: -1px;
	}
	input {
	    height: 35px;
	}
	td {
	    width: 100%;
	    padding: 0;
	}
	button {
		min-width: 85px;
	}
	.error {
		padding: 5px 0;
	}
}

.cart-order-totals {
	float: right;
	margin: 0;
	width: 290px;
	button.sec-btn {
	    float: right;
	    margin: 0 0 24px 0;
	    min-width: 145px;
	    display: none;
	}
}
.checkout-mini-cart {
    border-bottom: 1px solid $mini-cart-br;
}
.order-totals-table {
	font-size: 15px;
	font-family:$pluto-sans-regular;
	margin: 14px 0 0 0;
	td {
		padding: 0;
	    text-align: left;
	    line-height: 24px;
		&:last-child {
		    text-align: right;
		    white-space: nowrap;
		}
	}
	.order-totals-item {
		width: 60%;
	}

	.order-totals-value {
		width: 40%;
	}
	.order-total {
		font-family:$pluto-sans-bold;
	}
}
.order-value {
	white-space: nowrap;
}
.cart-actions {
	@extend %clearfix;
}

.cart-action-checkout {
	display: inline-block;
    width: 100%;
}
.cart-actions.cart-actions-bottom {
    text-align: right;
    margin: 0 0 29px;
}
.bag-qty-error, .updateQuantityError {
	border: 1px solid #ff0000;
    padding: 10px 10px 10px 30px;
    margin: 5px 0;
	text-align: left;
    color: $red;
    width: 100%;
    max-width: 290px;
    float: right;
    clear: both;
    box-sizing: border-box;
    &:before {
	    content: "!";
	    width: 20px;
	    height: 20px;
	    margin: 2px 0 0 -25px;
	    float: left;
	    display: block;
	    color: $red;
	    text-align: center;
        line-height: 20px;
	    font-size: 13px;
	    border: 1px solid $red;
	    border-radius: 20px;
	}
}
.cart-recommendations {

}

.cart-actions-top {
    margin: 30px auto;
    padding: 0;
	.cart-action-continue-shopping {
		float: none;
	}
}

.cart-empty {
	@extend %clearfix;
	margin-top: 4rem;
	h1 {
		padding: 21px 0 0;
	    letter-spacing: -1.7px;
	    font-size: 30px;
	    line-height: 34px;
	    word-spacing: 3px;
	    text-align: center;
	}
	.cart-action-continue-shopping {
		font-size: 15px;
	    margin: 35px 0 0 0;
	    letter-spacing: -.25px;
	    font-family:$pluto-sans-bold;
	    text-align: center;
	}
}

.promo-adjustment {
	color: $red;
}

ul.product-availability-list {
	margin: 0;
	padding: 0;
	width: 5em; //for IE
    width: -webkit-max-content;
    width: -moz-max-content;
	li {
		list-style: none outside none;
	}
	.on-order, .not-available {
		color: $red;
	}
}

.account-welcome {
	.welcome-message {
		font-size: 1.2em;
		font-style: italic;
	}
	.not-user {
		margin: .83em 0;
	}
}

#password-reset{
	white-space: nowrap;
}

.pt_cart {
	.primary-content .cart-section {
	    margin: 0 auto;
	    width: 100%;
	    max-width: 81.7%;
	    padding: 0 20px 0 0;
    	box-sizing: border-box;
	    .cart-actions-top {
		    .mini-cart-header {
				float: left;
		    	padding: 21px 0 0 0;
		    	letter-spacing: -1.7px;
			}
			a.continue {
			    display: inline-block;
			    font-size: 15px;
			    margin: 35px 0 0 72px;
			    letter-spacing: -0.25px;
			}
		    fieldset {
			    float: right;
			}
		}
		.item-list {
			.section-header {
				font-size: 18px;
				font-family:$pluto-bold;
			    line-height: 30px;
			    padding: 10px 17px;
			    background-color: $white-lilac;
			    box-sizing: border-box;
			    text-transform: uppercase;
			}
			.cart-row {
			    border-bottom: 1px solid $white-lilac;
			    &:last-child {
			    	border-bottom: 1px solid $bombay;
			    }
			}
		}
	}
	button.prm-btn {
	    min-width: 290px;
        letter-spacing: 1.5px;
	    &:before {
	    	content: '';
		    margin: 0 5px -5px 8px;
		    width: 18px;
		    height: 20px;
		    display: inline-block;
		    background: url("../images/gb-sprite-image.png") -171px -243px no-repeat;
	    }
	}
}


.product-listing button.sec-btn {
    display: none;
}

.pt_cart .product-listing button.sec-btn {
    display: inline-block;
    margin: 5px 0 0 0;
    min-width: 140px;
    line-height: normal;
    padding: 5px;
    min-height: 35px;
}

.pt_cart .item-quantity-details ul.product-availability-list {
    width: 65%;
    li.not-available {
    	color:$red;
    }
}
.pt_cart .search-result-items .product-tile {
    padding-bottom: 45px;
}
.tile_add_cart {
    width: 100%;
    position: absolute;
    bottom: 0;
}


.cart-shipping-coupon {
    float: left;
    max-width: 55%;
    margin: 0 0 40px 0;
    #mmWrapper {
    	float: left;
    	width: 40%;
    }
}

.shipping-coupon-alert {
    float: left;
    clear: both;
    display: block;
    padding: 5px 0;
    h3 {
		outline: medium none;
	    overflow: hidden;
	    text-decoration: none;
	    font-family: "Pluto Sans W01 Regular";
	    letter-spacing: -0.25px;
	}
}