/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: inline-block;
    }
    &.slick-loading img {
        display: none;
    }
	
    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
        text-align: center;
        position:relative;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}


.slick-prev, .slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	min-width: 12px;
	min-height: 23px;
	margin-top: -10px;
	padding: 0;
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
	&:before {
		font-family: 'slick';
		font-size: 20px;
		line-height: 1;
		color: white;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		
	}
}

.slick-next {
	right: -25px;
}

.slick-prev {
	left: -25px;
}

button.slick-prev {
    margin-top: -17px;
    left: 0;
    z-index: 5;
    background: url("../images/gb-sprite-image.png") -371px -161px no-repeat;
    z-index:1;
}
button.slick-next {
	margin-top: -17px;
    right: 0;
    z-index: 1;
    background: url("../images/gb-sprite-image.png") -333px -133px no-repeat;
}

ul {		
	&.slick-dots {
		position: absolute;
		bottom: -35px;
		display: block;
		width: 100%;
		padding: 0;
		list-style: none;
		text-align: center;
	
		li {
			
			position: relative;
			display: inline-block;
			width: 12px;
			height: 12px;
			margin: 0 5px;
			padding: 0;
			cursor: pointer;
			
			button {
				width: 12px;
				height: 12px;
				margin: 0px 4px;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
				background: #b2b2b2;
				display: inline-block;
				border: none;
				text-indent: -9999px;
				position: absolute;
				top: 0;
				left: 0;
				font-size: 0;
				line-height: 0;
				display: block;
				padding: 5px;
				cursor: pointer;
				color: transparent;
				border: 0;
				outline: none;
			}
			&.slick-active {
				button { 
					background: #efeff0;
					box-shadow: 2px 1px 0px #b2b2b2;
					top: -1px;
					position: absolute;
					width: 12px;
					height: 12px;
					margin: 0px 4px;
					-webkit-border-radius: 20px;
					-moz-border-radius: 20px;
					border-radius: 20px;
					display: inline-block;
				
				}
			}
		}
	}
}
.slick-slider ul.custom_paging {
	position: absolute;
    right: 0;
    top: 158px;
    width: 57px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    background-color: #a26d19;
    li{
		display: none;
		&.slick-active {
			display: block;
		}
	}
}