.content-slot img {
	height: auto;
	max-width: 100%;
}

.slot-grid-header p {
	margin: 0;
	padding: 0;
}

.content-slot .still-banner {
    overflow: hidden;
    min-height: 150px;
}

.product-listing-1x4 {
	background: none repeat scroll 0 0 $white;
	overflow: hidden;
	padding: .83em 0;
	.search-result-items .grid-tile {
		margin: 0 1% 0 2%;
		width: 18%;
	}
}

.account-nav-asset {
	max-width: 290px;
    display: inline-block;
    padding: 30px 0;
    h2 {
    	font-size: 18px;
    	letter-spacing: 0;
    }
    p {
    	font-size: 15px;
    	line-height: 24px;
    	padding: 10px 0;
    }
}

#browser-check {
    position: fixed;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 9999;
}

.browser-compatibility-alert {
	background-color: $sangria;
	color: $white;
	font-size: 1.3em;
	line-height: 2em;
	padding: 3px 15px;
}

.blog-article {
  position: relative;
  width: 95%;
  margin-bottom: 20px;
  padding-left: 20px;
  line-height: 1.6;
  font-size: 15px;
}
.blog_article_title {
  font-size: 40px;
  margin: 0;
}
.blog-article_title_centered {
  text-align: center;
}
.blog-article_meta {
  position: relative;
  padding: 12px 10px;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
}
.blog-article_date {
  float: left;
  color: #949494;
  font-weight: bold;
  padding-left: 25px;
  line-height: 20px;
}
.blog-article_date:before {
  font-size: 20px;
  position: absolute;
  margin-left: -28px;
}
.blog-article_socials {
  float: right;
}
.blog-article_body {
  margin-top: 20px;
}