// mixins
%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.clearfix {
	@extend %clearfix;
}

// colors
// names taken from http://www.color-blindness.com/color-name-hue/

$cerulean: #00629b;
$charcoal: #424242; 
$citrus: #84bd00;
$dark-gray: #aaa;
$dim-gray: #666;
$gainsboro: #e0e0e0;
$islamic-green: #019328;
$night-rider: #333;
$nobel: #999;
$rain-forest: #64772d;
$sangria: #990000;
$stark-white: #cebdb3;
$teal: #008578;
$tutu: #faeded;
$very-light-gray: #ccc;
$white-smoke: #efefef;
$light-black: #1d1d1b;
$golden-yellow: #d7bd3f;
$click-left-gray: #cacacd;
$grey-rider: #9d9d9d;

$swatch-types: black #000000, beige #f5f5dc, blue blue, purple purple, red red, brown #783201, green green, grey #8f979d, pink #fe249a, orange orange, white #ffffff, yellow #ffff00, navy navy;

// fonts
$sans-serif: Arial, sans-serif;
$sans-serif-alt: Lato, sans-serif;
$serif: Crete Round, serif;

$pluto-sans-light:"Pluto Sans W01 Light";
$pluto-sans-regular:"Pluto Sans W01 Regular";
$pluto-sans-bold:"Pluto Sans W01 Bold";
$pluto-light:"Pluto W01 Light";
$pluto-regular:"Pluto W01 Regular";
$pluto-bold:"Pluto W01 Bold";

// flag-icon-css
$flag-icon-css-path: '../lib/flag-icon-css/flags';

// global classes
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.menu {
	float: left;
	margin: 0;
	padding: 0;
	li {
		float: left;
		list-style: none outside none !important;
	}
}

// primary-colors
$white: #fff;
$black: #000;
$mabel: #c1dfe4;
$fountain-blue: #63b0bb;
$white-lilac: #f3f3f4;
$bombay: #b2b2b1;
$maire: #1c1c1b;
$red: #ff0000;
$beeswax: #e7d1ac;
$gum-leaf: #aac4b2;
$opium: #a08185;
$light-blue: #63B1BB;
$fountain-green: #6f8a39;
$fountain-active-green: #364b0d;

//global
$a-link:$fountain-blue;
$selectbox-boder:$bombay;
$selectbox-text:$maire;
$selectbox-bg:$white;
$selectbox-bg-over:$white-lilac;

//header & nav
$header-bg:$maire;
$search-bg:$maire;
$nav-a:$white;
$nav-a-hover:$fountain-blue;
$nav-sec-link:$maire;
$mb-nav-a:$maire;
$mb-nav-border:$bombay;
$top-promo-bg:$white-lilac;
$nav-bg:#fbfbfd;
$sub-nav-link: #929292;

//button
$prm-btn-bg: $fountain-blue;
$prm-btn-bg-active: $maire;
$sec-btn-bg: $bombay;
$sec-btn-bg-active: $fountain-blue;
$btn-bg-disable: $white-lilac;
$btn-disable: $bombay;
$prm-btn-bg-col: $fountain-green;
$prm-btn-bg-col-active: $fountain-active-green;

//footer
$footer-bg: $white-lilac;
$footer-text: #3e3e3e;
$footer-social-icon: #9e9e9e;

//account
$legend-bg:$white-lilac;
$acc-border:$bombay;
$checkbox-border:$bombay;
$require-star:$maire;
$error:$red;
$myacc-border:$white-lilac;
$myacc-a:$maire;
$myacc-title:#191919;

//popup
$popup-bg:$white-lilac;
$popup-border:$maire;

//pdp
$pdp-border:$white-lilac;

//mini-cart
$mini-cart-br: #d2d2d2;

//review stars
$star-color: #ffe206;
$star-bg: #bdb9b8;