.pt_wish-list {
	.list-table-header {
		background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top $white-smoke;
		overflow: hidden;
		padding: 2em;
		p {
			color: $nobel;
			float: right;
			margin: 0;
			overflow: hidden;
			width: 40%;
		}
	}
	.primary-content .list-table-header h2 {
		float: left;
	}
}

.list-share {
	@extend %clearfix;
	border-top: 1px solid darken($white-smoke, 10%);
	padding: 2em;
	.share-option {
		box-sizing: border-box;
		display: block;
		margin-bottom: .5rem;
		float: left;
	}
	.share-options {
		text-align: center;
		margin-bottom: .5rem;
		font-size: 1.7em;
		float: left;
		margin-left: 1rem;
		margin-top: 0.3rem;
		.share-title {
			display: inline;
		}
	}
	.list-title {
		float: left;
	}
	.print-page {
		float: right;
	}
	.share-link {
		cursor: pointer;
	}
	.share-link-content {
		display: none;
		&.active {
			display: block;
			float: left;
		}
	}
}

.event-info {
	margin: 1em;
}

.wishlist-search,
.registry-search {
	.form-row {
		clear: none;
		margin: .5rem 0 .5rem 1%;
		float: left;
		width: 32.666666667%;
		&:nth-of-type(3n + 1) {
			margin-left: 0;
		}
	}
	.form-row-button {
		margin-left: 0;
	}

}

/* start of ui for wishlist My ACCOUNT */
#wrapper.pt_wish-list #main {

.breadcrumb {
    color: #1c1c1b;
    display: block;
    margin-bottom: 16px;
    margin-left: 32px;
    margin-top: 19px;
    a {
        color: $black;
    }
}
	#primary {
	    width: 67%;
    	float: right;
    	h2{
		    font-size: 30px;
    		padding: 35px 0;
    	}
    	.address-item{
    		a{
    			font-size:15px;
    		}
    	}
    	.socialsharing.social-links {
    	    float: right;
		    width: 28%;
		    margin-top: -43px;
    	}
    	table {
    		max-width:740px;
    		tr {
    		 border-bottom: 1px solid #d6d6d6; 
    		}
    	}
    	h1 {
    	    font-size: 30px;
		    margin-top: 34px;
		    word-spacing: 6px;
		    margin-bottom: 15px;
		    max-width: 396px;
    	}
    	form.list-share {
    	    padding: 0px;
    	    box-sizing: border-box;
		    max-width: 740px;
		    width: 100%;
    	}
    	table.item-list {
	    	th {
	    		display:none;
	    	}
	    	td {
	    	padding:20px 0px 0px 0px;
	    	&.item-image {
	    	    width: 85px;
    			height: 85px;
	    		}
	    		&.item-details {
	    		    width: 32.1%;
    				vertical-align: top;
		    		.product-list-item {
	    				    margin-left: 13px;
	    			}
    			}
    			.name a {
    			    color: $maire;
    			    line-height: 16px;
    			}
    			&.item-availability {
    				width:13%; 
    				float: left;
	    			li.is-in-stock {
	    			    margin: 0;
	    				/* margin-top: -5px; */
	    			}
    			}
    			&.item-dashboard {
    			       float: right;
					    width: 51%;
					    margin-top: -2px;
					    box-sizing: border-box;
					    .form-row.option-quantity-desired .value {
					        margin-top: 2px;
    						display: inline-block;
					    }
				    .form-row.option-date-added, .form-row.option-quantity-desired{
				    label {
				    	float: left;
				    	margin-right: 3px;
				    	}
				    .field-wrapper {
				        float: left;
					    margin: 0;
					    margin-top: -7px;
					    margin-left: 4px;
				    	}
				    }
				    .option-update {
				    	margin-top: 12px;	
				    }
				    .option-add-to-cart {
				    button {
						    padding: 8px 22px;
						    margin-top: 12px;
						    margin-bottom: 20px;
						    min-height: auto;
				    	}
				    }
				    .form-row.option-quantity-desired {
				    .field-wrapper {	
				        margin-top: 11px;		 
						    a {
						        width: 35px;
							    height: 35px;
							    display: inline-block;
							    border: 1px solid $bombay;
							    box-sizing: border-box;
							    text-align: center;
							    font-size: 20px;
							    font-family: $pluto-sans-regular;
							    line-height: 30px;
							    float: left;
							    margin-right: 5px;
							    color: $maire;
						    }
						    input {
						        font-size: 13px;
							    font-family: $pluto-sans-regular;
							    height: 35px;
							    width: 35px;
							    margin-right: 5px;
							    text-align: center;
							    float: left;
						 	}
				    	}
				    }
    			}
	    	}
    	}
	}
}
/* End of ui for wishlist My ACCOUNT */