.checkout-tab {clear: both; margin: 33px 0;}
.checkout-tab-head legend span.edit {font-size: 15px;}
.checkout-tab-head[data-href]{cursor: pointer;}
.checkout-tab-head h2{position: relative; padding-left: 40px;}
.checkout-tab-head h2:before {content: ''; position: absolute; top: 12px; left: 5px; width: 11px; height: 25px; background: url("../images/gb-sprite-image.png") -333px -133px no-repeat;}
.checkout-tab-head.open h2:before {width: 22px; height: 13px; left: 0; top: 19px; background-position: -391px -159px;}


.checkout-tab-content.tab-content-show h1{display: none;}

.checkout-progress-indicator{display: none;}

.pt_checkout .breadcrumb{display: none;}

.pt_checkout .gigyaLoginParent, 
.pt_checkout #spanGigyaHeaderLogin,
.pt_checkout #h1GigyaLogin{display: none !important;} 


#wrapper.pt_checkoutnew #main {
    max-width: 840px;
    margin: 0 auto;
    padding: 65px 0 30px 0;
}
#wrapper.pt_checkoutnew .primary-content {
    width: 100%;
    max-width: 430px;
    float: left;
}
#wrapper.pt_checkoutnew #secondary {
    float: right;
    width: 327px;
    padding: 22px 18px 29px 17px;
    border: 1px solid #b2b2b1;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.checkout-title h2 {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -1px;
}
.checkoutlogin .login-box.login-account legend, .checkoutlogin .login-box.login-account .for-account {
    display: none;
}
.checkoutlogin a.account-login, .checkoutlogin a.guest-checkout{
    font-size: 15px;
    padding: 20px 0 5px;
    display: inline-block;
    cursor: pointer;
}
.checkout-tab-content form .col-1 a, .checkout-tab-content form .col-2 button {
    width: 40%;
    margin: 30px 0 0 5%;
    float: left;
    text-align: center;
    min-height: 35px;
    padding: 0;
    font-size: 13px;
}
.checkout-tab-content form {
	width: 100%;
    max-width: 327px;
}
.checkout-tab-content form .error-form{
	padding: 0 0 10px 0;
}
.checkout-tab-content button.prm-btn {
	margin-top: 12px;
    width: 100%;
    letter-spacing: 1.5px;
}
.checkout-tab-content h2 {
    font-size: 15px;
    line-height: 30px;
    margin: 22px 0 0 0;
    letter-spacing: -0.4px;
    text-transform: uppercase;
}
.coupon-head {
    float: left;
    width: 100%;
    height: 27px;
    border-top: 1px solid #b2b2b1;
    border-bottom: 1px solid #b2b2b1;
    padding: 30px 0 17px;
    position: relative;
    cursor: pointer;
}
.coupon-head.active {
    border-bottom: none;
}
.coupon-head a {
      font-size: 15px;
      color: #1c1c1b;
      line-height: 15px;
      padding: 0 0 0 38px;
      cursor: pointer; 
}
.coupon-head a:before {
     content: '';
     position: absolute;
     top: 24px;
     left: 5px;
     width: 11px;
     height: 25px;
     background: url("../images/gb-sprite-image.png") -333px -133px no-repeat;
}
.coupon-head.active a:before {
     width: 22px;
     height: 13px;
     left: 0;
     top: 30px;
     background-position: -391px -159px; 
}
span.previous-addresses, .reg-customer-address a span {
    font-size: 15px;
    font-family: "Pluto Sans W01 Bold";
    display: inline-block;
    margin: 9px 0 24px 0;
}
.reg-customer-address .reg-address-list {
	margin: 18px 0;
}
.checkout-shipping button.prm-btn.spc-shipping-btn {
    margin-top: 40px;
}
.checkout-shipping .errorcheck + button.prm-btn.spc-shipping-btn {
    margin-top: 12px;
}
.useasshippingaddress {
	border-top: 1px solid #f3f3f4;
    border-bottom: 1px solid #f3f3f4;
}
.useasshippingaddress .usebilling {
    margin: 15px 0 24px 0;
}

#shipping-method-list p {
    margin: 18px 0 8px 0;
    font-size: 15px;
    line-height: 18px;
}

#shipping-method-list .form-caption {
    display: inline;
}
#shipping-method-list label span {
    font-family: "Pluto Sans W01 Bold";
}
