/* Payment Methods form Use Alias*/
/* ------------------------------------- */
.payment-method-options.hide-payment-method{display: none;}
.aliasGateway.alias-hide-paymeth{display: none;}

/* credit card form Use Alias*/
/* ------------------------------------- */
.hide-credit-card div{display:none;}
.hide-credit-card span.form-label-text{display:none;}
.hide-credit-card div.cvn{display:block;}

/* direct debits form Use Alias*/
/* ------------------------------------- */
.direct-debits.hide-direct-debits{display: none;}

/* payment method display Use Alias*/
/* ------------------------------------- */
.payment-method-display{font:15px bold;margin:30px;}

/* payment method image*/
/* ------------------------------------- */
.payment-method-options .form-row .input-radio {float:left;}

.payment-method-options .form-row{width: 50%;}

.payment-method-image {float:left;padding-right:3px;}